openapi: 3.0.0
info:
  title: Catalog Search Introduction
  version: 26.0825.8081263
  x-version-timestamp: 2026-08-25T09:27:34Z
  description: |
    Elastic Path Catalog Search provides fast, relevant product search capabilities for your published catalogs. Catalog Search enables shoppers to find products quickly using full-text search, filtering, faceting, and sorting, while giving merchandisers powerful tools to customize search relevance and ranking.

    You can integrate Catalog Search into your storefront using the Catalog Search API or manage search settings through Commerce Manager.

    ### How Catalog Search Works

    Catalog Search works alongside your Product Experience Manager catalogs to provide optimized search functionality.

    When creating or updating a catalog, enable search to allow the catalog's products to be indexed. See [Catalogs](/docs/api/pxm/catalog/catalogs). Then when a search-enabled catalog is published, the products are automatically indexed for search. The search index contains product data optimized for fast querying.

    Use the Search API to query products with full-text search, filtering, faceting, and sorting. The results of the search contain the full product information, not just the indexed fields, reducing the need for further API calls.

    ### Key Capabilities

    - **Full-text search**: Search across product names, descriptions, SKUs, and custom fields with typo tolerance and relevance ranking
    - **Filtering**: Narrow results using conditions on product attributes, categories, prices, and custom fields
    - **Faceting**: Get aggregated counts for attribute values to build dynamic navigation and refinement options
    - **Sorting**: Order results by price, name, custom fields, or relevance score
    - **Search Profiles**: Configure search behavior including field weights, filters, and boost rules without code changes
    - **Custom Fields**: Extend the search schema with your own product attributes for filtering, faceting, and sorting
    - **Fully Hydrated Responses**: Search results contain complete information about the products, reducing the requirement for follow-up API calls.

    ### Personalized Search Results

    Search results are automatically personalized based on the shopper's context. Catalog rules determine which catalog and prices apply, and may optionally set a search profile for that segment:

    - **Channel**: The shopping experience, such as a web storefront or mobile app
    - **Account**: For B2B scenarios, the shopper's account and any parent accounts
    - **Customer**: The logged-in customer's segment or tier
    - **Tags**: Custom context tags for advanced segmentation scenarios
    - **Search profile**: When a matched catalog rule includes `search_profile_slug`, shopper search uses that profile for filters, ranking, and related search behaviour

    See [**Characteristics of Shopper Catalogs**](/docs/api/pxm/catalog/shopper-catalog-api#characteristics-of-shopper-catalogs) for more information. See [**Search Profiles**](/docs/api/pxm/catalog-search/search-profiles) for how a profile is chosen on shopper versus admin search.

    ### Search Profiles

    Search Profiles give merchandisers control over search behavior without requiring code changes. With Search Profiles, you can:

    - **Configure field weights**: Control which product fields are most important for relevance ranking
    - **Apply default filters**: Enforce business rules like only showing live products
    - **Boost products**: Promote featured products, specific brands, or categories to the top of results
    - **A/B test**: Create multiple profiles to test different search configurations

    See [**Search Profiles**](/docs/api/pxm/catalog-search/search-profiles) for more information.

    ### Extending the Search Schema

    By default, the search index includes standard product fields like name, description, SKU, and categories. You can extend the schema by adding custom fields using [Indexable Fields](/docs/api/pxm/catalog-search/indexable-fields).

    Two types of custom fields can be indexed:

    - **Product extension fields** (`extensions.products(<slug>).<field>`): Fields from your product extension templates.
    - **Product custom attributes** (`shopper_attributes.<attribute>` and `admin_attributes.<attribute>`): Merchant-defined key/value attributes on products.

    This allows you to:

    - Search on custom product attributes like brand, material, or specifications
    - Filter products by custom fields like color, size, or rating
    - Display facets for custom field values in your navigation
    - Sort results by custom numeric fields like rating or popularity

    See [**Indexable Fields**](/docs/api/pxm/catalog-search/indexable-fields) for more information.
servers:
  - url: https://euwest.api.elasticpath.com/v2
    description: EU west cluster
  - url: https://useast.api.elasticpath.com/v2
    description: US east cluster
security:
  - BearerToken: []
tags:
  - name: Search
    description: |
      The Search API enables you to search for products in your published catalogs. Search provides powerful capabilities including full-text search, filtering, faceting, and sorting to help shoppers find products quickly and efficiently.

      ### How Search Works

      When you publish a catalog with search enabled, the catalog's products are automatically indexed for search. The search index contains product data optimized for fast querying, including product names, descriptions, SKUs, categories, prices, and any custom fields you've configured.

      There are two types of search operations:

      - **Search**: Execute a single search query against a catalog. Use the GET endpoint for simple searches with query parameters.
      - **Multi-search**: Execute multiple search queries in a single request. Use the POST endpoint to batch searches together for improved performance.

      ### Search Features

      - **Full-text search**: Search across product names, descriptions, SKUs, and custom fields with typo tolerance and relevance ranking
      - **Filtering**: Narrow results using conditions on product attributes, categories, prices, and custom fields
      - **Faceting**: Get aggregated counts for attribute values to build dynamic navigation and refinement options
      - **Sorting**: Order results by price, name, custom fields, or relevance score
      - **Highlighting**: Get highlighted snippets showing where search terms match in product fields
      - **Autocomplete**: Get search suggestions as shoppers type their queries

      ### Shopper Context

      Search results are personalized based on the shopper's context. The system automatically determines which catalog and prices to use based on:

      - **Channel**: The shopping experience (web, mobile, B2B portal)
      - **Account**: For B2B scenarios, the account and parent accounts
      - **Customer**: The logged-in customer's segment
      - **Tags**: Custom context tags for advanced segmentation

      This context is provided via request headers and is used to resolve the appropriate catalog rules and price books.

      ### Admin vs Shopper Endpoints

      - **Shopper endpoints** (`/pcm/catalog/search`, `/pcm/catalog/multi-search`): Use shopper context headers to automatically resolve the correct catalog and prices.
      - **Admin endpoints** (`/pcm/catalogs/{catalog_id}/releases/{release_id}/search`): Directly specify the catalog and release to search, useful for previewing releases or testing.
  - name: Indexable Fields
    description: |
      Indexable Fields allow you to extend and fine-tune the search schema. By default, the search index includes all the core product fields like name, description, SKU, slug etc. Indexable Fields let you:

      - **Add custom fields** to the index from product extension templates or custom (shopper and admin) attributes
      - **Control tokenization for the whole index** using `stem`, `token_separators`, and `symbols_to_index`
      - **Enable sorting and faceting** on built-in fields like `name`, `sku`, `created_at`, and `updated_at`

      ### When to Use Indexable Fields

      Use Indexable Fields when you want to:

      - **Search custom attributes**: Enable full-text search on custom product fields like brand, material, or specifications
      - **Filter by custom attributes**: Allow shoppers to filter products by custom fields like color, size, or rating
      - **Facet on custom attributes**: Display aggregated counts for custom field values in your navigation
      - **Sort by custom attributes**: Order search results by custom numeric fields like rating or popularity
      - **Tune stemming**: Stemming is on for text fields by default, matching different word forms (e.g., "running" also matches "run", "runs"). Turn it off for the whole index if your catalog needs exact word matching
      - **Customize tokenization**: Control how hyphenated, compound, or symbol-containing text is split and indexed

      ### How Indexable Fields Work

      1. **Create indexable fields**: Define the custom fields to index, and set the index-wide `stem`, `token_separators`, and `symbols_to_index` values that apply to every text field
      2. **Enable sorting or faceting on core fields**: Use `core_field_overrides` to make built-in fields such as `name`, `sku`, `created_at`, or `updated_at` sortable or facetable
      3. **Reindex catalogs**: After creating or modifying indexable fields, reindex your catalog releases to apply the changes
      4. **Use in searches**: Once reindexed, custom fields are available in search queries for filtering, faceting, and sorting

      ### Field Configuration

      Each entry in the custom fields (`fields` array) supports the following options:

      | Option             | Description                                                                                               |
      |--------------------|-----------------------------------------------------------------------------------------------------------|
      | `name`             | The field path — see **Field Types** below for supported formats                                          |
      | `facetable`        | When `true`, the field can be used for faceting to show aggregated value counts                           |
      | `sortable`         | When `true`, the field can be used for sorting results                                                    |
      | `locale`           | ISO 639-1 language code for text tokenization — defaults to `en`; omitting it is identical to `en`         |
      | `stem`             | **Deprecated.** Per-field stemming, overriding the index-wide `stem`. See **Index-wide tokenization settings** |
      | `token_separators` | **Deprecated.** Per-field token separators, overriding the index-wide `token_separators`                  |
      | `symbols_to_index` | **Deprecated.** Per-field symbols to index, overriding the index-wide `symbols_to_index`                  |

      ### Field Types

      Two categories of fields can be indexed:

      #### Extension Fields

      Fields from your product extension templates, following the pattern `extensions.products(<template_slug>).<field_name>`:

      - `<template_slug>` is the slug of your product extension template
      - `<field_name>` is the name of the field within that template
      - The field must exist and be enabled in the flows service
      - Only enumerated string fields, numeric fields, and boolean fields can be faceted

      **Example**: For a product extension template with slug `Details` containing a field `brand`, the indexable field name would be `extensions.products(Details).brand`.

      #### Custom Attribute Fields

      Merchant-defined key/value attributes stored directly on products:

      - `shopper_attributes.<attribute_name>` — visible in shopper and admin catalog API responses and available for filtering, sorting, and faceting in both shopper and admin search
      - `admin_attributes.<attribute_name>` — available for filtering and sorting in both shopper and admin search; not returned in search response payloads
      - `<attribute_name>` must be no longer than **64 characters** and can only contain alphanumeric characters, underscores (`_`), and hyphens (`-`).
      - Attribute fields are always typed as `string`
      - Faceting and sorting can be enabled

      **Examples**: `shopper_attributes.fabric`, `admin_attributes.internal_grade`

      ### Core Field Overrides

      In addition to configuring custom fields, Indexable Fields can influence the behavior of built-in product fields such as `name`, `description`, and `sku`. Use `core_field_overrides` to apply per-field settings.

      Each entry supports `sortable` and `facetable`, plus the deprecated `stem`, `token_separators`, and `symbols_to_index`. The recommended use of `core_field_overrides` is enabling sorting or faceting on a core field.

      **Example**: Make `name` sortable and allow faceting on `created_at`:

      ```json
      {
        "core_field_overrides": [
          { "name": "name", "sortable": true },
          { "name": "created_at", "facetable": true }
        ]
      }
      ```

      ### Stemming

      Stemming reduces words to their root form at both index and query time, so a search for "running" also matches products containing "run", "runs", or "runner". This improves search recall for descriptive text fields where shoppers may use different word forms than those found in product data.

      **Stemming is on by default for every text field in the index** — custom fields and built-in fields alike, including identifier-style fields such as `sku`, `upc_ean`, and `manufacturer_part_num`.

      - Set `stem: false` at the top level of the indexable fields resource to turn stemming off across the whole index
      - Uses the [Snowball stemmer](https://snowballstem.org/), which supports many languages; a text field is stemmed for the language given by its `locale`
      - Applies to text fields only — numeric, boolean, and date fields are never stemmed

      Because identifier fields are stemmed too, closely related codes can match one another (for example `AB-1000S` and `AB-1000`). Nothing becomes harder to find — stored values and queries are stemmed the same way — but if a field needs exact word matching, opt that single field out:

      ```json
      {
        "stem": true,
        "core_field_overrides": [
          { "name": "sku", "stem": false }
        ]
      }
      ```

      Per-field `stem` is deprecated; read **Index-wide tokenization settings** below before relying on it.

      ### Token Separators and Symbols to Index

      These settings control how text is split into tokens during indexing and searching.

      #### Token Separators

      `token_separators` specifies characters that split text into separate tokens, in addition to the default whitespace splitting. This is useful for hyphenated text, part numbers, or other compound formats.

      For example, with `token_separators: ["-"]`, the text `non-tech` is tokenized to `non` and `tech`, so searches for both `non-tech` and `non tech` will match.

      #### Symbols to Index

      `symbols_to_index` specifies special characters that should be preserved within tokens rather than stripped during indexing. Useful when products contain meaningful symbols like `+`, `#`, or `@`.

      ### Index-wide tokenization settings

      `stem`, `token_separators`, and `symbols_to_index` can all be set **once at the top level** of the indexable fields resource, where they apply to every text field in the index. This is the recommended way to configure tokenization.

      ```json
      {
        "stem": true,
        "token_separators": ["-"],
        "symbols_to_index": ["+"]
      }
      ```

      All three are also available on individual entries in `fields` and `core_field_overrides`, where they override the index-wide value for that one field. **All three per-field forms are deprecated.** They keep working, and a per-field value still takes precedence, but they should be avoided except in the specific cases described below. An empty array at the field level defers to the index-wide setting.

      #### Why per-field tokenization settings are discouraged

      When a search targets several query fields, the query text is tokenized **once per request** — not once per field. The settings used are those of whichever query field carries the highest weight for that request, and the resulting tokens are then matched against every other field.

      So when the fields in a search profile carry different tokenization settings, only the highest-weighted field's settings shape how the query is split up. Every other field is matched using tokens that its own settings did not produce. Two examples of what that looks like in practice:

      - `name` stems and `sku` does not. A shopper searches for `shoes`. Because `name` carries the higher weight, the query is reduced to `shoe`, and that is what is matched against `sku` — so a product whose SKU contains `shoes` is not found.
      - `name` splits on `-` and `sku` does not. A shopper searches for `AB-1000`. The query is split into `AB` and `1000` before it reaches `sku`, whose contents were indexed as a single token.

      Setting all three at the index level avoids this entirely, because every field is then tokenized the same way as the query.

      **When a per-field setting is still legitimate:** a field that genuinely needs different treatment and is *not* queried alongside fields with different settings — for example opting one identifier field out of stemming, as shown under **Stemming** above. Whenever you do this, check the weights of the query fields on every search profile that includes the field, and expect the highest-weighted field's settings to govern the query.

      ### Reindexing Requirement

      Any change to indexable fields requires reindexing your catalog releases to take effect. The system detects when indexes are out of sync. Use the [reindex endpoint](/docs/api/pxm/catalog-search/reindex-tenant-releases) to apply changes. See [Jobs](/docs/api/pxm/catalog-search/jobs) for more details on reindexing operations.
  - name: Searchable Fields
    description: |
      Deprecated. Use [Indexed Fields](/docs/api/pxm/catalog-search/indexed-fields) (`GET /pcm/catalogs/search/indexed-fields`) instead.

      The Searchable Fields API lists **text** fields available as full-text query fields on a search profile. It does **not** return numeric, boolean, or date fields, and it is not the discovery API for filters, facets, or sorts.

      Prefer Indexed Fields, which returns every exposed indexed field and annotates each with `searchable` and `filterable` (and related flags such as `facetable` and `sortable`).

      This endpoint remains available for existing integrations. New clients should migrate to Indexed Fields.
  - name: Indexed Fields
    description: |
      The Indexed Fields API returns every field indexed for your catalog — of all types, not only text fields — so you can configure search profiles, filters, facets, and sorting without guessing which fields exist. Each field is annotated with whether it can be used for full-text search as a query field (`searchable`) and in filter expressions (`filterable`).
  - name: Search Profiles
    description: |
      Search Profiles are configuration objects that control how search queries are executed. They provide a powerful way to customize search relevance, filtering, and ranking without requiring code changes, enabling merchandisers and business users to optimize the search experience.

      ### How Search Profiles Work

      A Search Profile defines:

      - **Which fields to search**: Select which product fields are included in search queries
      - **Field weights**: Assign relative importance to each field for relevance ranking
      - **Default filters**: Apply business rules that filter results for all searches
      - **Boost rules**: Promote or demote products based on specific conditions
      - **Match type**: Control how scores from multiple fields are combined

      When a search request is made, the system resolves one search profile for the request. On shopper search, a valid catalog rule `search_profile_slug` takes precedence over the `search_profile` query parameter; otherwise the query parameter, tenant default, and built-in default apply in that order. Admin search (explicit catalog and release) ignores catalog rule profiles. Successful responses include the `EP-Search-Profile` header with the slug actually applied (`SYSTEMS_DEFAULT_PROFILE` for the built-in default).

      ### Search Profile Components

      | Component         | Description                                                                               |
      |-------------------|-------------------------------------------------------------------------------------------|
      | `slug`            | Unique identifier used to reference the profile in search requests                        |
      | `fields`          | List of fields to search with optional weights for relevance ranking                      |
      | `filters`         | Default filter expressions applied to all searches using this profile                     |
      | `boosts`          | Rules for promoting or demoting products based on conditions                              |
      | `text_match_type` | How to combine scores when multiple fields match (`max_score`, `max_weight`, `sum_score`) |

      ### Field Weights

      Field weights control how important each field is when ranking search results. Higher weights mean matches in that field contribute more to the relevance score. Weights must be in the range `[0, 15]`.

      **Example**: A profile with `name` (weight 10) and `description` (weight 5) will rank products with search term matches in the name higher than those with matches only in the description.

      Weights do more than rank results: the **highest-weighted field also decides how the search terms are
      interpreted** — how they are split into tokens, whether they are stemmed, and which locale's synonyms
      expand. Reordering weights can therefore change which synonyms apply to a search. See **Locale and
      Synonym Expansion** in the Synonym Sets documentation.

      ### Filters

      Profile filters enforce business rules that apply to all searches:

      - Ensure only live/published products appear in results
      - Restrict results to specific categories or channels
      - Hide products based on visibility settings

      Multiple filters are combined with OR logic, then ANDed with any filters in the search request.

      ### Boost Rules

      Boost rules allow you to promote or demote products in search results:

      - **Positive weights**: Push matching products to the top of results
      - **Negative weights**: Push matching products to the bottom (burying)
      - **Zero weight**: No effect on ranking

      Rules are evaluated in weight order, and the first matching rule determines the product's boost.

      ### Text Match Types

      | Type         | Description                                                                            |
      |--------------|----------------------------------------------------------------------------------------|
      | `max_score`  | Uses the highest score from any single matching field. Prioritizes match quality.      |
      | `max_weight` | Uses the score from the highest-weighted matching field. Prioritizes field importance. |
      | `sum_score`  | Sums weighted scores from all matching fields. Rewards multi-field matches.            |

      ### Default Profile

      Each store has a default search profile that is used when no profile is specified in the search request. You can set any profile as the default using the set default endpoint.

      ### Use Cases

      - **A/B testing**: Create multiple profiles with different configurations to test search relevance
      - **Channel optimization**: Different profiles for web, mobile, and B2B channels
      - **Seasonal merchandising**: Profiles that boost seasonal or promotional products
      - **Customer segmentation**: Different ranking strategies for different customer tiers
  - name: Search Indexes
    description: |
      Search Indexes represent the indexed data for your catalog releases. Each time a catalog is published with search enabled, a search index is created containing the product data optimized for fast querying.

      ### Index Status

      The Search Indexes API allows you to view the status of your indexes and identify any that are out of sync. An index becomes out of sync when:

      - Indexable fields have been added, modified, or deleted
      - The index failed to build during catalog publishing
      - A reindex is required due to schema changes

      ### Monitoring Indexes

      Use the list endpoint to:

      - **View all indexes**: See all search indexes for your store
      - **Check sync status**: Identify indexes that need reindexing
      - **Filter by status**: Find only out-of-sync indexes using the `out_of_sync` query parameter

      ### Index Information

      Each search index includes:

      | Property      | Description                                             |
      |---------------|---------------------------------------------------------|
      | `catalog_id`  | The ID of the catalog this index belongs to             |
      | `release_id`  | The ID of the catalog release this index was built from |
      | `out_of_sync` | Whether the index needs to be rebuilt                   |

      ### Reindexing

      When indexes are out of sync, use the reindex endpoint in [Jobs](/docs/api/pxm/catalog-search/jobs) to rebuild them. Reindexing ensures your search indexes reflect the current indexable field configuration.
  - name: Jobs
    description: |
      Jobs manage the indexing operations for catalog search. When catalogs are published or when reindexing is required, jobs process the product data and build search indexes.

      ### Job Types

      | Type                      | Description                                                                                         |
      |---------------------------|-----------------------------------------------------------------------------------------------------|
      | `index-release`           | Index a specific catalog release. Created automatically when a search-enabled catalog is published. |
      | `delete-release`          | Remove the search index for a catalog release.                                                      |
      | `reindex-tenant-releases` | Reindex all catalog releases for the store. Use when indexable fields have changed.                 |

      ### Job Lifecycle

      Jobs progress through the following states:

      1. **pending**: Job has been created and is waiting to be processed
      2. **processing**: Job is actively indexing products
      3. **complete**: Job finished successfully
      4. **failed**: Job encountered an error

      ### Automatic Indexing

      When you publish a catalog with search enabled, an `index-release` job is automatically created. The catalog release remains in a publishing state until the indexing job completes successfully.

      ### Manual Reindexing

      Use the reindex endpoint when:

      - You've added, modified, or deleted indexable fields
      - Search indexes are out of sync (check via [Search Indexes](/docs/api/pxm/catalog-search/search-indexes))
      - You need to rebuild indexes after a failure

      The reindex operation creates jobs for all catalog releases that need updating. You can optionally force a full reindex of all releases regardless of their sync status.

      ### Conflict Handling

      Only one reindexing operation can run at a time. If you attempt to start a reindex while another is in progress, the API returns a 409 Conflict error.
  - name: Stopword Sets
    description: |
      Stopword Sets allow you to define sets of common words (such as "the", "a", "an", "is") that should be ignored during search queries. By removing these low-value terms from search processing, you can improve search relevance and reduce noise in results.

      ### How Stopword Sets Work

      A stopword set is a named container of stopword words. Each set belongs to an organization or store and is synced asynchronously. Once synced, the stopwords are applied during search query processing to filter out the specified terms.

      ### Common Stopwords

      Stopword sets contain a flat list of words to ignore:

      - **Common articles**: "the", "a", "an"
      - **Prepositions**: "in", "on", "at", "for"
      - **Conjunctions**: "and", "or", "but"

      ### Sync Status

      Stopword sets are synced asynchronously. The sync status is tracked and exposed in API responses:

      | Status           | Description                                                    |
      |------------------|----------------------------------------------------------------|
      | `pending_sync`   | Set has been saved but is not yet applied to the search cluster |
      | `synced`         | Set has been successfully synced                               |
      | `sync_failed`    | The last sync attempt failed                                   |
      | `pending_delete` | Set is marked for deletion; a background worker will remove it |

      ### Tenancy

      Stopword sets follow the same tenancy model as other resources:

      - **Organization-scoped sets**: Managed by the organization; apply across all stores
      - **Store-scoped sets**: Managed by the store; apply only to that store

      Stores cannot modify organization-scoped stopword sets.
  - name: Synonym Sets
    description: |
      Synonym Sets allow you to define groups of equivalent or related terms so that searches for one term also return results for its synonyms. This helps shoppers find products regardless of the specific terminology they use.

      ### How Synonym Sets Work

      A synonym set is a named container of synonym items. Each set belongs to an organization or store and is synced asynchronously. Once synced, a set can be attached to one or more search profiles; its synonym rules are then applied during searches that use those profiles to expand queries with matching terms.

      ### Synonym Types

      Each item within a synonym set can be either multi-way or one-way:

      - **Multi-way synonyms**: All terms are treated as equivalent. Searching for any term in the list returns results for all of them. For example, `["sneakers", "trainers", "running shoes"]` means a search for "trainers" also returns results for "sneakers" and "running shoes".
      - **One-way synonyms**: Searches for a `root` term also match the `synonyms`, but not vice versa. For example, with `root: "jacket"` and `synonyms: ["blazer", "coat"]`, searching for "jacket" also returns results for "blazer" and "coat", but searching for "blazer" does not return results for "jacket".

      ### Synonym Item Configuration

      Each item within a synonym set supports the following options:

      | Option             | Required | Description                                                                                                  |
      |--------------------|----------|--------------------------------------------------------------------------------------------------------------|
      | `id`               | Yes      | Unique identifier for the item within the set. Alphanumeric characters, hyphens, and underscores only.       |
      | `synonyms`         | Yes      | List of synonym terms. Minimum 1 if `root` is provided (one-way), minimum 2 if `root` is absent (multi-way). |
      | `root`             | No       | Makes this a one-way synonym. Must not also appear in the `synonyms` array.                                  |
      | `locale`           | No       | ISO 639-1 language code for this item. Defaults to `en`. See **Locale and Synonym Expansion** below.          |
      | `symbols_to_index` | No       | Special characters to preserve as part of tokens. Each element must be exactly one character.                |

      ### Locale and Synonym Expansion

      A synonym only expands a query when its locale matches the locale of the **highest-weighted search field**
      for that request. Omitting a locale is identical to setting `en`, so under a normal single-language
      configuration every synonym applies and no locale needs to be set.

      Locale becomes significant when a catalog carries localized product text:

      - A request with no `Accept-Language` header searches the catalog's global `name` and `description`, which
        are English. Synonyms with locale `en` — or none — expand.
      - A request with `Accept-Language: fr`, against a catalog that has French `name` or `description`, promotes
        the French text above the global text. Only synonyms with locale `fr` expand; English ones do not. **A
        French catalog therefore needs French synonym items.**
      - If a field that has no localized variant is weighted above `name` and `description`, that field's locale
        governs instead, so French synonyms do not expand even for a French request.
      - A custom field configured with a locale governs every request when it is the highest-weighted field,
        including requests with no `Accept-Language` header.

      Because the highest-weighted field decides this, changing search field weights can change which synonyms
      expand.

      ### Sync Status

      Synonym sets are synced asynchronously. The sync status is tracked and exposed in API responses:

      | Status           | Description                                                    |
      |------------------|----------------------------------------------------------------|
      | `pending_sync`   | Set has been saved but is not yet applied to the search cluster |
      | `synced`         | Set has been successfully synced                               |
      | `sync_failed`    | The last sync attempt failed                                   |
      | `pending_delete` | Set is marked for deletion; a background worker will remove it |

      ### Tenancy

      Synonym sets follow the same tenancy model as other resources:

      - **Organization-scoped sets**: Managed by the organization; apply across all stores
      - **Store-scoped sets**: Managed by the store; apply only to that store

      Stores cannot modify organization-scoped synonym sets.

      ### Using Synonym Sets in Search Profiles

      Synonym sets only take effect once they are attached to a [search profile](/docs/api/pxm/catalog-search/search-profiles) via its `synonym_sets` attribute. At search time, the synonym sets of the resolved search profile are applied to the query.

      When attaching a synonym set to a search profile:

      - The set must exist and be accessible by the calling tenant. Organization-level search profiles may only reference organization-level sets; store-level search profiles may reference organization-level and same-store sets.
      - The set must have been synced at least once. A set in `pending_sync` or `sync_failed` state can still be used if it was previously synced — its last synced state continues to apply.

      A synonym set cannot be deleted while it is referenced by any search profile; the delete request is rejected with a `409 Conflict` until the reference is removed.

      ### Use Cases

      - **Regional terminology**: Map British and American English terms (e.g., "trousers" ↔ "pants")
      - **Brand equivalents**: Link product category names with common alternatives
      - **Industry jargon**: Ensure technical terms match colloquial ones
      - **Abbreviations**: Map abbreviations to their full forms (e.g., "tee" → "t-shirt")
  - name: Search Rule Groups
    description: |
      Search Rule Groups are named containers for merchandising rules that run at **query time** in catalog-search. Each group holds rules with exact, contains, or browse triggers and boost/bury, pin, hide, query-rewrite, and filter actions.

      ### How rule groups work

      1. **Create a rule group** with a unique `slug`.
      2. **Add rules** to the group with `execution_order`, a `trigger` (`exact`, `contains`, or `browse`), and at least one action (for example `actions.boosts`).
      3. **Attach the group** to a search profile via the ordered `rule_groups` array (group UUIDs earlier in the array run first).
      4. **Search** using that profile — matching rules apply boost or bury as part of result ranking.

      Non-empty `rule_groups` activates query-time rules on **every** search for that profile. Rule actions (e.g. boost/bury) apply only when a trigger matches the shopper query; unmatched queries keep profile ranking. Clear the array for profile-only behaviour.

      ### Execution order

      | Field | Scope | Behaviour |
      |-------|-------|-----------|
      | `rule_groups` array position | Across attached groups | Earlier array entry runs first |
      | `execution_order` on a rule | Within a group | Lower integer runs first; must be unique per group |

      ### Tenancy

      Rule groups follow the same organization/store tenancy model as search profiles. A profile may only reference rule groups visible to its tenant.
  - name: Search Rules
    description: |
      Search Rules define merchandising behaviour inside a **search rule group**. Each rule matches shopper queries using a `trigger` and applies `actions` when the trigger fires.

      ### Triggers

      | `match` | Behaviour |
      |---------|-----------|
      | `exact` | Normalized query must equal the trigger `query` (default) |
      | `contains` | Trigger `query` must appear as a substring in the normalized query |
      | `browse` | Matches a non-autocomplete wildcard query (`q=*`); omit `query` |

      Query text is normalized (trimmed, lowercased, whitespace collapsed) before matching.

      ### Actions

      - **`boosts`**: `{ condition, weight }` pairs using standard filter syntax. Positive weights boost; negative weights bury.
      - **`pins`**: product IDs at global one-based result positions. Active filters still apply.
      - **`hides`**: product IDs removed from results; hide beats pin for the same product.
      - **`replace_query`**: one non-empty replacement query. The first rewrite wins and rule matching runs once more on the replacement.
      - **`filter_by`**: one validated expression ANDed with profile and shopper filters.

      ### Rule evaluation

      - Rules are evaluated in one profile-wide pipeline: **profile `rule_groups` array order**, then **rule `execution_order`**.
      - Set `stop_after_match: true` to skip later rules, including rules in later attached groups.
      - `execution_order` must be unique within a group.

      ### Example workflow

      Create a group `drill-boost`, add an `exact` rule on query `drill` that boosts `extensions.products(Details).BRAND-NAME:=Milwaukee` by `100`, then attach the group to a search profile's `rule_groups` array.
paths:
  /pcm/catalog/multi-search:
    post:
      tags:
        - Search
      operationId: postMultiSearch
      summary: Multi-search
      description: Execute one or more searches in a single request.
      parameters:
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/products-include'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/search-profile'
        - $ref: '#/components/parameters/simulated-shopper-date'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiSearchRequest'
      responses:
        '200':
          description: Multi-search results
          headers:
            EP-Search-Profile:
              $ref: '#/components/headers/ep-search-profile'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiSearchResponse'
        '400':
          description: Bad request - invalid search parameters
          headers:
            EP-Search-Profile:
              $ref: '#/components/headers/ep-search-profile'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid-filter:
                  value:
                    errors:
                      - title: Invalid Filter
                        status: '400'
                        detail: Could not parse the filter query.
                invalid-facet:
                  value:
                    errors:
                      - title: Invalid Facet
                        status: '400'
                        detail: Invalid facet field specified.
                invalid-pagination:
                  value:
                    errors:
                      - title: Invalid Pagination
                        status: '400'
                        detail: Invalid page or per_page parameter.
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/{catalog_id}/releases/{release_id}/multi-search:
    post:
      tags:
        - Search
      operationId: multiSearchByCatalogRelease
      summary: Admin Multi-search
      description: Execute one or more searches in a single request.
      parameters:
        - name: catalog_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the catalog to query
          x-go-name: catalogID
        - name: release_id
          in: path
          required: true
          schema:
            type: string
          description: The unique ID of a published release of the catalog or `latestPublished` for the most recently published version
          x-go-name: releaseID
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/products-include'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/pricebook-ids-for-price-segmentation-preview'
        - $ref: '#/components/parameters/pricebook-ids-of-available-prices-to-show'
        - $ref: '#/components/parameters/search-profile'
        - $ref: '#/components/parameters/simulated-shopper-date'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiSearchRequest'
      responses:
        '200':
          description: Multi-search results
          headers:
            EP-Search-Profile:
              $ref: '#/components/headers/ep-search-profile'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiSearchResponse'
        '400':
          description: Bad request - invalid search parameters
          headers:
            EP-Search-Profile:
              $ref: '#/components/headers/ep-search-profile'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid-filter:
                  value:
                    errors:
                      - title: Invalid Filter
                        status: '400'
                        detail: Could not parse the filter query.
                invalid-facet:
                  value:
                    errors:
                      - title: Invalid Facet
                        status: '400'
                        detail: Invalid facet field specified.
                invalid-pagination:
                  value:
                    errors:
                      - title: Invalid Pagination
                        status: '400'
                        detail: Invalid page or per_page parameter.
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalog/search:
    get:
      tags:
        - Search
      operationId: searchByContext
      summary: Search
      description: Execute search.
      parameters:
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/products-include'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/search-profile'
        - $ref: '#/components/parameters/search-query-param-type'
        - $ref: '#/components/parameters/search-query-param-highlight-full-fields'
        - $ref: '#/components/parameters/search-query-param-q'
        - $ref: '#/components/parameters/search-query-param-facet-by'
        - $ref: '#/components/parameters/search-query-param-filter-by'
        - $ref: '#/components/parameters/search-query-param-sort-by'
        - $ref: '#/components/parameters/search-query-param-max-facet-values'
        - $ref: '#/components/parameters/simulated-shopper-date'
        - in: query
          name: page
          schema:
            type: integer
          example: 1
        - in: query
          name: per_page
          schema:
            type: integer
          example: 10
      responses:
        '200':
          description: Search results
          headers:
            EP-Search-Profile:
              $ref: '#/components/headers/ep-search-profile'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          description: Bad request - invalid search parameters
          headers:
            EP-Search-Profile:
              $ref: '#/components/headers/ep-search-profile'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid-filter:
                  value:
                    errors:
                      - title: Invalid Filter
                        status: '400'
                        detail: Could not parse the filter query.
                invalid-facet:
                  value:
                    errors:
                      - title: Invalid Facet
                        status: '400'
                        detail: Invalid facet field specified.
                invalid-pagination:
                  value:
                    errors:
                      - title: Invalid Pagination
                        status: '400'
                        detail: Invalid page or per_page parameter.
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/{catalog_id}/releases/{release_id}/search:
    get:
      tags:
        - Search
      operationId: searchByCatalogRelease
      summary: Admin Search
      description: Execute search.
      parameters:
        - name: catalog_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the catalog to query
          x-go-name: catalogID
        - name: release_id
          in: path
          required: true
          schema:
            type: string
          description: The unique ID of a published release of the catalog or `latestPublished` for the most recently published version
          x-go-name: releaseID
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/products-include'
        - $ref: '#/components/parameters/currency'
        - $ref: '#/components/parameters/pricebook-ids-for-price-segmentation-preview'
        - $ref: '#/components/parameters/pricebook-ids-of-available-prices-to-show'
        - $ref: '#/components/parameters/search-profile'
        - $ref: '#/components/parameters/search-query-param-type'
        - $ref: '#/components/parameters/search-query-param-highlight-full-fields'
        - $ref: '#/components/parameters/search-query-param-q'
        - $ref: '#/components/parameters/search-query-param-facet-by'
        - $ref: '#/components/parameters/search-query-param-filter-by'
        - $ref: '#/components/parameters/search-query-param-sort-by'
        - $ref: '#/components/parameters/search-query-param-max-facet-values'
        - $ref: '#/components/parameters/simulated-shopper-date'
        - in: query
          name: page
          schema:
            type: integer
          example: 1
        - in: query
          name: per_page
          schema:
            type: integer
          example: 10
      responses:
        '200':
          description: Search results
          headers:
            EP-Search-Profile:
              $ref: '#/components/headers/ep-search-profile'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          description: Bad request - invalid search parameters
          headers:
            EP-Search-Profile:
              $ref: '#/components/headers/ep-search-profile'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid-filter:
                  value:
                    errors:
                      - title: Invalid Filter
                        status: '400'
                        detail: Could not parse the filter query.
                invalid-facet:
                  value:
                    errors:
                      - title: Invalid Facet
                        status: '400'
                        detail: Invalid facet field specified.
                invalid-pagination:
                  value:
                    errors:
                      - title: Invalid Pagination
                        status: '400'
                        detail: Invalid page or per_page parameter.
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/reindex-releases:
    post:
      tags:
        - Jobs
      operationId: ReindexTenantReleases
      summary: Reindex all releases for tenant
      description: Create a new job to reindex all releases for the tenant.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReindexTenantReleasesJobRequest'
      responses:
        '200':
          description: Reindex tenant releases request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - another reindexing job already queued or in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/indexable-fields:
    post:
      tags:
        - Indexable Fields
      operationId: createIndexableFields
      summary: Create indexable fields
      description: Specify additional fields to be indexed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndexableFieldsCreateRequest'
      responses:
        '201':
          description: Successfully created indexable fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexableFieldsResponse'
        '400':
          description: Bad request - invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - reindexing job queued or in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Indexable Fields
      operationId: listIndexableFields
      summary: List indexable fields
      description: List indexable fields.
      responses:
        '200':
          description: List indexable fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIndexableFieldsResponse'
        '400':
          description: Bad request - invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/indexable-fields/{indexable_fields_id}:
    parameters:
      - name: indexable_fields_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The unique ID of the indexable fields
        example: ac107ce9-96ac-4bd5-aa3d-59f40b91279b
        x-go-name: IndexableFieldsID
    get:
      tags:
        - Indexable Fields
      operationId: getIndexableFields
      summary: Get indexable fields
      description: Get additional fields to be indexed.
      responses:
        '200':
          description: Get indexable fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexableFieldsResponse'
        '400':
          description: Bad request - invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Indexable fields not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Indexable Fields
      operationId: updateIndexableFields
      summary: Update indexable fields
      description: Update additional fields to be indexed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndexableFieldsUpdateRequest'
      responses:
        '200':
          description: Successfully updated indexable fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexableFieldsResponse'
        '400':
          description: Bad request - invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied - indexable fields owned by the organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Indexable fields not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - reindexing job queued or in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Indexable Fields
      operationId: deleteIndexableFields
      summary: Delete indexable fields
      description: Delete additional fields to be indexed.
      responses:
        '204':
          description: Successfully deleted indexable fields
        '400':
          description: Bad request - invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied - indexable fields owned by the organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - reindexing job queued or in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/searchable-fields:
    get:
      tags:
        - Searchable Fields
      operationId: listSearchableFields
      summary: List searchable fields
      deprecated: true
      description: |
        Lists the text fields available for use as search query fields.

        Deprecated: use `GET /pcm/catalogs/search/indexed-fields`, which lists all indexed fields and indicates whether each is searchable and filterable.
      responses:
        '200':
          description: List searchable fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchableFieldsResponse'
        '400':
          description: Bad request - invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/search/indexed-fields:
    get:
      tags:
        - Indexed Fields
      operationId: listIndexedFields
      summary: List indexed fields
      description: Lists all indexed fields available for configuring search.
      responses:
        '200':
          description: List indexed fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexedFieldsResponse'
        '400':
          description: Bad request - invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/search-profiles:
    post:
      tags:
        - Search Profiles
      operationId: createSearchProfile
      summary: Create search profile
      description: Create a new search profile.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchProfileCreateRequest'
      responses:
        '201':
          description: Successfully created search profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchProfileResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Search Profiles
      operationId: listSearchProfiles
      summary: List search profiles
      description: List search profiles.
      responses:
        '200':
          description: List search profiles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSearchProfilesResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/search-profiles/{search_profile_id}:
    parameters:
      - name: search_profile_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The unique ID of the search profile
        example: ac107ce9-96ac-4bd5-aa3d-59f40b91279b
        x-go-name: ProfileID
    get:
      tags:
        - Search Profiles
      operationId: getSearchProfile
      summary: Get search profile
      description: Get a search profile.
      parameters:
        - name: search_profile_id
          in: path
          required: true
          schema:
            type: string
          description: The unique ID of the search profile or 'default' to retrieve the default search profile.
          example: ac107ce9-96ac-4bd5-aa3d-59f40b91279b
          x-go-name: ProfileID
      responses:
        '200':
          description: Successfully retrieved search profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchProfileResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Search profile not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Search Profiles
      operationId: updateSearchProfile
      summary: Update search profile
      description: Update a search profile.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchProfileUpdateRequest'
      responses:
        '200':
          description: Successfully updated search profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchProfileResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied - search profile owned by the organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Search profile not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Search Profiles
      operationId: deleteSearchProfile
      summary: Delete search profile
      description: Delete a search profile.
      responses:
        '204':
          description: Successfully deleted search profile
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied - search profile owned by the organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/search-profiles/{search_profile_id}/default:
    parameters:
      - name: search_profile_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The unique ID of the search profile
        example: ac107ce9-96ac-4bd5-aa3d-59f40b91279b
        x-go-name: ProfileID
    post:
      tags:
        - Search Profiles
      operationId: setDefaultSearchProfile
      summary: Set search profile as default
      description: Set a search profile as the default.
      responses:
        '200':
          description: Successfully updated the search profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchProfileResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied - search profile owned by the organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Search profile not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/search/stopword-sets:
    post:
      tags:
        - Stopword Sets
      operationId: createStopwordSet
      summary: Create stopword set
      description: Create a new stopwords set.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStopwordSetRequest'
      responses:
        '201':
          description: Successfully created stopword set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopwordSetResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - a stopwords set for the given locale already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Stopword Sets
      operationId: listStopwordSets
      summary: List stopword sets
      description: List all stopwords sets.
      responses:
        '200':
          description: Successfully listed stopword sets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListStopwordSetsResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/search/stopword-sets/{stopword_set_id}:
    parameters:
      - name: stopword_set_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The unique ID of the stopword set
        example: 550e8400-e29b-41d4-a716-446655440000
        x-go-name: StopwordSetID
    get:
      tags:
        - Stopword Sets
      operationId: getStopwordSet
      summary: Get stopword set
      description: Get a stopwords set by ID.
      responses:
        '200':
          description: Successfully retrieved stopword set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopwordSetResponse'
        '404':
          description: Stopword set not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Stopword Sets
      operationId: updateStopwordSet
      summary: Update stopword set
      description: Update the stopwords in an existing stopwords set. The locale cannot be changed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStopwordSetRequest'
      responses:
        '200':
          description: Successfully updated stopword set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopwordSetResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Stopword set not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Stopword Sets
      operationId: deleteStopwordSet
      summary: Delete stopword set
      description: Delete a stopword set by ID.
      responses:
        '204':
          description: Stopword set marked for deletion
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/search/synonym-sets:
    post:
      tags:
        - Synonym Sets
      operationId: createSynonymSet
      summary: Create synonym set
      description: Create a new synonym set.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSynonymSetRequest'
      responses:
        '201':
          description: Successfully created synonym set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SynonymSetResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Synonym Sets
      operationId: listSynonymSets
      summary: List synonym sets
      description: List all synonym sets.
      responses:
        '200':
          description: Successfully listed synonym sets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSynonymSetsResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/search/synonym-sets/{synonym_set_id}:
    parameters:
      - name: synonym_set_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The unique ID of the synonym set
        example: 550e8400-e29b-41d4-a716-446655440000
        x-go-name: SynonymSetID
    get:
      tags:
        - Synonym Sets
      operationId: getSynonymSet
      summary: Get synonym set
      description: Get a synonym set by ID.
      responses:
        '200':
          description: Successfully retrieved synonym set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SynonymSetResponse'
        '404':
          description: Synonym set not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Synonym Sets
      operationId: updateSynonymSet
      summary: Update synonym set
      description: Update a synonym set by ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSynonymSetRequest'
      responses:
        '200':
          description: Successfully updated synonym set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SynonymSetResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Synonym set not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Synonym Sets
      operationId: deleteSynonymSet
      summary: Delete synonym set
      description: Delete a synonym set by ID. A synonym set cannot be deleted while it is being used by any search profile.
      responses:
        '204':
          description: Synonym set marked for deletion
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - synonym set is referenced by a search profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/search/rule-groups:
    post:
      tags:
        - Search Rule Groups
      operationId: createSearchRuleGroup
      summary: Create search rule group
      description: |
        Create a new search rule group for the current tenant. The `slug` must be unique within the tenant.

        After creating a group, add rules with `POST /pcm/catalogs/search/rule-groups/{rule_group_id}/rules`, then attach the group UUID to a search profile's `rule_groups` attribute to activate merchandising at search time.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSearchRuleGroupRequest'
            examples:
              drill-boost:
                summary: Group for drill-query brand boost
                value:
                  data:
                    type: catalog_search_rule_group
                    attributes:
                      slug: drill-boost
                      description: Boost Milwaukee products on drill queries
      responses:
        '201':
          description: Successfully created search rule group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchRuleGroupResponse'
              examples:
                drill-boost:
                  summary: Created drill-boost group
                  value:
                    data:
                      id: 550e8400-e29b-41d4-a716-446655440000
                      type: catalog_search_rule_group
                      attributes:
                        slug: drill-boost
                        description: Boost Milwaukee products on drill queries
                      meta:
                        created_at: '2026-03-05T12:00:00Z'
                        updated_at: '2026-03-05T12:00:00Z'
                        owner: organization
        '400':
          description: Bad request - invalid parameters or duplicate slug
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                duplicate-slug:
                  summary: Slug already exists
                  value:
                    errors:
                      - status: '400'
                        title: Bad Request
                        detail: search rule group with the slug already exists
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Search Rule Groups
      operationId: listSearchRuleGroups
      summary: List search rule groups
      description: List search rule groups for the current tenant with offset/limit pagination.
      responses:
        '200':
          description: Successfully listed search rule groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSearchRuleGroupsResponse'
              examples:
                two-groups:
                  summary: Two rule groups
                  value:
                    data:
                      - id: 550e8400-e29b-41d4-a716-446655440000
                        type: catalog_search_rule_group
                        attributes:
                          slug: drill-boost
                          description: Boost Milwaukee products on drill queries
                        meta:
                          created_at: '2026-03-05T12:00:00Z'
                          updated_at: '2026-03-05T12:00:00Z'
                          owner: organization
                      - id: a1000001-0001-4000-8000-000000000001
                        type: catalog_search_rule_group
                        attributes:
                          slug: cordless-boost
                          description: Boost cordless tool brands
                        meta:
                          created_at: '2026-03-06T09:15:00Z'
                          updated_at: '2026-03-06T09:15:00Z'
                          owner: organization
                    meta:
                      results:
                        total: 2
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/search/rule-groups/{rule_group_id}:
    parameters:
      - name: rule_group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The unique ID of the search rule group
        example: 550e8400-e29b-41d4-a716-446655440000
        x-go-name: RuleGroupID
    get:
      tags:
        - Search Rule Groups
      operationId: getSearchRuleGroup
      summary: Get search rule group
      description: Get a search rule group by ID.
      responses:
        '200':
          description: Successfully retrieved search rule group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchRuleGroupResponse'
              examples:
                drill-boost:
                  summary: Single rule group
                  value:
                    data:
                      id: 550e8400-e29b-41d4-a716-446655440000
                      type: catalog_search_rule_group
                      attributes:
                        slug: drill-boost
                        description: Boost Milwaukee products on drill queries
                      meta:
                        created_at: '2026-03-05T12:00:00Z'
                        updated_at: '2026-03-05T12:00:00Z'
                        owner: organization
        '404':
          description: Search rule group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Search Rule Groups
      operationId: updateSearchRuleGroup
      summary: Update search rule group
      description: Update the slug and/or description of a search rule group. This label-only change does not alter rule evaluation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSearchRuleGroupRequest'
      responses:
        '200':
          description: Successfully updated search rule group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchRuleGroupResponse'
        '400':
          description: Bad request - no supported attributes or invalid values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Search rule group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Search Rule Groups
      operationId: deleteSearchRuleGroup
      summary: Delete search rule group
      description: |
        Delete a search rule group by ID. Rules in the group are cascade-deleted.

        A rule group cannot be deleted while it is referenced by any search profile. Remove the group from profile `rule_groups` first.

        Repeated delete requests succeed with **204 No Content** when the group is already gone.
      responses:
        '204':
          description: Successfully deleted search rule group
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - search rule group is referenced by a search profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/search/rule-groups/{rule_group_id}/rules:
    parameters:
      - name: rule_group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The unique ID of the search rule group
        example: 550e8400-e29b-41d4-a716-446655440000
        x-go-name: RuleGroupID
    post:
      tags:
        - Search Rules
      operationId: createSearchRule
      summary: Create search rule
      description: |
        Create a search rule in the given rule group. Each rule requires a unique `execution_order` within the group.

        Boost `condition` values use the same filter syntax as search profile boosts and must reference indexed fields. At least one supported action is required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSearchRuleRequest'
            examples:
              exact-boost:
                summary: Exact match brand boost
                value:
                  data:
                    type: catalog_search_rule
                    attributes:
                      slug: boost-milwaukee
                      description: Boost Milwaukee brand on exact drill query
                      execution_order: 1
                      trigger:
                        query: drill
                        match: exact
                      actions:
                        boosts:
                          - condition: extensions.products(Details).BRAND-NAME:=Milwaukee
                            weight: 100
                      stop_after_match: false
              contains-boost:
                summary: Contains match for multi-word queries
                value:
                  data:
                    type: catalog_search_rule
                    attributes:
                      slug: boost-cordless
                      description: Boost when query contains cordless
                      execution_order: 10
                      trigger:
                        query: cordless
                        match: contains
                      actions:
                        boosts:
                          - condition: extensions.products(Details).BRAND-NAME:=Milwaukee
                            weight: 50
                      stop_after_match: false
      responses:
        '201':
          description: Successfully created search rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchRuleResponse'
              examples:
                exact-boost:
                  summary: Created exact-match rule
                  value:
                    data:
                      id: 8fccaa19-dba9-4621-8d11-31a222a68c7c
                      type: catalog_search_rule
                      attributes:
                        slug: boost-milwaukee
                        description: Boost Milwaukee brand on exact drill query
                        execution_order: 1
                        trigger:
                          query: drill
                          match: exact
                        actions:
                          boosts:
                            - condition: extensions.products(Details).BRAND-NAME:=Milwaukee
                              weight: 100
                        stop_after_match: false
                      meta:
                        created_at: '2026-03-05T12:00:00Z'
                        updated_at: '2026-03-05T12:00:00Z'
                        owner: organization
        '400':
          description: Bad request - invalid parameters or duplicate execution order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                duplicate-execution-order:
                  summary: Execution order already used in group
                  value:
                    errors:
                      - status: '400'
                        title: Bad Request
                        detail: 'data.attributes.execution_order: execution order must be unique within the group'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Search rule group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Search Rules
      operationId: listSearchRules
      summary: List search rules
      description: List rules in a search rule group, ordered by `execution_order`, with offset/limit pagination.
      responses:
        '200':
          description: Successfully listed search rules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSearchRulesResponse'
              examples:
                drill-rules:
                  summary: Rules in drill-boost group
                  value:
                    data:
                      - id: 8fccaa19-dba9-4621-8d11-31a222a68c7c
                        type: catalog_search_rule
                        attributes:
                          slug: boost-milwaukee
                          description: Boost Milwaukee brand on exact drill query
                          execution_order: 1
                          trigger:
                            query: drill
                            match: exact
                          actions:
                            boosts:
                              - condition: extensions.products(Details).BRAND-NAME:=Milwaukee
                                weight: 100
                          stop_after_match: false
                        meta:
                          created_at: '2026-03-05T12:00:00Z'
                          updated_at: '2026-03-05T12:00:00Z'
                          owner: organization
                    meta:
                      results:
                        total: 1
        '404':
          description: Search rule group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/search/rule-groups/{rule_group_id}/rules/{rule_id}:
    parameters:
      - name: rule_group_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The unique ID of the search rule group
        example: 550e8400-e29b-41d4-a716-446655440000
        x-go-name: RuleGroupID
      - name: rule_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The unique ID of the search rule
        example: 8fccaa19-dba9-4621-8d11-31a222a68c7c
        x-go-name: RuleID
    get:
      tags:
        - Search Rules
      operationId: getSearchRule
      summary: Get search rule
      description: Get a search rule by ID within a rule group.
      responses:
        '200':
          description: Successfully retrieved search rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchRuleResponse'
              examples:
                exact-boost:
                  summary: Single rule
                  value:
                    data:
                      id: 8fccaa19-dba9-4621-8d11-31a222a68c7c
                      type: catalog_search_rule
                      attributes:
                        slug: boost-milwaukee
                        description: Boost Milwaukee brand on exact drill query
                        execution_order: 1
                        trigger:
                          query: drill
                          match: exact
                        actions:
                          boosts:
                            - condition: extensions.products(Details).BRAND-NAME:=Milwaukee
                              weight: 100
                        stop_after_match: false
                      meta:
                        created_at: '2026-03-05T12:00:00Z'
                        updated_at: '2026-03-05T12:00:00Z'
                        owner: organization
        '404':
          description: Search rule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - Search Rules
      operationId: updateSearchRule
      summary: Update search rule
      description: Update one or more attributes of a rule in its current group. A successful update takes effect for subsequent searches.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSearchRuleRequest'
      responses:
        '200':
          description: Successfully updated search rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchRuleResponse'
        '400':
          description: Bad request - no supported attributes, invalid values, or duplicate execution order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Search rule or search rule group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Search Rules
      operationId: deleteSearchRule
      summary: Delete search rule
      description: |
        Delete a search rule by ID within a rule group. Deleting a rule is allowed even when the parent group is attached to a search profile.

        Repeated delete requests succeed with **204 No Content** when the rule is already gone.
      responses:
        '204':
          description: Successfully deleted search rule
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/search/rule-groups/{rule_group_id}/rules/{rule_id}/move:
    post:
      tags:
        - Search Rules
      operationId: moveSearchRule
      summary: Move search rule
      description: Move a rule within its current group before or after another rule, or to the first or last position. The service preserves sparse execution order values and resequences the group when no integer gap remains.
      parameters:
        - name: rule_group_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          x-go-name: RuleGroupID
        - name: rule_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          x-go-name: RuleID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveSearchRuleRequest'
      responses:
        '200':
          description: Successfully moved search rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchRuleResponse'
        '400':
          description: Invalid placement or target rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Search rule or target rule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pcm/catalogs/search-indexes:
    get:
      tags:
        - Search Indexes
      operationId: listSearchIndexes
      summary: List search indexes
      description: List search indexes.
      parameters:
        - name: out_of_sync
          in: query
          description: Filter search indexes by out of sync status
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: List search indexes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSearchIndexesResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    BearerToken:
      scheme: bearer
      type: http
  headers:
    ep-search-profile:
      description: |
        Slug of the search profile resolved for this request.

        On success (2xx): the profile actually applied. When the built-in default is used, the value is the reserved sentinel `SYSTEMS_DEFAULT_PROFILE`.

        On 400 when profile resolution ran: the slug that was attempted (for example an invalid `search_profile` query value), or the resolved slug when a later validation step failed.

        Omitted when the request fails before profile resolution (for example a malformed search body).

        `SYSTEMS_DEFAULT_PROFILE` is reserved — tenants cannot create a search profile with that slug.
      schema:
        type: string
      example: SYSTEMS_DEFAULT_PROFILE
  responses:
    InternalServerError:
      description: Internal server error. There was a system failure in the platform.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            internal-server-error:
              value:
                errors:
                  - title: Internal Server Error
                    status: '500'
  schemas:
    MoveSearchRuleRequest:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - type
            - attributes
          properties:
            type:
              type: string
              enum:
                - catalog_search_rule
              example: catalog_search_rule
            attributes:
              type: object
              required:
                - placement
              properties:
                placement:
                  type: string
                  enum:
                    - before
                    - after
                    - first
                    - last
                  example: before
                target_rule_id:
                  type: string
                  format: uuid
                  example: 8fccaa19-dba9-4621-8d11-31a222a68c7c
    ReindexTenantReleasesJobRequest:
      type: object
      properties:
        data:
          description: The primary data for the request.
          type: object
          properties:
            force_reindex:
              description: Reindex all releases for tenant whether the release index is out of sync or not.
              type: boolean
              default: false
              example: true
              x-go-type-skip-optional-pointer: true
    Job:
      type: object
      required:
        - id
        - type
        - attributes
      properties:
        id:
          description: The unique identifier for the job.
          type: string
          format: uuid
          example: 4c9efe34-57bb-4117-abed-184008d3ae0a
          x-go-name: ID
        type:
          description: The type of the resource object.
          type: string
          enum:
            - job
          example: job
        attributes:
          description: The attributes of the job.
          $ref: '#/components/schemas/JobAttributes'
        meta:
          $ref: '#/components/schemas/JobMeta'
    JobAttributes:
      type: object
      required:
        - status
        - type
      properties:
        status:
          description: The status of the job.
          type: string
          enum:
            - pending
            - processing
            - complete
            - failed
[...]
