# GENERATED FILE - DO NOT EDIT 
openapi: 3.0.0
info:
  title: Catalogs Introduction
  description: |
    Use the catalog-view Service API to create your catalogs.
                  
    You also have the flexibility to create catalogs for different scenarios by combining hierarchies of products with a price book. Scenarios might include:

    - Multiple geographical regions. Display different catalogs in different regions with suitable pricing or combine product hierarchies from two different regions to display in a third region.
    - Multiple channels. Display different catalogs based on how a shopper accesses your store, such as through a mobile app or a web storefront.
    - Direct to business versus direct to customers. Offer different products and prices for business customers versus retail customers.
    - Preferred customers. Offer special pricing to preferred customers while displaying a standard price catalog to all other shoppers.
    - Reward programs. Enable reward programs where catalog prices drop after a certain spending level is reached.
    - Product sales. Offer sale items for a limited time.
     
    Scenarios are created by defining the context within which a catalog is displays. Contexts can be a customer ID, a channel, or any other user-defined tag that can be passed to the APIs from the front-end shopper experiences.
  version: 1.0.0
servers:
  - url: https://euwest.api.elasticpath.com
    description: EU West Production Server
  - url: https://useast.api.elasticpath.com
    description: US East Production Server
security:
  - bearerAuth: []
tags:
  - name: Catalogs
    description: |
      A catalog contains the products available for sale either in your organization or store. A catalog also contains information about how to organize those products for navigation menus and search facets in a shopper experience.

      Before you create a catalog you must define the following resources:

      - Hierarchies: hierarchies and nodes to categorize the products. See [**Hierarchies**](/docs/api/pxm/products/hierarchies).
      - Products: product information, associated assets, and links to hierarchy nodes. See [**Products**](/docs/api/pxm/products/products).
      - Price Books: prices for the products associated with the hierarchies. See [**Price Books**](/docs/api/pxm/pricebooks).

      A catalog is a combination of hierarchies and a price book.
       
      ### Products
       
      Commerce automatically assigns types to the products you create. Product types can be used in catalogs. For example, in your catalog, you can filter on `parent` so that only your parent products are displayed in your storefront.
       
      You can use product tags to store or assign a key word against a product or service that you sell in your store. The product tag can then be used to describe or label that product. Product tags represent similarities between products who do not share the same attributes. Using product tags means that you can group your products together, for example, by brand, category, subcategory, colors, types, industries, and so on. Product tags can be used in catalogs. For example, you can categorize your products based on color. Your shoppers can then search your products by color, enabling shoppers to quickly find what they are looking for, increasing the likelihood of a purchase, and boosting conversion rates.
       
      ### Hierarchies
       
      The hierarchies determine which products appear in the catalog, that is, only the products that are associated with the selected hierarchies are included in the catalog. You can also specify the order you want your hierarchies to display in a published catalog. You can order your hierarchies on a catalog-by-catalog basis.
       
      ![Hierarchy_sorting](/assets/hierarchy_sorting.png)
       
      For more information, see [**create a Catalog**](/docs/api/pxm/catalog/create-catalog).
       
      #### Understanding How Products And Nodes Are Associated
       
      You can use `breadcrumb` metadata to understand how products and nodes are associated. it explains how products are associated with parent nodes and the relationship among the array of nodes. This is useful if you want to improve how your shoppers search within your store.
       
      The `breadcrumb` information that you get in an endpoint response depends on whether the endpoint is retrieving product or node details.
       
      |  Object |  Product/Node |  Description |
      | --- | --- | --- |
      | `breadcrumb` | Node | A list of nodes that a product is associated with. Up to 10 levels of nodes are displayed, depending on the number of levels of nodes you have. |
      | `bread_crumbs` | Product | The relationship among the array of nodes a product is associated with, demonstrating the linking of the children nodes with the parent nodes. Up to 10 levels of nodes are displayed, depending on the number of levels of nodes you have. |
      | `bread_crumb_nodes` | Product | An array of parent node IDs that a product is associated with. The `bread_crumb_node` metadata lists up to 10 levels of parent nodes, depending on the number of levels of parent nodes you have. |
       
      #### Understanding `bread_crumbs` Metadata
       
      The following diagram illustrates a parent and child nodes.
       
      ![Breadcrumbs](/assets/breadcrumbs.PNG)
       
      1. The product is in **Node 2**. The ID for **Node 2** is shown first in the first set of breadcrumbs.
      1. **Node 2** is part of **Hierarchy 1**. The ID for **Hierarchy 1** is shown second.
      1. **Node 1** is the parent node of **Node 2**. The ID for **Node 1** is shown last.
      1. The product is also in **Node 3**. The ID for **Node 3** is shown first in the second set of breadcrumbs.
      1. **Node 3** is in the root of **Hierarchy 1**. The ID for **Hierarchy 1** is shown last.
       
      In the `bread_crumb_nodes` metadata, you can see a list of parent nodes a product is associated with.
       
      If you subsequently add a product to a new node, then the `bread_crumb_nodes` metadata appends the new node to the top of the list. Using the example above, if we add the product to **Node 1**:
       
      1. The `bread_crumb_nodes` metadata is generated to show the new node appended to the top of the list.
      1. The `bread_crumbs` metadata is updated with the new node.
       
      #### Understanding Breadcrumb Metadata for Child Products
       
      When a catalog is published, the breadcrumb information for a child product includes the metadata mentioned for the parent product, in addition to the information specific to the child product. For example, **Product A** is the parent product, associated with **Node 1** and **Node 2**. The metadata for child **Product B** includes **Node 1** and **Node 2**, in addition to its own metadata information.
       
      ### Nodes
       
      The nodes determine which products appear under this in the catalog, that is, only the products that are associated with the selected node are shown under this node.
       
      ### Price books

      A price book contains the prices for each of the products in the catalog. You can create multiple price books for different scenarios, such as seasonal sales, business versus retail customer pricing, and reward programs. When creating a catalog, you can specify up to five price books. You must set a priority for your price books. Product prices are displayed in the catalog according to the priority of the price books. See [Create a catalog](/docs/api/pxm/catalog/create-catalog).
  - name: Releases
    description: |
      When a catalog is published, a catalog release is created. A catalog release provides a snapshot of the product information taken at the time of publication. You can have one or more catalog releases available in your organization or in your store. If you publish a catalog for your organization, the catalog is available when the store is launched.

      If you have more than one catalog published for your store, use catalog rules to specify when to display each catalog. For example, you can use [**catalog rules**](/docs/api/pxm/catalog/rules) to schedule a catalog to appear during a particular date and time, such as a seasonal catalog. The catalog may have different pricing than the other catalogs.

      When a catalog is ready to be used in a store, you publish it. You can create and publish catalogs for different contexts and channels.

      Here are some pointers to understand a catalogs' lifecycle.

      - The default catalog is always the oldest published catalog and must have have at least one release.
      - At any time, the most recent three catalog releases are maintained. Hence, if there is a fourth catalog release, the first catalog release is automatically removed.
      - Until the catalog is published again, the previously created three catalog releases stay permanently.
      - If you want any other catalog to become the default catalog, you must create a catalog rule.
      - If you want the oldest published catalog to become the default catalog, you must remove the catalog rule.
      - Use the `sort_order` value in the `variations` to program your storefront to display the variation options in the order that you want.

      Here is a diagram that describes a catalogs' lifecycle:

      ![Catalogs' Lifecycle](/assets/catalog-lifecycle.png)
       
      ### Publishing catalogs
       
      When you publish a catalog, the `live` products in the hierarchies appear in a catalog release. A catalog release provides a snapshot of product information taken at the time of publication. You can have one or more catalog releases available in your organization or in your store. If you publish a catalog for your organization, the catalog is available when the store is launched.
       
      If you have more than one catalog published for your store, use catalog rules to specify when to display each catalog. For example, you can use [catalog rules](/docs/api/pxm/catalog/rules) to schedule a catalog to appear during a particular date and time, such as a seasonal catalog. The catalog may have different pricing than the other catalogs. You can have multiple published catalogs.
       
      When a catalog is ready to be used in a store, you publish it. You can create and publish catalogs for different contexts and channels. You can see the differences between the last two consecutive catalog releases. See [Publish a catalog](/docs/api/pxm/catalog/publish-release).
       
      You retrieve catalogs for your shopper experience by using the [Catalog View API](/docs/api/pxm/catalog/releases).
  - name: Rules
    description: |
      If your store requires multiple catalogs, add catalog rules to control when a catalog is displayed. A catalog rule contains a catalog plus the criteria under which to display the catalog.

      :::caution

      You cannot create catalog rules for organization catalogs.

      :::

      You can use catalog rules to schedule a catalog to appear during a particular period, such as on a specific date or during summer. The catalog might offer different pricing during this period. The pricing depends on the associated price book.

      The following scenarios provides a few examples for using catalog rules.

      - **Multiple geographical regions**. Display different catalogs in different regions with suitable pricing or combine product hierarchies from two different regions to display in a third region.
      - **Multiple channels**. Display different catalogs based on how a shopper accesses your store, such as through a mobile app or a web storefront.
      - **Direct to business versus direct to customers**. Offer different products and prices for business customers versus retail customers.
      - **Preferred accounts**. Offer special pricing to a group of users while displaying a standard price catalog to other users.
      - **Preferred customers**. Offer special pricing to preferred customers while displaying a standard price catalog to all other shoppers.
      - **Reward programs**. Enable reward programs where catalog prices drop after a certain spending level is reached.
      - **Product sales**. Offer sale items for a limited time.
      - **Standard pricing**. Display a default catalog to the shoppers who do not meet the criteria of the other catalog rules.

      You can define a catalog rule with any of the following criteria.

      - **Accounts**. List the accounts that should see a catalog. When a user has logged in with the account, they see the configured catalog.
      - **Customers**. List the customers that should see a catalog. When the customer is logged in, they see the configured catalog.
      - **Channel**. Specify a shopper experience, such as web storefront or mobile app. Set up the channel to retrieve the catalog from the catalog rule that matches that channel.
      - **Other tags**. Create your own user-defined tags. For example, you might want to tag by regions or you might want to distinguish between business and consumer customers.

      If a catalog rule has no criteria defined, it is the default catalog rule.

      ### Resolving catalog rules

      When there is a request for a catalog, the store displays the catalog with the rule that matches the most attributes of the shoppers context.

      The request triggers the following steps:

      1. Compares the shoppers context against the defined catalog rules.
      1. Determines the best match.
      1. Retrieves the catalog associated with the matching catalog rule.

      The follow examples show how the best match might be resolved:

      - A shopper matches one of the `customer_ids` in one catalog rule only. The catalog for that catalog rule is displayed.
      - A shopper matches one of the `customer_ids` in one catalog rule only, but doesnʼt match any of the `tags` specified in that catalog rule. Because there are no other catalog rules for this `customer_id`, the catalog for the catalog rule is displayed because it is the best match.
      - A shopper is browsing a store using the stores mobile app, which matches `channel=mobile` in two catalog rules. The catalog displayed depends on matches with the `tags` or `customer_ids` attributes. If there is no other matching attribute, the first catalog rule found by the store is used. The best practice is to create catalog rules that cover all cases so that you avoid this situation.
      - An unknown shopper is browsing the only channel offered by the seller. The store displays the base catalog.
  - name: Administrator Latest Releases Catalog API
    description: |
      Use the Administrator Latest Releases Catalog View API to retrieve product, hierarchy and node information.

      :::danger

      The Administrator Latest Releases Catalog View API is for Administrator use only. Do not use these endpoints on your customer-facing frontends.

      :::

      Publishing a catalog creates a release of that catalog that you can use in an organization or in a specific store or other shopper experience. You can retrieve the hierarchies, nodes, and the `live` products associated with a catalog release. You can see which parent nodes a product is associated with. This is useful if want to improve how your shoppers search your store, for example.

      Currently, published catalogs are limited to the current release and two releases prior to the current release.
  - name: Shopper Catalog API
    description: |
      Use the Shopper Catalog View API to retrieve hierarchy, node and product information for a catalog release. When you publish a catalog for a store, you can define catalog rules so that you can show catalogs with different pricing or different products to preferred customers or channels. These endpoints can be used in your customer-facing frontends.

      A catalog is a combination of one or more hierarchies, products, and a price book. Use the Products API and Hierarchies API to create a hierarchy of products that can be included in a catalog. Use the Price Book API to associate prices with products.

      ### Characteristics of Shopper Catalogs

      Shopper catalogs can have the following characteristics.

      - Use catalog rules to schedule a catalog to appear during a particular date and time, such as a seasonal catalog. The catalog may have different pricing than the other catalogs. You can have multiple published catalogs.
      - If you have defined catalog rules and you want to retrieve a published catalog for a particular channel or a user-defined tag, you must set the appropriate headers in the request:
        - `EP-Channel` - The channel, such as website or mobile app. See [**Create a Catalog Rule**](/docs/api/pxm/catalog/create-rule).
        - `EP-Context-Tag` - A tag defined in the store, such as `clearance`. See [**Create a Catalog Rule**](/docs/api/pxm/catalog/create-rule).
      * When a catalog is ready to be used in a store, you publish it. See [**Publish a Catalog**](/docs/api/pxm/catalog/publish-release).
      * You can create and publish catalogs for different contexts and channels. You can see the differences between the last 2 consecutive catalog releases. See [**Publish a Catalog**](/docs/api/pxm/catalog/publish-release).
      * You retrieve catalogs for your shopper experience by using the Shopper Catalog View API. For more information on how you can retrieve a catalog as a shopper using the Catalog API.
      * When a catalog is published for a store, the corresponding events contain `store_id` and `org_id`. 
      * When a catalog is published for an organization, the corresponding events contain `org_id`. 
      * Use the `sort_order` value in `variations` to program your storefront to display the variation options in the order that you want.

      ### Shopper Catalog Caching

      When conducting a `GET` on `catalog` endpoints, all data returned, including catalog releases, products, nodes and hierarchies, are cached for 5 minutes. This means, if you call the same endpoint again, the catalog data is retrieved from the cached objects pool, optimizing the performance and efficiency of your store front.

      If you use any of the `catalog` endpoints with a `filter` or `include` query parameter, these are cached separately. 

      The cached entries disappear from the cached objects pool after 5 minutes.
paths:
  /catalog:
    get:
      tags:
        - Releases
      summary: Get the catalog release as shoppers
      description: Returns a list of all published releases of the specified catalog.
      operationId: getByContextRelease
      parameters:
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/tag'
      responses:
        '200':
          description: The catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/release-data'
        default:
          description: The unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalog/hierarchies:
    get:
      tags:
        - Shopper Catalog API
      summary: Get all Hierarchies
      description: |
        Returns all hierarchies from a catalog.

        If you have multiple catalog rules defined, the rule that best matches the shoppers context is used to determine which catalog is retrieved. For information about how rules are matched, see [Resolving Catalog Rules](/docs/api/pxm/catalog/rules#resolving-catalog-rules).

        ### Filtering

        This endpoint supports filtering. For general syntax, see [Filtering](/guides/Getting-Started/filtering).

        | Operator | Description | Supported Attributes | Example |
        |:--- |:--- |:--- |:--- |
        | `Eq` | Checks if the values of two operands are equal. If they are, the condition is true. | `name`, `slug`| `filter=eq(name,some-name)` |
        | `In` | Checks if the values are included in the specified string. If they are, the condition is true. | `id` | `filter=in(id,some-id)` |

        ### Building breadcrumbs in a storefront

        In a catalog, you can use a filter to return a list of nodes in a hierarchy structure that a product belongs to. You can use this to build breadcrumbs in your storefront. An example is shown below.

        `filter=in(id,c83bfe55-0d87-4302-a86d-ab19e7e323f1,6003d7ef-84f3-49bb-a8bd-4cbfa203dcbb)`

        - Specify the node Ids in the filter expression.
        - You can have as many node Ids as you want.
        - It does not matter what order you specify the node Ids. The nodes are returned in the order they were last updated.
      operationId: getByContextAllHierarchies
      parameters:
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/filter-hierarchy'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: The hierarchies of the catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hierarchy-list-data'
        default:
          description: An unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalog/hierarchies/{hierarchy_id}:
    get:
      tags:
        - Shopper Catalog API
      summary: Get a Hierarchy
      description: |
        Returns a hierarchy from the catalog.

        If you have multiple catalog rules defined, the rule that best matches the shoppers context is used to determine which catalog to retrieve. For information about how catalog rules are matched, see [Resolving Catalog Rules](/docs/api/pxm/catalog/rules).
      operationId: getByContextHierarchy
      parameters:
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/tag'
        - description: The catalog hierarchy ID.
          name: hierarchy_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The catalog hierarchy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hierarchy-data'
        default:
          description: The unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalog/hierarchies/{hierarchy_id}/nodes:
    get:
      tags:
        - Shopper Catalog API
      summary: Get a Hierarchy's Nodes
      description: |
        Returns all the nodes for the specified hierarchy.

        If you have multiple catalog rules defined, the rule that best matches the shoppers context is used to determine which catalog is retrieved. For information about how rules are matched, see [Resolving Catalog Rules](/docs/api/pxm/catalog/rules#resolving-catalog-rules).

        In the `bread_crumb` metadata, you can identify the parent nodes that a node is associated with. This is useful if you want to improve how your shoppers search your store, for example. See [Product and Node Associations in Breadcrumb Metadata](/guides/How-To/Catalogs/breadcrumbs).
         
        ### Filtering

        This endpoint supports filtering. For general syntax, see [Filtering](/guides/Getting-Started/filtering).

        | Operator | Description | Supported Attributes | Example |
        |:--- |:--- |:--- |:--- |
        | `Eq` | Checks if the values of two operands are equal. If they are, the condition is true. | `name`, `slug`| `filter=eq(name,some-name)` |
        | `In` | Checks if the values are included in the specified string. If they are, the condition is true. | `id` | `filter=in(id,some-id)` |
         
        ### Building breadcrumbs in a storefront

        In a catalog, you can use a filter to return a list of nodes in a hierarchy structure that a product belongs to. You can use this to build breadcrumbs in your storefront. An example is shown below.

        `filter=in(id,c83bfe55-0d87-4302-a86d-ab19e7e323f1,6003d7ef-84f3-49bb-a8bd-4cbfa203dcbb)`

        - Specify the node Ids in the filter expression.
        - You can have as many node Ids as you want.
        - It does not matter what order you specify the node Ids. The nodes are returned in the order they were last updated.
      operationId: getByContextHierarchyNodes
      parameters:
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/filter-node'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - description: The catalog hierarchy ID.
          name: hierarchy_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The child nodes of a catalog hierarchy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/node-list-data'
        default:
          description: The unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalog/hierarchies/{hierarchy_id}/children:
    get:
      tags:
        - Shopper Catalog API
      summary: Get a Hierarchy's Children
      description: |
        Returns the parent nodes for the specified hierarchy.
         
        ![Parent Nodes](/assets/rootnodes.PNG)
         
        If you have multiple catalog rules defined, the rule that best matches the shopperʼs context is used to determine which catalog is retrieved. For information about how rules are matched, see [Resolving Catalog Rules](/docs/api/pxm/catalog/rules#resolving-catalog-rules).

        In the `bread_crumb` metadata, you can identify the parent nodes that a node is associated with. This is useful if you want to improve how your shoppers search your store, for example. See [Product and Node Associations in Breadcrumb Metadata](/guides/How-To/Catalogs/breadcrumbs).
         
        ### Filtering

        The following operators and attributes are available when filtering on this endpoint.

        | Operator | Description | Supported Attributes | Example |
        |:--- |:--- |:--- |:--- |
        | `Eq` | Checks if the values of two operands are equal. If they are, the condition is true. | `name`, `slug`| `filter=eq(name,some-name)` |
        | `In` | Checks if the values are included in the specified string. If they are, the condition is true. | `id` | `filter=in(id,some-id)` |

        For more information, see [Filtering](/guides/Getting-Started/filtering).

        ### Building breadcrumbs in a storefront

        In a catalog, you can use a filter to return a list of nodes in a hierarchy structure that a product belongs to. You can use this to build breadcrumbs in your storefront. An example is shown below.

        `filter=in(id,c83bfe55-0d87-4302-a86d-ab19e7e323f1,6003d7ef-84f3-49bb-a8bd-4cbfa203dcbb)`

        - Specify the node Ids in the filter expression.
        - You can have as many node Ids as you want.
        - It does not matter what order you specify the node Ids. The nodes are returned in the order they were last updated.
      operationId: getByContextHierarchyChildNodes
      parameters:
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/filter-node'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - description: The catalog hierarchy ID.
          name: hierarchy_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The child nodes of a catalog hierarchy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/node-list-data'
        default:
          description: The unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalog/nodes:
    get:
      tags:
        - Shopper Catalog API
      summary: Get all Nodes
      description: |
        Returns all nodes in the catalog.

        If you have multiple catalog rules defined, the rule that best matches the shoppers context is used to determine which catalog is retrieved. For information about how rules are matched, see [Resolving Catalog Rules](/docs/api/pxm/catalog/rules#resolving-catalog-rules).

        You can see the parent nodes a node is associated with in the `bread_crumb` metadata for each node. This is useful if you want to improve how your shoppers search your store, for example. See [Product and Node Associations in Breadcrumb Metadata](/guides/How-To/Catalogs/breadcrumbs).

        In a catalog, you can use a filter to return a list of nodes in a hierarchy structure that a product belongs to. You can use this to build breadcrumbs in your storefront. For more information, see [Building breadcrumbs in a storefront](#building-breadcrumbs-in-a-storefront).

        The response lists the products associated with the nodes. If products are [curated](/guides/How-To/Products/curating-products), they are displayed in `curated_products`. Product curation allows you to promote specific products within each of your hierarchies, enabling you to create unique product collections in your storefront.

        - You can only curate 20 products or less. You cannot have more than 20 curated products.
        - If a curated product is removed from a node, the product is also removed from the `curated_products` list.

        ### Filtering

        This endpoint supports filtering. For general syntax, see [Filtering](/guides/Getting-Started/filtering). The following operators and attributes are available.

        | Operator  | Description | Attributes | Example |
        | --- | --- | --- | --- |
        | `Eq` | Checks if the values of two operands are equal. If they are, the condition is true. | `name`, `slug` | `filter=eq(name,some-name)` |
        | `in`      | Checks if the values are included in the specified string. If they are, the condition is true.
        | `Id` |  `filter=in(id,9214719b-17fe-4ea7-896c-d61e60fc0d05,e104d541-2c52-47fa-8a9a-c4382480d97c,65daaf68-ff2e-4632-8944-370de835967d)` |

        ### Building breadcrumbs in a storefront

        In a catalog, you can use a filter to return a list of nodes in a hierarchy structure that a product belongs to. You can use this to build breadcrumbs in your storefront. An example is shown below.

        `filter=in(id,c83bfe55-0d87-4302-a86d-ab19e7e323f1,6003d7ef-84f3-49bb-a8bd-4cbfa203dcbb)`

        - Specify the node Ids in the filter expression.
        - You can have as many node Ids as you want.
        - It does not matter what order you specify the node Ids. The nodes are returned in the order they were last updated.
      operationId: getByContextAllNodes
      parameters:
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/filter-node'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: The nodes of the catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/node-list-data'
        default:
          description: An unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalog/nodes/{node_id}:
    get:
      tags:
        - Shopper Catalog API
      summary: Get a Node
      description: |
        Returns a node from the catalog.

        If you have multiple catalog rules defined, the rule that best matches the shoppers context is used to determine which catalog is retrieved. For information about how rules are matched, see [Resolving Catalog Rules](/docs/api/pxm/catalog/rules#resolving-catalog-rules).

        You can see the parent nodes a node is associated with in the `bread_crumb` metadata for each node. This is useful if you want to improve how your shoppers search your store, for example. See [Product and Node Associations in Breadcrumb Metadata](/guides/How-To/Catalogs/breadcrumbs).

        The response lists the products associated with a node. If products are [curated](/guides/How-To/Products/curating-products), they are displayed in `curated_products`. Product curation allows you to promote specific products within each of your nodes, enabling you to create unique product collections in your storefront.

        - If you don't provide any `curated_products`, products are listed by their `updated_at` time in descending order, with the most recently updated product first.
        - If you configure `curated_products` for only a few products, the curated products are displayed first and the other products are displayed in the order of `updated_at` time.
        - You can only curate 20 products or less. You cannot have more than 20 curated products.
        - A product that is curated has the `"curated_product": true` attribute displayed.
        - If a curated product is removed from a node, the product is also removed from the `curated_products` list.
      operationId: getByContextNode
      parameters:
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/accept-language'
        - description: The catalog node ID.
          name: node_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The catalog node.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/node-data'
        default:
          description: The unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalog/nodes/{node_id}/relationships/children:
    get:
      tags:
        - Shopper Catalog API
      summary: Get a Node's Children
      description: |
        Returns the child nodes for a node in the catalog.
         
        If you have multiple catalog rules defined, the rule that best matches the shoppers context is used to determine which catalog is retrieved. For information about how rules are matched, see [Resolving Catalog Rules](/docs/api/pxm/catalog/rules#resolving-catalog-rules).

        You can see which parent nodes a node is associated with in the `bread_crumb` metadata for each node. This is useful if you want to improve how your shoppers search your store, for example. See [Product and Node Associations in Breadcrumb Metadata](/guides/How-To/Catalogs/breadcrumbs).

        The response lists the products associated with the nodes. If products are [curated](/guides/How-To/Products/curating-products), they are displayed in `curated_products`. Product curation allows you to promote specific products within each of your hierarchies, enabling you to create unique product collections in your storefront.
         
        - If you don't provide any curated_products, products are listed by their updated_at time in descending order, with the most recently updated product first.
        - If you configure curated_products for only a few products, the curated products are displayed first and the other products are displayed in the order of updated_at time.
        - You can only curate 20 products or less. You cannot have more than 20 curated products.
        - A product that is curated has the "curated_product": true attribute displayed.
        - If a curated product is removed from a node, the product is also removed from the curated_products list.
         
        ### Filtering
         
        This endpoint supports filtering. For general syntax, see [Filtering](/guides/Getting-Started/filtering). The following operators and attributes are available.
         
        | Operator  | Description | Attributes | Example |
        | --- | --- | --- | --- |
        | `Eq` | Checks if the values of two operands are equal. If they are, the condition is true. | `name`, `slug` | `filter=eq(name,some-name)` |
        | `in`      | Checks if the values are included in the specified string. If they are, the condition is true.
        | `Id` |  `filter=in(id,9214719b-17fe-4ea7-896c-d61e60fc0d05,e104d541-2c52-47fa-8a9a-c4382480d97c,65daaf68-ff2e-4632-8944-370de835967d)` |
         
        ### Building breadcrumbs in a storefront
         
        In a catalog, you can use a filter to return a list of nodes in a hierarchy structure that a product belongs to. You can use this to build breadcrumbs in your storefront. An example is shown below.
         
        `filter=in(id,c83bfe55-0d87-4302-a86d-ab19e7e323f1,6003d7ef-84f3-49bb-a8bd-4cbfa203dcbb)`
         
        - Specify the node Ids in the filter expression.
        - You can have as many node Ids as you want.
        - It does not matter what order you specify the node Ids. The nodes are returned in the order they were last updated.
      operationId: getByContextChildNodes
      parameters:
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/filter-node'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - description: The catalog node ID.
          name: node_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The child nodes of a catalog node.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/node-list-data'
        default:
          description: The unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalog/products:
    get:
      tags:
        - Shopper Catalog API
      summary: Get all Products
      description: |
        Retrieves the list of products from the catalog. Only the products in a live status are retrieved.

        ### Catalog Rules
         
        If you have multiple catalog rules defined, the rule that best matches the shoppers context is used to determine which catalog is retrieved. If no catalog rules are configured, the first catalog found is returned. For information about how rules are matched, see [Resolving Catalog Rules](/docs/api/pxm/catalog/rules#resolving-catalog-rules).

        ### Product and Node Associations

         You can see the parent nodes a product is associated within the `bread_crumbs` and `bread_crumb_nodes` metadata for each product. For example, this is useful if you want to improve how your shoppers search your store. See [Product and Node Associations in Breadcrumb Metadata](/guides/How-To/Catalogs/breadcrumbs).

         
        ### Including Resources

        Using the `include` parameter, you can retrieve top-level resources, such as, files or main image, bundle component products and product attributes, such as SKU or slug. 

        | Parameter | Required | Description                                                                                                                                                                                                    |
        |  :---------------------|:---------|:----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
        | `component_products` | Optional | The  component product data and key attribute data, such as SKU or slug, to return for component products in a product bundle.  |
        | `main_image`         | Optional | The main images associated with a product. |
        | `files`              | Optional | Any files associated with a product. |

        See [**Including Resources**](/guides/Getting-Started/includes).
         
        ### Filtering
         
        This endpoint supports filtering. For general filtering syntax, see [Filtering](/guides/Getting-Started/filtering). The following operators and attributes are available when filtering on this endpoint.
         
        | Operator | Description                                                                                     | Supported Attributes                                     | Example |
        |:---|:------------------------------------------------------------------------------------------------|:---------------------------------------------------------|:--- |
        | `Eq` | Checks if the values of two operands are equal. If they are, the condition is true. For `product_types` and `tags`, you can only specify one. For example, `filter=eq(product_types,child)`.            | `name`, `sku`, `slug`, `manufacturer_part_num`, `upc_ean`, `product_types`, `tags` | `filter=eq(name,some-name)` |
        | `In` | Checks if the values are included in the specified string. If they are, the condition is true. For `product_types` and `tags`, you can specify more than one. For example, `filter=in(product_types,child,bundle)`. | `id`, `name`, `sku`, `slug`, `manufacturer_part_num`, `upc_ean`, `product_types`, `tags`          | `filter=in(id,some-id)` |

        ### Building breadcrumbs in a storefront
         
        In a catalog, you can use a filter to return a list of nodes in a hierarchy structure that a product belongs to. You can use this to build breadcrumbs in your storefront. An example is shown below.
         
        `filter=in(id,c83bfe55-0d87-4302-a86d-ab19e7e323f1,6003d7ef-84f3-49bb-a8bd-4cbfa203dcbb)`
         
        - Specify the node Ids in the filter expression.
        - You can have as many node Ids as you want.
        - It does not matter what order you specify the node Ids. The nodes are returned in the order they were last updated.
      operationId: getByContextAllProducts
      parameters:
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/filter-product'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: The products of a catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product-list-data'
        default:
          description: The unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalog/products/{product_id}:
    get:
      tags:
        - Shopper Catalog API
      summary: Get a Product
      description: |
        Returns the specified product from the catalog. The product must be in the `live` status.

        If you have multiple catalog rules defined, the rule that best matches the shoppers context is used to determine which catalog is retrieved. For information about how rules are matched, see [Resolving Catalog Rules](/docs/api/pxm/catalog/rules#resolving-catalog-rules).

        You can see the parent nodes a product is associated with in the `bread_crumbs` and `bread_crumb_nodes` metadata for each product. This is useful if you want to improve how your shoppers search your store, for example. See [Product and Node Associations in Breadcrumb Metadata](/guides/How-To/Catalogs/breadcrumbs).

        Using the `include` parameter, you can retrieve top-level resources, such as, files or main image, bundle component products and product attributes, such as SKU or slug. 

        | Parameter | Required | Description                                                                                                                                                                                                       |
        |  :---------------------|:---------|:----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
        | `component_products` | Optional | The  component product data and key attribute data, such as SKU or slug, to return for component products in a product bundle.  |
        | `main_image`         | Optional | The main images associated with a product. |
        | `files`              | Optional | Any files associated with a product. |

        See [**Including Resources**](/guides/Getting-Started/includes).
      operationId: getByContextProduct
      parameters:
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/tag'
        - description: The product ID.
          name: product_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The product of a catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product-data'
        default:
          description: The unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalog/products/{product_id}/relationships/component_products:
    get:
      tags:
        - Shopper Catalog API
      summary: Get a Bundle's Component Products
      description: |
        With Product Experience Manager, you can [create](/docs/api/pxm/products/create-product) and manage bundles. A bundle is a purchasable product, comprising of one or more products that you want to sell together. 

        You can create multiple components within a bundle. Each component must have at least one or more options. Each option is a product and a quantity.

        This endpoint returns a list of component product IDs for the specified bundle.
      operationId: getByContextComponentProductIDs
      parameters:
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/tag'
        - description: The product ID.
          name: product_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: The list of component product IDs of a bundle product from a catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product-reference-list-data'
        default:
          description: The unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalog/products/{product_id}/relationships/children:
    get:
      tags:
        - Shopper Catalog API
      summary: Get a Parent Product's Child Products
      description: |
        For a specified product and catalog release, retrieves a list of child products from a parent product. Any product other than a base product results in a `422 Unprocessable Entity` response. Only the products in a `live` status are retrieved.
         
        If you have multiple catalog rules defined, the rule that best matches the shopperʼs context is used to determine which catalog is retrieved. If no catalog rules are configured, the first catalog found is returned. For information about how rules are matched, see [Resolving Catalog Rules](/docs/api/pxm/catalog/rules#resolving-catalog-rules).
         
        You can see the parent nodes a product is associated within the `breadcrumbs` metadata for each product. For example, this is useful if you want to improve how your shoppers search your store. See [Product and Node Associations in Breadcrumb Metadata](/guides/How-To/Catalogs/breadcrumbs).
         
        ### Filtering
         
        This endpoint supports filtering. For general filtering syntax, see [Filtering](/guides/Getting-Started/filtering). The following operators and attributes are available when filtering on this endpoint.
         
        | Operator | Description                                                                                     | Supported Attributes                                     | Example |
        |:---|:------------------------------------------------------------------------------------------------|:---------------------------------------------------------|:--- |
        | `Eq` | Checks if the values of two operands are equal. If they are, the condition is true. For `product_types` and `tags`, you can only specify one. For example, `filter=eq(product_types,child)`.            | `name`, `sku`, `slug`, `manufacturer_part_num`, `upc_ean`, `product_types`, `tags` | `filter=eq(name,some-name)` |
        | `In` | Checks if the values are included in the specified string. If they are, the condition is true. For `product_types` and `tags`, you can specify more than one. For example, `filter=in(product_types,child,bundle)`. | `id`, `name`, `sku`, `slug`, `manufacturer_part_num`, `upc_ean`, `product_types`, `tags`          | `filter=in(id,some-id)` |
         
        ### Building breadcrumbs in a storefront
         
        In a catalog, you can use a filter to return a list of nodes in a hierarchy structure that a product belongs to. You can use this to build breadcrumbs in your storefront. An example is shown below.
         
        `filter=in(id,c83bfe55-0d87-4302-a86d-ab19e7e323f1,6003d7ef-84f3-49bb-a8bd-4cbfa203dcbb)`
         
        - Specify the node Ids in the filter expression.
        - You can have as many node Ids as you want.
        - It does not matter what order you specify the node Ids. The nodes are returned in the order they were last updated.
         
        ### Including Resources
         
        Using the `include` parameter, you can retrieve top-level resources, such as, files or main image, bundle component products and product attributes, such as SKU or slug. 
         
        | Parameter | Required | Description                                                                                                                                                                                                    |
        |  :---------------------|:---------|:----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
        | `component_products` | Optional | The  component product data and key attribute data, such as SKU or slug, to return for component products in a product bundle.  |
        | `main_image`         | Optional | The main images associated with a product. |
        | `files`              | Optional | Any files associated with a product. |
         
        See [**Including Resources**](/guides/Getting-Started/includes).
      operationId: getByContextChildProducts
      parameters:
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/tag'
        - description: The product ID.
          name: product_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/filter-product'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: The list of child products of a parent product from a catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product-list-data'
        default:
          description: The unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalog/hierarchies/{hierarchy_id}/products:
    get:
      tags:
        - Shopper Catalog API
      summary: Get a Hierarchy's Products
      description: |
        Returns the products associated with the specified hierarchy in the catalog. The products must be in the live status.

        If you have multiple catalog rules defined, the rule that best matches the shoppers context is used to determine which catalog is retrieved. See [Resolving catalog rules](/docs/api/pxm/catalog/rules#resolving-catalog-rules).

        You can see the parent nodes a product is associated with in the `bread_crumbs` and `bread_crumb_nodes` metadata for each product. This is useful if you want to improve how your shoppers search your store, for example. See [Product and Node Associations in Breadcrumb Metadata](/guides/How-To/Catalogs/breadcrumbs).
         
        ### Filtering

        This endpoint supports filtering. For general filtering syntax, see [Filtering](/guides/Getting-Started/filtering). The following operators and attributes are available when filtering on this endpoint.

        | Operator | Description                                                                                     | Supported Attributes                                     | Example |
        |:---|:------------------------------------------------------------------------------------------------|:---------------------------------------------------------|:--- |
        | `Eq` | Checks if the values of two operands are equal. If they are, the condition is true. For `product_types` and `tags`, you can only specify one. For example, `filter=eq(product_types,child)`.            | `name`, `sku`, `slug`, `manufacturer_part_num`, `upc_ean`, `product_types`, `tags` | `filter=eq(name,some-name)` |
        | `In` | Checks if the values are included in the specified string. If they are, the condition is true. For `product_types` and `tags`, you can specify more than one. For example, `filter=in(product_types,child,bundle)`. | `id`, `name`, `sku`, `slug`, `manufacturer_part_num`, `upc_ean`, `product_types`, `tags`          | `filter=in(id,some-id)` |

        ### Building breadcrumbs in a storefront

        In a catalog, you can use a filter to return a list of nodes in a hierarchy structure that a product belongs to. You can use this to build breadcrumbs in your storefront. An example is shown below.

        `filter=in(id,c83bfe55-0d87-4302-a86d-ab19e7e323f1,6003d7ef-84f3-49bb-a8bd-4cbfa203dcbb)`

        - Specify the node Ids in the filter expression.
        - You can have as many node Ids as you want.
        - It does not matter what order you specify the node Ids. The nodes are returned in the order they were last updated.
         
        ### Including Resources
         
        Using the `include` parameter, you can retrieve top-level resources, such as, files or main image, bundle component products and product attributes, such as SKU or slug. 
         
        | Parameter | Required | Description                                                                                                                                                                                                    |
        |  :---------------------|:---------|:----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
        | `component_products` | Optional | The  component product data and key attribute data, such as SKU or slug, to return for component products in a product bundle.  |
        | `main_image`         | Optional | The main images associated with a product. |
           `files`              | Optional | Any files associated with a product. |

         
        See [**Including Resources**](/guides/Getting-Started/includes).
      operationId: getByContextProductsForHierarchy
      parameters:
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/filter-product'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - description: The catalog hierarchy ID.
          name: hierarchy_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The products of a catalog hierarchy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product-list-data'
        default:
          description: The unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalog/nodes/{node_id}/relationships/products:
    get:
      tags:
        - Shopper Catalog API
      summary: Get a Node's Products
      description: |
        Returns the products associated with the specified hierarchy node in the catalog. The products must be in the `live` status. If the products have been curated then the products are returned in the order specified in the `curated_products` attribute. A product that is curated has the `"curated_product": true` attribute displayed.

        If you have multiple catalog rules defined, the rule that best matches the shoppers context is used to determine which catalog is retrieved. See [Resolving catalog rules](/docs/api/pxm/catalog/rules#resolving-catalog-rules).

        You can see the parent nodes a product is associated with in the `bread_crumbs` and `bread_crumb_nodes` metadata for each product. This is useful if you want to improve how your shoppers search your store, for example. See [Product and Node Associations in Breadcrumb Metadata](/guides/How-To/Catalogs/breadcrumbs).
         
        ### Filtering

        This endpoint supports filtering. For general filtering syntax, see [Filtering](/guides/Getting-Started/filtering). The following operators and attributes are available when filtering on this endpoint.

        | Operator | Description                                                                                     | Supported Attributes                                     | Example |
        |:---|:------------------------------------------------------------------------------------------------|:---------------------------------------------------------|:--- |
        | `Eq` | Checks if the values of two operands are equal. If they are, the condition is true. For `product_types` and `tags`, you can only specify one. For example, `filter=eq(product_types,child)`.            | `name`, `sku`, `slug`, `manufacturer_part_num`, `upc_ean`, `product_types`, `tags` | `filter=eq(name,some-name)` |
        | `In` | Checks if the values are included in the specified string. If they are, the condition is true. For `product_types` and `tags`, you can specify more than one. For example, `filter=in(product_types,child,bundle)`. | `id`, `name`, `sku`, `slug`, `manufacturer_part_num`, `upc_ean`, `product_types`, `tags`          | `filter=in(id,some-id)` |

        ### Building breadcrumbs in a storefront

        In a catalog, you can use a filter to return a list of nodes in a hierarchy structure that a product belongs to. You can use this to build breadcrumbs in your storefront. An example is shown below.

        `filter=in(id,c83bfe55-0d87-4302-a86d-ab19e7e323f1,6003d7ef-84f3-49bb-a8bd-4cbfa203dcbb)`

        - Specify the node Ids in the filter expression.
        - You can have as many node Ids as you want.
        - It does not matter what order you specify the node Ids. The nodes are returned in the order they were last updated.

        ### Including Resources

        Using the `include` parameter, you can retrieve top-level resources, such as, files or main image, bundle component products and product attributes, such as SKU or slug.

        | Parameter | Required | Description                                                                                                                                                                                                    |
        |  :---------------------|:---------|:----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
        | `component_products` | Optional | The  component product data and key attribute data, such as SKU or slug, to return for component products in a product bundle.  |
        | `main_image`         | Optional | The main images associated with a product. |
        | `files`              | Optional | Any files associated with a product. |

        See [**Including Resources**](/guides/Getting-Started/includes).
      operationId: getByContextProductsForNode
      parameters:
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/filter-product'
        - description: The catalog node ID.
          name: node_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: The products of a catalog node.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product-list-data'
        default:
          description: The unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalog/products/{product_id}/configure:
    post:
      tags:
        - Shopper Catalog API
      summary: Configure a Shopper Bundle
      description: |
        Once you have configured your product bundles, you can display them in your storefront in your published catalog. Depending on how you have configured the minimum and maximum values for the product options in your components, you can allow your shoppers to choose which products they want to select. For example, you can enable a shopper to select 1 or more product options from a list of 10, giving your shoppers greater flexibility when selecting products in your store front.

        - Products must be in a `live` status.
        - If you have not specified any minimum or maximum values for the product options in your components, your shoppers can select any combination of product options.

        If you have configured minimum and maximum values using [Create a Bundle](/docs/api/pxm/products/create-product), this becomes part of the `bundle_configuration`. You can check how your bundle is configured using [Get a product in a catalog release](/docs/api/pxm/catalog/get-product) in `bundle_configuration` under `meta`. The `bundle_configuration` forms the body of the request.

        The response updates the `bundle_configuration` with the product options the shopper selects. The `meta` data is updated with the `meta` data of the selected product options. In your storefront, you could display this as a summary of the product options a shopper has selected.

        ### Including Resources

        Using the `include` parameter, you can retrieve top-level resources, such as, files or main image, bundle component products and product attributes, such as SKU or slug. 

        | Parameter | Required | Description                                                                                                                                                                                                    |
        |  :---------------------|:---------|:----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
        | `component_products` | Optional | The  component product data and key attribute data, such as SKU or slug, to return for component products in a product bundle.  |
        | `main_image`         | Optional | The main images associated with a product. |
        | `files`              | Optional | Any files associated with a product. |

        See [**Including Resources**](/guides/Getting-Started/includes).
      operationId: configureByContextProduct
      parameters:
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/tag'
        - description: The product ID.
          name: product_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/bundle-configuration-data'
      responses:
        '200':
          description: The configured product of a catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/product-data'
        default:
          description: The unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalogs:
    post:
      tags:
        - Catalogs
      summary: Creates a new catalog
      description: |
        Before you create a catalog, you must define the following resources:

        - Hierarchies - hierarchies and nodes to categorize the products.
        - Products - product information, associated assets, and links to hierarchy nodes.
        - Price Books - prices for the products associated with the hierarchies. You can create multiple price books for different scenarios, such as seasonal sales, business versus retail customer pricing, and reward programs. When creating a catalog, you can specify up to five price books. You must configure a priority for your price books. Product prices are displayed in the catalog according to the priority of the price books. Priority is a number and the price book with the highest number has the highest priority.
      operationId: createCatalog
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/catalog-create-data'
        description: Creates a catalog with the following attributes.
        required: true
      responses:
        '201':
          description: The created catalog
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/catalog-data'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
    get:
      tags:
        - Catalogs
      summary: Gets all authorized catalogs
      description: |
        Retrieves a list of all the catalogs that you are authorized to view. Currently, published catalogs are limited to the current release and two releases prior to the current release. You can see the differences between the last 2 consecutive catalog releases using the delta link returned in the response of a [publish a catalog](/docs/api/pxm/catalog/publish-release) endpoint.
         
        You can use the `is_full_delta` attribute returned from the `get a release of a catalog` endpoint to determine if you need to refresh the data in your company system before publishing a catalog release and injecting fresh data in a delta link. The `is_full_delta` attribute tells you if this is a full publish of a catalog release. Using a search service as an example, if the `is_full_delta` attribute is `true`, you should remove all data about that catalog from the search service before publishing a catalog release and injecting fresh data from the delta file. See [Publish a catalog](/docs/api/pxm/catalog/publish-release).

        If the `is_full_publish` attribute returned in the response is `false`, data from the previous catalog release overlaid the existing data in the delta file. The `is_full_publish` attribute is always `true` the first time a catalog is published.
      operationId: getCatalogs
      responses:
        '200':
          description: The list of catalogs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/catalog-list-data'
        default:
          description: An unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalogs/{catalog_id}:
    get:
      tags:
        - Catalogs
      summary: Get a catalog by ID
      description: Retrieves the specified catalog.
      operationId: getCatalogByID
      parameters:
        - description: The catalog ID.
          name: catalog_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/catalog-data'
        default:
          description: An unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
    put:
      tags:
        - Catalogs
      summary: Updates a catalog
      description: Specify whichever attributes you want to change. The values of the other attributes remain the same. If the attributes section is empty, the catalog is not updated.
      operationId: updateCatalog
      parameters:
        - description: The catalog ID.
          name: catalog_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/catalog-update-data'
        description: Updated catalog.
        required: true
      responses:
        '200':
          description: An updated catalog with the following attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/catalog-data'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
    delete:
      tags:
        - Catalogs
      summary: Deletes a catalog
      description: Deletes an unpublished catalog. Use [**Delete a Release**](/docs/api/pxm/catalog/delete-release-by-id) and [**Delete All Releases**](/docs/api/pxm/catalog/delete-releases) to delete releases of a catalog. If the catalog is associated with any catalog rules, you must first update the catalog rules to remove the catalog.
      operationId: deleteCatalogByID
      parameters:
        - description: The catalog ID.
          name: catalog_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: A 204 response indicates that the catalog has been deleted.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalogs/{catalog_id}/releases:
    post:
      tags:
        - Releases
      summary: Publishes a catalog
      description: |

        Publishes a catalog. You must publish a catalog before you can retrieve that catalog in an organization or store. The hierarchies, live products, and prices associated with a published catalog are in read-only mode. If you make a change to these resources, for example, a change to your price book or hierarchies, you need to republish the catalog.
         
        You can get [a catalog release](/docs/api/pxm/catalog/get-release-by-id) to retrieve a published catalog. Currently, published catalogs are limited to the current release and two releases prior to the current release.
         
        You can see the differences between the last 2 consecutive catalog releases. This is useful if want to understand how your products have changed in your catalog, ensuring your site search integration is kept up-to-date.
         
        Once a catalog release has completed publishing, the delta relationship links to the delta document.

        The `delta` links are signed and only valid for 1 hour. Re-reading a catalog release, for example, using [Getting a release of a catalog](/docs/pxm/catalogs/catalog-latest-release/get-a-release-of-a-catalog) returns a fresh a link.
         
        You can use the `is_full_delta` attribute returned from the `get a release of a catalog` endpoint to determine if you need to refresh the data in your company system before injecting fresh data in a `delta` link. The `is_full_delta` attribute tells you if this is a full publish of the catalog. Using a search service as an example, if the `is_full_delta` attribute is `true`, you should remove all data about that catalog from the search service before injecting fresh data from the `delta` file. If the `is_full_delta` attribute is `false`, then data from the previous catalog overlays the existing data in the `delta` file. To publish a catalog and inject fresh data in a `delta` link, set `export_full_delta` to `true`.
         
        If a previous catalog publish date is greater than 90 days, then a full catalog publish is automatically performed. If you publish your catalogs infrequently, Commerce may perform a full publish when you are expecting a delta publish.
         
        :::caution

        Generating a full delta is resource intensive and slows down the publishing process and so should only be performed in certain circumstances, for example, when initializing an integration with a service like Algolia.
         
        :::
         
        The `is_full_delta` attribute is always `true` the first time a catalog is published. The information is stored in a collection of `json` documents in a compressed file. You can either manually check the file or, for example, use them to automatically update another company system you may have.
         
        - Delta files are only available for 30 days.
        - Delta files are removed when a catalog release is deleted.
         
        Each document has a `delta_type` with one of the following values, depending on whether a product has been deleted, updated or created in a catalog release.
         
        - `delete` describes products deleted from this release of a catalog.
        - `createupdate` describes products updated in this release of a catalog.
         
        ### Multi-Store Management Solutions
         
        In a multi-store management solution.
         
        - You can create organization catalogs. Your organization catalogs are available for your stores to use.
        - Your stores can create their own catalogs.
        - Your stores can create catalogs that have a combination of organization products and store products.
         
        If you are publishing a catalog in a store that contains resources from an organization, in Commerce Manager, you must enable the **Include Organization Resources in Catalog Publishes** checkbox.
         
        1. Go to **SYSTEM** > **Store Settings**.
        2. Click **General Settings**.
        3. Select **PXM** from the list.
        4. Select the **Include Organization Resources in Catalog Publishes** checkbox.
      operationId: publishRelease
      parameters:
        - description: The catalog ID.
          name: catalog_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/catalog-release-create-data'
        description: Options for catalog release publishing
      responses:
        '201':
          description: Publishes a catalog release with the following attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/release-data'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
    get:
      tags:
        - Releases
      summary: Gets all authorized catalog releases
      description: |
        Returns a list of all published releases of the specified catalog. Currently, published catalogs are limited to the current release and two releases prior to the current release. You can see the differences between the last 2 consecutive catalog releases using the `delta` link returned in the response of a `publish a catalog` endpoint.

        You can use the `is_full_delta` attribute returned from the `get a release of a catalog` endpoint to determine if you need to refresh the data in your company system before publishing a catalog release and injecting fresh data in a delta link. The `is_full_delta` attribute tells you if this is a full publish of a catalog release. Using a search service as an example, if the `is_full_delta` attribute is `true`, you should remove all data about that catalog from the search service before publishing a catalog release and injecting fresh data from the delta file. 

        If the `is_full_publish` attribute returned in the response is `false`, data from the previous catalog release overlaid the existing data in the delta file. The `is_full_publish` attribute is always `true` the first time a catalog is published.
      operationId: getReleases
      parameters:
        - $ref: '#/components/parameters/accept-language'
        - description: The catalog ID.
          name: catalog_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The list of catalogs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/release-list-data'
        default:
          description: The unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
    delete:
      tags:
        - Releases
      summary: Deletes all releases
      description: Deletes all releases of the specified published catalog.
      operationId: deleteReleases
      parameters:
        - description: The catalog ID.
          name: catalog_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: A 204 response indicates that the releases have been deleted.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalogs/{catalog_id}/releases/{release_id}:
    get:
      tags:
        - Releases
      summary: Get a catalog release by ID
      description: Retrieves the specified catalog release.
      operationId: getReleaseByID
      parameters:
        - $ref: '#/components/parameters/accept-language'
        - description: The catalog ID.
          name: catalog_id
          in: path
          required: true
          schema:
            type: string
        - description: The catalog release ID.
          name: release_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/release-data'
        default:
          description: The unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
    delete:
      tags:
        - Releases
      summary: Deletes a release
      description: Deletes the specified published catalog release.
      operationId: deleteReleaseByID
      parameters:
        - description: The catalog ID.
          name: catalog_id
          in: path
          required: true
          schema:
            type: string
        - description: The catalog release ID.
          name: release_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: A 204 response indicates that the release has been deleted.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalogs/rules:
    post:
      tags:
        - Rules
      summary: Creates a new catalog rule
      description: |
        If you have multiple catalogs, create catalog rule resources. With catalog rules, you can display different catalogs to different shoppers. For example, you can display a preferred pricing catalog to a few special customers. Or you can display one catalog to shoppers using your website and a different catalog to shoppers using your mobile app. Finally, you can define custom criteria by creating tags.

        :::note

        - If you have one catalog for all customers and channels, you can omit creating this resource.
        - Due to the way catalogs are cached in Commerce, using catalog rules to display catalogs sometimes causes a 5-minute time delay before the catalogs are displayed.
        - You cannot create catalog rules for organization catalogs.

        :::

        For ideas about the kinds of business scenarios you can achieve with catalog rules, see [Catalog Rules](/docs/api/pxm/catalog/rules). To understand how catalogs are matched to shoppers by using rules, see [Resolving Catalog Rules](/docs/api/pxm/catalog/rules#resolving-catalog-rules).
      operationId: createRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rule-create-data'
        description: Creates a catalog rule with the following attributes.
        required: true
      responses:
        '201':
          description: The created catalog rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rule-data'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
    get:
      tags:
        - Rules
      summary: Gets all authorized catalog rules
      description: |
        Retrieves all authorized catalog rules.

        ### Filtering

        This endpoint supports filtering. For general filtering syntax, see [Filtering](/guides/Getting-Started/filtering). The following operators and attributes are supported.

        | Operator | Description | Supported Attributes | Example |
        |:--- |:--- |:--- |:--- |
        | `In` | Checks if the values are included in the specified string. If they are, the condition is true. | `id` | `filter=in(id,some-id)` | 
      operationId: getRules
      parameters:
        - $ref: '#/components/parameters/filter-rule'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: The list of catalog rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rule-list-data'
        default:
          description: An unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalogs/rules/{catalog_rule_id}:
    get:
      tags:
        - Rules
      summary: Get a catalog rule by ID
      operationId: getRuleByID
      parameters:
        - description: The catalog rule ID.
          name: catalog_rule_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The catalog rile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rule-data'
        default:
          description: An unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
    put:
      tags:
        - Rules
      summary: Updates a catalog rule
      description: Specify whichever attributes you want to change. The values of the other attributes remain the same. If the attributes section is empty, the catalog rule is not updated.
      operationId: updateRule
      parameters:
        - description: The catalog rule ID.
          name: catalog_rule_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rule-update-data'
        description: An updated catalog rule with the following attributes.
        required: true
      responses:
        '200':
          description: An Updated catalog rule with the following attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rule-data'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
    delete:
      tags:
        - Rules
      summary: Deletes a catalog rule
      operationId: deleteRuleByID
      parameters:
        - description: The catalog rule ID.
          name: catalog_rule_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: A 204 response indicates that the catalog rule has been deleted.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalogs/{catalog_id}/releases/{release_id}/hierarchies:
    get:
      tags:
        - Administrator Latest Releases Catalog API
      summary: Get all Hierarchies
      description: |
        Returns the hierarchies from a published catalog.
         
        :::note
         
        Currently, published catalogs are limited to the current release and two releases prior to the current release.
         
        :::
         
        ### Filtering
         
        This endpoint supports filtering. For general syntax, see [Filtering](/guides/Getting-Started/filtering).

        | Operator | Description | Supported Attributes | Example |
        |:--- |:--- |:--- |:--- |
        | `Eq` | Checks if the values of two operands are equal. If they are, the condition is true. | `name`, `slug`| `filter=eq(name,some-name)` |
        | `In` | Checks if the values are included in the specified string. If they are, the condition is true. | `id` | `filter=in(id,some-id)` | 
         
        ### Building breadcrumbs in a storefront

        In a catalog, you can use a filter to return a list of nodes in a hierarchy structure that a product belongs to. You can use this to build breadcrumbs in your storefront. An example is shown below.

        `filter=in(id,c83bfe55-0d87-4302-a86d-ab19e7e323f1,6003d7ef-84f3-49bb-a8bd-4cbfa203dcbb)`

        - Specify the node Ids in the filter expression.
        - You can have as many node Ids as you want.
        - It does not matter what order you specify the node Ids. The nodes are returned in the order they were last updated.
      operationId: getAllHierarchies
      parameters:
        - $ref: '#/components/parameters/accept-language'
        - description: The catalog ID.
          name: catalog_id
          in: path
          required: true
          schema:
            type: string
        - description: The unique identifier of a published release of the catalog or `latest` for the most recently published version.
          name: release_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/filter-hierarchy'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: The hierarchies of a catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hierarchy-list-data'
        default:
          description: An unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalogs/{catalog_id}/releases/{release_id}/hierarchies/{hierarchy_id}:
    get:
      tags:
        - Administrator Latest Releases Catalog API
      summary: Get a Hierarchy
      description: |
        Returns the specified hierarchy from a published catalog.

        :::note

        Currently, published catalogs are limited to the current release and two releases prior to the current release.

        :::
      operationId: getHierarchy
      parameters:
        - $ref: '#/components/parameters/accept-language'
        - description: The catalog ID.
          name: catalog_id
          in: path
          required: true
          schema:
            type: string
        - description: The unique identifier of a published release of the catalog or `latest` for the most recently published version.
          name: release_id
          in: path
          required: true
          schema:
            type: string
        - description: The catalog hierarchy ID.
          name: hierarchy_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The catalog hierarchy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hierarchy-data'
        default:
          description: The unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalogs/{catalog_id}/releases/{release_id}/hierarchies/{hierarchy_id}/nodes:
    get:
      tags:
        - Administrator Latest Releases Catalog API
      summary: Get a Hierarchy's Nodes
      description: |
        Returns all nodes for the specified hierarchy from a published catalog.

        :::note

        Currently, published catalogs are limited to the current release and two releases prior to the current release.

        :::

        In the `bread_crumb` metadata, you can identify the parent nodes that a node is associated with. This is useful if you want to improve how your shoppers search your store, for example. See [Product and Node Associations in Breadcrumb Metadata](/guides/How-To/Catalogs/breadcrumbs).

        ### Filtering

        This endpoint supports filtering. For general syntax, see [Filtering](/guides/Getting-Started/filtering).

        | Operator | Description | Supported Attributes | Example |
        |:--- |:--- |:--- |:--- |
        | `Eq` | Checks if the values of two operands are equal. If they are, the condition is true. | `name`, `slug`| `filter=eq(name,some-name)` |
        | `In` | Checks if the values are included in the specified string. If they are, the condition is true. | `id` | `filter=in(id,some-id)` | 

        ### Building breadcrumbs in a storefront

        In a catalog, you can use a filter to return a list of nodes in a hierarchy structure that a product belongs to. You can use this to build breadcrumbs in your storefront. An example is shown below.

        `filter=in(id,c83bfe55-0d87-4302-a86d-ab19e7e323f1,6003d7ef-84f3-49bb-a8bd-4cbfa203dcbb)`

        - Specify the node Ids in the filter expression.
        - You can have as many node Ids as you want.
        - It does not matter what order you specify the node Ids. The nodes are returned in the order they were last updated.
      operationId: getHierarchyNodes
      parameters:
        - description: The catalog ID.
          name: catalog_id
          in: path
          required: true
          schema:
            type: string
        - description: The catalog release ID.
          name: release_id
          in: path
          required: true
          schema:
            type: string
        - description: The catalog hierarchy ID.
          name: hierarchy_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/filter-node'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: The child nodes of a catalog hierarchy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/node-list-data'
        default:
          description: The unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalogs/{catalog_id}/releases/{release_id}/hierarchies/{hierarchy_id}/children:
    get:
      tags:
        - Administrator Latest Releases Catalog API
      summary: Get a Hierarchy's Children
      description: |
        Returns the parent nodes for the specified hierarchy from a published catalog.

        ![Parent Nodes](/assets/rootnodes.PNG)

        :::note

        Currently, published catalogs are limited to the current release and two releases prior to the current release.

        :::

        In the `bread_crumb` metadata, you can identify the parent nodes that a node is associated with. This is useful if you want to improve how your shoppers search your store, for example. See [Product and Node Associations in Breadcrumb Metadata](/guides/How-To/Catalogs/breadcrumbs).

        ### Filtering

        This endpoint supports filtering. For general syntax, see [Filtering](/guides/Getting-Started/filtering).

        | Operator | Description | Supported Attributes | Example |
        |:--- |:--- |:--- |:--- |
        | `Eq` | Checks if the values of two operands are equal. If they are, the condition is true. | `name`, `slug`| `filter=eq(name,some-name)` |
        | `In` | Checks if the values are included in the specified string. If they are, the condition is true. | `id` | `filter=in(id,some-id)` | 

        ### Building breadcrumbs in a storefront

        In a catalog, you can use a filter to return a list of nodes in a hierarchy structure that a product belongs to. You can use this to build breadcrumbs in your storefront. An example is shown below.

        `filter=in(id,c83bfe55-0d87-4302-a86d-ab19e7e323f1,6003d7ef-84f3-49bb-a8bd-4cbfa203dcbb)`

        - Specify the node Ids in the filter expression.
        - You can have as many node Ids as you want.
        - It does not matter what order you specify the node Ids. The nodes are returned in the order they were last updated.
      operationId: getHierarchyChildNodes
      parameters:
        - description: The catalog ID.
          name: catalog_id
          in: path
          required: true
          schema:
            type: string
        - description: The unique identifier of a published release of the catalog or `latest` for the most recently published version.
          name: release_id
          in: path
          required: true
          schema:
            type: string
        - description: The catalog hierarchy ID.
          name: hierarchy_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/filter-node'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: The child nodes of a catalog hierarchy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/node-list-data'
        default:
          description: The unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
  /catalogs/{catalog_id}/releases/{release_id}/nodes:
    get:
      tags:
        - Administrator Latest Releases Catalog API
      summary: Get all Nodes
      description: |
        Returns the child nodes from a published catalog.
         
        :::note
         
        Currently, published catalogs are limited to the current release and two releases prior to the current release.
         
        :::
         
        You can see the parent nodes a node is associated with in the `bread_crumb` metadata for each node. This is useful if you want to improve how your shoppers search your store, for example. See [Product and Node Associations in Breadcrumb Metadata](/guides/How-To/Catalogs/breadcrumbs).

        In a catalog, you can use a filter to return a list of nodes in a hierarchy structure that a product belongs to. You can use this to build breadcrumbs in your storefront. See [Building breadcrumbs in a storefront](#building-breadcrumbs-in-a-storefront).

        The response lists the products associated with the nodes. If products are [curated](/guides/How-To/Products/curating-products), they are displayed in `curated_products`. Product curation allows you to promote specific products within each of your hierarchies, enabling you to create unique product collections in your storefront.

        - If you don't provide any `curated_products`, products are listed by their `updated_at` time in descending order, with the most recently updated product first.
[...]
