# GENERATED FILE - DO NOT EDIT
openapi: 3.0.3
info:
  title: Product Experience Manager Introduction
  description: |

    Product Experience Manager uses the PIM service to manage product information, hierarchies, and price books. Ideally, Product Experience Manager becomes the single source of truth for product data across your organization.

    In Commerce, the product data is stored separately from pricing, catalogs, and inventory. This separation means that you retrieve all product data only when you are managing product data and assets. Otherwise, when setting prices or managing inventory, you retrieve a reference to the product rather than the entire product, which makes the response times very fast.

    You also have the flexibility to create catalogs for different scenarios by combining hierarchies of products with a price book. Scenarios might include:

    - **Multiple geographical regions**. Display different catalogs in different regions with suitable pricing or combine product hierarchies from two different regions to display in a third region.
    - **Multiple channels**. Display different catalogs based on how a shopper accesses your store, such as through a mobile app or a web storefront.
    - **Direct to business versus direct to customers**. Offer different products and prices for business customers versus retail customers.
    - **Preferred customers**. Offer special pricing to preferred customers while displaying a standard price catalog to all other shoppers.
    - **Reward programs**. Enable reward programs where catalog prices drop after a certain spending level is reached.
    - **Product sales**. Offer sale items for a limited time.

    Scenarios are created by defining the context within which a catalog is displays. Contexts can be a customer ID, a channel, or any other user-defined tag that can be passed to the APIs from the front-end shopper experiences.
  version: 1.0.0
servers:
  - url: https://euwest.api.elasticpath.com
    description: EU West Production Server
  - url: https://useast.api.elasticpath.com
    description: US East Production Server
security:
  - bearerAuth: []
tags:
  - name: Products
    description: |
      ```mdx-code-block
      import ProductsOverview from '/docs/partials/pxm/products/productsoverview.mdx';
      import ProductTypes from '/docs/partials/pxm/products/types.mdx';
      import ProductTags from '/docs/partials/pxm/products/tags.mdx';
      import PersonalProducts from '/docs/partials/pxm/products/personalizing.mdx';
      import ProductCatalogs from '/docs/partials/pxm/products/catalogs.mdx';
      import Overview from "/docs/partials/pxm/bundles/bundles.mdx";
      import ComponentOptions from "/docs/partials/pxm/bundles/components.mdx";
      import BundlePricing from "/docs/partials/pxm/bundles/bundlepricing.mdx";
      import DynamicBundles from "/docs/partials/pxm/bundles/dynamic.mdx";
      import BundlesBundles from "/docs/partials/pxm/bundles/bundlesof.mdx";

      <ProductsOverview />

      ### Product Types

      <ProductTypes />

      ### Personalizing Products

      <PersonalProducts />

      ### Products and Catalog Releases

      <ProductCatalogs />

      ### Bundles

      <Overview></Overview>

      ### Bundle Components and Options

      <ComponentOptions></ComponentOptions>

      ### Bundle Pricing

      <BundlePricing></BundlePricing>

      ### Dynamic Bundles

      <DynamicBundles></DynamicBundles>

      #### Creating Dynamic Bundles: An Overview

      The following steps are an overview of how to use dynamic bundles.

      1. Create your products using [**create a product**](/docs/api/pxm/products/create-product).
      1. Create a bundle using [**create a bundle**](/docs/api/pxm/products/create-product).
      1. Specify minimum and/or maximum values for the number of product options that can be selected within the bundle. For example, if you want the shopper to select exactly 4 out of 10 options, set both the minimum and maximum values to 4 for each of the 10 product options.
      1. For each product option in the bundle, specify if it is a default option by adding `"default": true` to the product options that you want to be pre-selected for the shopper.
      1. Publish the bundle to your catalog using the [Publish a catalog](/docs/api/pxm/catalog/publish-release) endpoint so you can display the products to your shoppers in your storefront.
      1. When a shopper interacts with the bundle on your storefront, they can select the products they want from the list of options. Use the [configure a shopper bundle](/docs/api/pxm/catalog/configure-by-context-product) endpoint to capture the shoppers selections. This updates the `bundle_configuration` with the product options chosen by a shopper.
      1. Once a shopper has configured their bundle, use the add a product to a cart endpoint to add the selected bundle to the shopper’s cart.
      1. When the shopper proceeds to checkout, the selected product options from the bundle are included in the order.

      ### Bundles of Bundles

      <BundlesBundles></BundlesBundles>

      #### Creating Bundles of Bundles: An Overview

      To create a bundle of bundles, simply add a bundle as a component to another bundle.

      1. Create your products using [**create a product**](/docs/api/pxm/products/create-product).
      1. Create all your child bundles using [**create a bundle**](/docs/api/pxm/products/create-product).
      1. [**Create a parent bundle**](/docs/api/pxm/products/create-product) and specify the product ID of your child bundle as an option of a component in your bundle. You cannot have more than 1500 options in a bundle.
      ```
  - name: Product Tags
    description: |
      ```mdx-code-block
      import ProductTags from '/docs/partials/pxm/products/tags.mdx';

      <ProductTags />
      ```
  - name: Extending Products with Templates
    description: |
      ```mdx-code-block
      import TemplatesOverview from '/docs/partials/pxm/templates/extendingproducts.mdx';

      <TemplatesOverview />
      ```
  - name: Bundle Component Products Relationships
    description: |
      With Product Experience Manager, you can create and manage bundles. A bundle is a purchasable product, consisting of one or more products that you want to sell together.

      You can create multiple components within a bundle. Each component must have at least one or more options. Each option is a product and a quantity.
  - name: Variations
    description: |
      ```mdx-code-block
      import VariationsOverview from '/docs/partials/pxm/variations/variationsoverview.mdx';
      import VariationsReusability from '/docs/partials/pxm/variations/variationsreusability.mdx';
      import ChildProducts from '/docs/partials/pxm/variations/childproducts.mdx';
      import BuildChildren from '/docs/partials/pxm/variations/buildchildproducts.mdx';
      import ProductModifiers from '/docs/partials/pxm/variations/productmodifiers.mdx';
      import PriceModifiers from "/docs/partials/pxm/variations/pricemodifiers.mdx";

      <VariationsOverview />

      ### Reusability

      <VariationsReusability />

      ### Child Products

      <ChildProducts />

      ### Building Child Products

      <BuildChildren />

      ### Sorting the Order of Variations and Options

      The `variation_matrix` object lists the variation IDs and variation option IDs and their corresponding product IDs that are generated when the variation and variation options are built with a product. The `variation_matrix` can then be added to your catalogs.

      The order of the variations in the `variation_matrix` is the order of the variations in the array when the variations were linked to the product. For example, the first variation in the `variation_matrix` corresponds to the first variation in the array, and so on. You can use the `sort_order`attribute to sort the order of your variation and variation options in the `variation_matrix` object. The sort order value is visible when you add the variations and variation options to your catalogs. You can then use the `sort_order` value to program your storefront to display the variations and variation options in the order that you want.

      Add the `sort_order` attribute to the body of your request and specify a `sort_order` value. A `sort_order` value must be a number. You can specify any numbers that you want.

      - 1, 2, 3, or 100, 90, 80, and so on.
      - Zero or negative numbers.

      You can set `sort_order` to either `null` or omit it entirely from the request if you wish to remove an existing `sort_order` attribute.

      :::caution

      - Commerce does not sort variations and variation options. You must program your storefront to sort the variations and variation options in the order that you want.
      - You must rebuild your products for the sort order changes to take effect. See [**Build Child Products**](#build-child-products).

      :::

      ### Product Modifiers

      <ProductModifiers />

      ### Price Modifiers

      <PriceModifiers />
      ```
  - name: Product File Relationships
    description: |
      Products are the items or services that you might want to sell in your store. In Product Experience Manager, products can also have associated rich media assets, such as product images or a file containing additional product details.

      You can do this using [Files API](/docs/api/pxm/files).

      Once you have created your files, you associate files with your products using the [Create Product-File Relationships API](/docs/api/pxm/products/create-product-file-relationships).
  - name: Product Image Relationships
    description: |
      Products are the items or services that you might want to sell in your store. In Product Experience Manager, products can also have associated rich media assets, such as product images or a file containing additional product details.

      You can do this using [Files API](/docs/api/pxm/files).

      Once you have created your files, you associate files with your products using the [Create Product Main Image Relationships API](/docs/api/pxm/products/create-product-main-image-relationships).
  - name: Product Import/Bulk Update
    description: |
      ```mdx-code-block
      import ProductImport from '/docs/partials/pxm/import/import.mdx';

      <ProductImport />
      ```

      #### Using Imported Main Image Files

      You can use the main images that you have previously uploaded to Commerce and assign them to your products when importing products to Commerce. You can do this by adding a `main_image_id` header to your `.csv` file. The ID you provide in `main_image_id` is the ID of a file that has already been uploaded to Commerce using create a file.

      #### Importing Custom Data (Flows)

      You can also create/update custom extension data in a `.csv` file by creating a header that includes the flow `ID` and the field `slug` in the following format: 

      template:*flowID*:*fieldSlug*.

      where:

      - `template` must be `template`.
      - `flowID` is the ID of the flow that contains the field whose data you want to create/update.
      - `fieldSlug` is the slug of the field whose data you want to create/update.

      In the following example, for a flow with ID `82c10a02-1851-4992-8ecb-d44f2782d09b` and a field with the slug `condition`:

      - the header is `template:82c10a02-1851-4992-8ecb-d44f2782d09b:condition`.
      - the updated custom data is `as-new`.

          | name | slug | sku | status | template:82c10a02-1851-4992-8ecb-d44f2782d09b:condition |
          | :--- | :--- | :--- | :--- | :--- |
          | BestEver Range | bestever-range-1a1a-30 | BE-Range-1a1a-30 | draft | as-new |

      #### Characteristics of CSV Import Files

      Product Import uses a [**Comma Separated Values (CSV)**](#characteristics-of-csv-import-files) file to import/update products, main image files, and custom extension data. 

      - Each row in a `.csv` file represents a product you want to create/update. 
      - Each file:
          - must not be larger than 50 megabytes. If a `.csv` file is larger than 50 megabytes, a `503 client read error` is displayed.
          - must not have more than 50,000 rows, including the header. If a CSV file exceeds 50,000 rows, an error is displayed, and the products are not imported.
          In other words, if you have a file with 50,000 rows that is larger than 50 megabytes, an error is displayed, and the products are not imported.
      - If you want to create/update more than 50,000 products or your `.csv` file is larger than 50 megabytes, you must have a separate `.csv` file and import each `.csv` file one at a time.
      - You can update existing products, including images, templates/flow fields, and entries. The entry in the `.csv` file must have a unique `id` and/or `external_ref` that matches the `id` and `external_ref` of the existing product you want to update. You may have both a unique `id` and `external_ref`, but you must have at least one.
      - You can add new products. For new products that you want to add, the entry in the `.csv` file must have an `external_ref` that does not match any existing products.

      The following table describes the headers that are supported.

      | Header | Required | Description  |
      |:---- |:---------|:--|
      | id                              | Optional | A unique product ID that is generated when you create the product. The `id` is used to look up products in the `.csv` file and matches them to the products in your storefront that you want to update.                                                                                                                                                                                                       |
      | external_ref                    | Optional | A unique attribute associated with a product. This could be an external reference from a separate company system, for example. The maximum length is 2048 characters.                                                                                                                                                                                                                                         |
      | name                            | Required | The name of a product.                                                                                                                                                                                                                                                                                                                                                                                        |
      | description                     | Required | A description for a product. You can include quotes in your product description, if you want to emphasize a word, for example. To do this, put quotes around the product description. For example, "This product description describes my "product" and the product "version"."                                                                                                                               |
      | slug                            | Required | A label for the product that is used in the URL paths. A slug can contain any combination of letters, numbers, periods, hyphens, and underscores. NO spaces or other characters are allowed. By default, the product name is used as the slug.                                                                                                                                                                |
      | status                          | Required | The status of a product, either `Draft` or `Live`.                                                                                                                                                                                                                                                                                                                                                            |
      | commodity_type                  | Required | The commodity type, either `physical` or `digital`.                                                                                                                                                                                                                                                                                                                                                           |
      | upc_ean                         | Optional | The universal product code or european article number of the product.                                                                                                                                                                                                                                                                                                                                         |
      | mpn                             | Optional | The manufacturer part number of a product.                                                                                                                                                                                                                                                                                                                                                                    |
      | sku                             | Optional | The unique stock keeping unit of the product.                                                                                                                                                                                                                                                                                                                                                                 |
      | tags                             | Optional | The product tags used to store or assign a key word against a product. A product can have up to 20 product tags. A product tag can be up to 255 characters. See [**Product Tags**](/docs/api/pxm/products/product-tags).
      | main_image_id                   | Optional | Specifies a unique ID of a main image file for a product. You can include a `main_image_id` for your products for images that are already uploaded to Commerce. See [**Using Main Image Files**](#importing-custom-data-flows).                                                                                                                                                                                        |
      | `template:<flowID>:<fieldSlug>` | Optional | You can also specify custom extension data in the CSV by specifying the flow `ID` or `slug` and the field `name`. For example, `template:<flowSlug>:<fieldName>` format. See [**Importing Custom Data (Flows)**](#importing-custom-data-flows). |
  - name: Product Export
    description: |
      ```mdx-code-block
      import ProductExport from '/docs/partials/pxm/import/export.mdx';

      <ProductExport />
      ```

      ### Characteristics of Exporting Products

      - Product exports are an asynchronous operation. When you send a request to the Export API, it triggers an asynchronous job to build the `.csv` file containing the product entries.
      - Jobs are processed one at a time. You can continue to send product export requests, but those jobs are queued. In other words, Commerce looks for any jobs that have a status of PENDING and starts the job with the earliest created date. This process is repeated until all jobs are processed. See [**Jobs**](/docs/api/pxm/products/jobs).
      - The Export API response includes a job resource. In the response, you can verify the job status; if the status is successful, the response includes a link to the location where the `.csv` file is stored. See [**Product Export CSV File**](#product-export-csv-file). A single CSV file contains 10,000 rows, excluding the header. If you are exporting 50,000 products, the job endpoint response contains links to five `.csv` files; each `.csv` file including 10,000 products.
      - You might have specified custom extension data in a `.csv` file when you imported the products. These modifications are all exported. So, when you send a request to the Export API, the `.csv` file, included in the Job endpoint response, reflects any changes that you have made.
      - You cannot export product bundles.

      ### Product Export CSV File

      The Product Export API generates a Comma Separated Values (CSV) file that you can use to import/update products, main image files, and custom extension data. 

      The `.csv` file is:

       - Comma-separated.
       - Header-based.
         - Header attributes must be the same as the product attributes.
         - Header names can be in any order.
       - Each row after the first line represents a single product.

      The following table describes the headers that are supported.

      | Header                           | Required | Description |                                                             
      |:---------------------------------|:---------|:-----------------------------------------------------|
      | id                               | Optional | A unique product ID that is generated when you create the product. The `id` is used to look up products in the `.csv` file and matches them to the products in your storefront that you want to update.                                                    |
      | external_ref                     | Optional | A unique attribute associated with a product. This could be an external reference from a separate company system, for example. The maximum length is 2048 characters.  |                                                                                          
      | name                             | Required | The name of a product.     |                                                                              
      | description                      | Required | A description for a product. You can include quotes in your product description, if you want to emphasize a word, for example. To do this, put quotes around the product description. For example, "This product description describes my "product" and the product "version"." |
      | slug                             | Required | A label for the product that is used in the URL paths. A slug can contain any combination of letters, numbers, periods, hyphens, and underscores. NO spaces or other characters are allowed. By default, the product name is used as the slug.                |
      | status                           | Required | The status of a product, either `Draft` or `Live`.    |                                                  
      | commodity_type                   | Required | The commodity type, either `physical` or `digital`.    |                                                 
      | upc_ean                          | Optional | The universal product code or european article number of the product.     |                               
      | mpn                              | Optional | The manufacturer part number of a product.       |                                                        
      | sku                              | Optional | The unique stock keeping unit of the product.   |   
      | tags                             | Optional | The product tags used to store or assign a key word against a product. A product can have up to 20 product tags. A product tag can be up to 255 characters. See [**Product Tags**](/docs/api/pxm/products/product-tags
      ).                                                   |
      | main_image_id                    | Optional | Specifies a unique ID of a main image file for a product. See [Exporting Main Image Files](#exporting-main-image-files).  |                                                                                                                       
      | `_created_at`                      | Optional| The date and time a product was created. **Note**: This field does not populate any data; it is provided solely for informational purposes.      |                                                                                                               
      | `_updated_at`                      | Optional | The date and time a product was updated. **Note**: This field does not populate any data; it is provided solely for informational purposes.        |                                                                                                             
      | `template:<templateID>:created_at` | Optional | The date and time a template was created. **Note**: This field does not populate any data; it is provided solely for informational purposes.         |                                                                                                           
      | `template:<templateID>:updated_at` | Optional | The date and time a template was updated. **Note**: This field does not populate any data; it is provided solely for informational purposes.      |                                                                                                              
      | `template:<flowID>:<fieldName>`  | Optional | Custom extension data includes the flow `ID` or `slug` and the field `name`. See [Exporting Custom Data (Flows)](#exporting-custom-data-flows).   |                                                                                                              

      ### Exporting Main Image Files

      The main images that you have previously uploaded Commerce are exported. A `main_image_id` header is added to your `.csv` file. The ID in `main_image_id` is the ID of a file that has already been uploaded to Commerce using [create a file](/docs/api/pxm/files/create-a-file).

      ### Exporting Custom Data (Flows)

      Custom extension data is exported in a `.csv` file by creating a header that includes the flow `ID` or `slug` and the field `name` as shown below:

      - `template:<flowSlug>:<fieldName>`
      - `template:<flowID>:<fieldName>`

      where:

      - `template` must be `template`.
      - one of the following for the template that contains the field whose data you want to export:
        - `flowID` is the ID of the flow.
        - `flowSlug` is the flow slug.
      - `fieldName` is the name of the field whose data you want to export.

      In the following example, for a flow with ID `82c10a02-1851-4992-8ecb-d44f2782d09b` and a field with the name `condition`:

      - the header is `template:82c10a02-1851-4992-8ecb-d44f2782d09b:condition`.
      - the updated custom data is `as-new`.

      | name | slug | sku | status | template:82c10a02-1851-4992-8ecb-d44f2782d09b:condition |
      | :--- | :--- | :--- | :--- | :--- |
      | BestEver Range | bestever-range-1a1a-30 | BE-Range-1a1a-30 | draft | as-new |
  - name: Hierarchies
    description: |
      ```mdx-code-block
      import HierarchyOverview from '/docs/partials/pxm/hierarchies/hierarchies.mdx';
      import HierarchyCatalog from '/docs/partials/pxm/hierarchies/hierarchycatalogs.mdx';

      <HierarchyOverview />

      ## Creating Hierarchies and Nodes

      You can create the **Major Appliances** hierarchy by performing the following steps.

      1. Using [**Create a Hierarchy**](/docs/api/pxm/products/create-hierarchy), create a hierarchy whose name is **Major Appliances**. Each hierarchy has a hierarchy ID. In other words, the hierarchy ID is the ID of the root node.
      1. Using [**Create a Node in a hierarchy**](/docs/api/pxm/products/create-node), create the following child nodes. When you create a node in a hierarchy, by default, the node is a child of the root node. Specify `sort_order` to configure the order of the nodes.
         - **Ranges**
         - **Refrigerators**
         - **Dishwashers**
      1. Using [**Create a Node in a hierarchy**](/docs/api/pxm/products/create-node), create the **Electric Ranges** node, specifying **Ranges** as the parent node.
      1. Using [**Create a Node in a hierarchy**](/docs/api/pxm/products/create-node), create the following nodes, specifying **Electric Ranges** as the parent node.
         - **Electric Ranges 24ˮ**
         - **Electric Ranges 30ˮ**
         - **Double Oven**
      1. Using [**Create a Node in a hierarchy**](/docs/api/pxm/products/create-node), create the **Gas Ranges** node, specifying **Ranges** as the parent node.
      1. Using [**Create a Node in a hierarchy**](/docs/api/pxm/products/create-node), create the following nodes, specifying **Gas Ranges** as the parent node.
         - **Gas Ranges 24ˮ**
         - **Gas Ranges 30ˮ**
         - **Gas Ranges 32"**
         - **Double Oven**
      1. Using [**Create a Node in a hierarchy**](/docs/api/pxm/products/create-node), create the following nodes, specifying **Dishwashers** as the parent node.
          - **Built-in**
          - **Standalone**

      ## Hierarchies and Catalogs

      <HierarchyCatalog />

      ```
  - name: Jobs
    description: |
      ```mdx-code-block
      import ProductJobs from '/docs/partials/pxm/jobs/jobs.mdx';

      <ProductJobs />
      ```
paths:
  /pcm/jobs:
    get:
      summary: Get All Jobs
      description: The jobs endpoints displays the status of a number of endpoints that function as jobs, for example, product import and export, price book import, building child products, and duplicating hierarchies.
      operationId: getAllJobs
      tags:
        - Jobs
      responses:
        '200':
          description: Returns all the jobs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/multi'
              examples:
                completed:
                  summary: Get all jobs
                  $ref: '#/components/examples/multi'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
  /pcm/jobs/{jobID}:
    get:
      summary: Get a Job
      operationId: getJob
      tags:
        - Jobs
      parameters:
        - $ref: '#/components/parameters/job_id'
      responses:
        '200':
          description: Returns a job with the following attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single'
              examples:
                started:
                  summary: Started Job
                  $ref: '#/components/examples/started'
                successful:
                  summary: Product Import Job
                  $ref: '#/components/examples/successful'
                product-export:
                  summary: Product Export Job
                  $ref: '#/components/examples/product-export'
                hierarchy-duplicate:
                  summary: Hierarchy Duplicate Job
                  $ref: '#/components/examples/hierarchy-duplicate'
                build-child-products:
                  summary: Build Child Products Job
                  $ref: '#/components/examples/build-child-products'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
  /pcm/jobs/{jobID}/cancel:
    post:
      summary: Cancel a Job
      description: |
        The jobs endpoints display the status of a number of endpoints that function as jobs, for example, product import and export, and duplicating hierarchies.

        Jobs are processed one at a time. You can continue to send job requests, but those jobs are queued. In other words, Commerce looks for any jobs that have a status of PENDING and starts the job with the earliest created date. If you decide that a specific job needs to be prioritized over another, you can cancel the less critical job using the `Cancel a job` endpoint. You can only cancel jobs whose status is PENDING.
      operationId: cancelJob
      tags:
        - Jobs
      requestBody:
        content:
          application/json:
            schema:
              type: object
      parameters:
        - $ref: '#/components/parameters/job_id'
      responses:
        '200':
          description: Successfully cancelled job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single'
              examples:
                cancelled:
                  summary: Cancelled Job
                  $ref: '#/components/examples/cancelled'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
  /pcm/jobs/{jobID}/errors:
    get:
      summary: Get Job Errors
      operationId: getJobErrors
      tags:
        - Jobs
      parameters:
        - $ref: '#/components/parameters/job_id'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
              examples:
                errors:
                  summary: Errors Returned
                  $ref: '#/components/examples/errors'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
  /pcm/products:
    post:
      summary: Create a product or bundle
      description: |
        Creates a product or bundle with the attributes that are defined in the body.

        #### Product Types

        Product Experience Manager automatically assigns types to the products you create. You can filter on product types. Product types can also be used in catalogs. For example, in your catalog, you can filter on `parent` so that only your parent products are displayed in your storefront. 

        See [**Product Types**](/docs/api/pxm/products/products#product-types).

        #### Product Tags

        You can use product tags to store or assign a key word against a product or service that you sell in your store. The product tag can then be used to describe or label that product. Product tags represent similarities between products who do not share the same attributes. Using product tags means that you can group your products together, for example, by brand, category, subcategory, colors, types, industries, and so on. 

        See [**Product Tags**](/docs/api/pxm/products/product-tags).

        #### Personalizing Products

        You can allow your shoppers to add custom text to a product when adding product items to their carts. This is useful, for example, if you have a product like a T-shirt that can be personalized, or you sell greetings cards that can be printed with your shoppers personalized messages. You can do this by configuring the `custom_inputs` attribute.

        When configuring the `custom_inputs` attribute:

        - You can rename `input` to something more representative of the input that shoppers are adding, for example, `message` or `front`.
        - `name` is the name that is displayed in your storefront.
        - You can add validation rules. For example, the input field must be a `string` and/or up to 255 characters in length. The limit is 255 characters.
        - You can specify if the input field is required.

        #### Curating Products

        You can curate the products in a node. Product curation allows you to promote specific products within each node of your hierarchies, enabling you to create unique product collections in your storefront. For example, you may find you have an abundance of cotton T-Shirts and you want to promote these products to the top of the product list. When a shopper navigates to T-shirts, the cotton T-Shirts are displayed first. See [**Update a node**](/docs/api/pxm/products/update-node).

        #### Bundles

        With Product Experience Manager, you can use the products API to create and manage bundles. A bundle is a purchasable product, consisting of one or more products that you want to sell together. 

        See [**Bundles**](/docs/api/pxm/products/products#bundles).
      operationId: createProduct
      tags:
        - Products
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_product_request'
            examples:
              create-product:
                summary: Create a base product
                $ref: '#/components/examples/product_request'
              build-rules:
                summary: Create a base product, associate variations, configure build rules
                $ref: '#/components/examples/build_rules_request'
              sku-bundles:
                summary: SKU-based bundles
                $ref: '#/components/examples/bundle_sku_based_request'
              sku-less-bundles:
                summary: SKU-less bundles
                $ref: '#/components/examples/bundle_sku_less_request'
      responses:
        '201':
          description: Creates a product with the following attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_product_response'
              examples:
                created-product:
                  summary: Create a base product
                  $ref: '#/components/examples/create_single_product_response'
                build-rules:
                  summary: Create a base product, associate variations, configure build rules
                  $ref: '#/components/examples/create_build_rules_response'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
    get:
      summary: Get all products
      description: |
        Retrieves a list of all your products in the Product Experience Manager system.

        You can also use `include` to retrieve top-level resources, such as files or images, and key attribute data, such as SKU or slug for component products in a product bundle. With this option, you can get more information about the products in a product bundle in your store front, improving the buying experience for your shoppers.

        #### Filtering

         Many Commerce API endpoints support filtering. The general syntax is described in [**Filtering**](/guides/Getting-Started/filtering).

         The following attributes and operators are supported.

        | Operator          | Attribute                                                                                                                                               | Description                                                                                                                                                                                                                                             | Example                                      |
        | :---------------- | :------------------------------------------------------------------------------------------------------------------------------------------------------ | :------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ | :------------------------------------------- |
        | `eq`              | `id`, `sku`, `slug`, `upc_ean`, `manufacturer_part_num`, `name`, `templates`, `commodity_type`, `owner`, `product_types`, `parent_id`, `tags`, `status`, `has_nodes (false only)`, `created_at`, `updated_at`, `external_ref`, `description` | Equals. Checks if the values of two operands are equal. If they are, the condition is true. For `product_types`, you can only specify one product type. **Note:** `has_nodes` can only be filtered as `false`.                           | `?filter=eq(name,some-name)`                 |
        | `like`            | `sku`, `slug`, `upc_ean`, `manufacturer_part_num`, `name`, `tags`, `description`, `external_ref`                                                           | Like. Checks if the operand contains the specified string. Wildcards are supported.                                                                                                                                                                   | `?filter=like(name,*some-name*)`              |
        | `in`              | `id`, `name`, `sku`, `slug`, `upc_ean`, `manufacturer_part_num`, `product_types`, `parent_id`, `tags`, `external_ref`                                        | Checks if the values are included in the specified list. If they are, the condition is true. For `product_types`, you can specify more than one product type.                                                                                        | `?filter=in(id,some-id)`                     |
        | `gt`              | `id`, `created_at`, `updated_at`, `external_ref`                                                                                                          | Greater than. Checks if the value of the field is greater than the given value.                                                                                                                                                                         | `?filter=gt(updated_at,2024-01-01T00:00:00Z)`  |
        | `ge`              | `id`, `created_at`, `updated_at`, `external_ref`                                                                                                          | Greater than or equal to. Checks if the value of the field is greater than or equal to the given value.                                                                                                                                                 | `?filter=ge(created_at,2023-01-01T00:00:00Z)`  |
        | `lt`              | `id`, `created_at`, `updated_at`, `external_ref`                                                                                                          | Less than. Checks if the value of the field is less than the given value.                                                                                                                                                                               | `?filter=lt(updated_at,2025-01-01T00:00:00Z)`  |
        | `le`              | `id`, `created_at`, `updated_at`, `external_ref`                                                                                                          | Less than or equal to. Checks if the value of the field is less than or equal to the given value.                                                                                                                                                       | `?filter=le(created_at,2022-01-01T00:00:00Z)`  |
        | `eq` (extensions) | `extensions.book.isbn`                                                                                                                                    | Filters using a nested extension field.                                                                                                                                                                                                               | `?filter=eq(extensions.book.isbn,1765426)`     |
      operationId: getAllProducts
      tags:
        - Products
      parameters:
        - $ref: '#/components/parameters/page_offset'
        - $ref: '#/components/parameters/page_limit'
        - $ref: '#/components/parameters/filterproduct'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: Returns a list of all products.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/multi_product_response'
              examples:
                list-products:
                  $ref: '#/components/examples/multi_product_response'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/internal'
  /pcm/products/import:
    post:
      summary: Import Products
      description: |

        You can use the Product Import API to:

        - Add new products, including:

            - main image files. See [Importing Main Image Files](/docs/api/pxm/products/product-import-bulk-update#using-imported-main-image-files).
            - custom data. See [Importing custom data](/docs/api/pxm/products/product-import-bulk-update#importing-custom-data-flows).
            - Make bulk updates to existing products.

        You cannot use product import to:

        - Delete existing products.
        - Import product bundles.

        The Product Import API uses a Comma Separated Values (CSV) file to import products, main image files and custom extension data. Each row in a .csv file represents a product you want to create/update. See an [example file](/assets/pim_product_import_example.csv).

        Each file can have 50,000 rows, including the header. If a CSV file exceeds 50,000 rows, an error is displayed, and the products are not imported. A CSV file must not be larger than 50 megabytes. If a CSV file is larger than 50 megabytes, a `503 client read` error is displayed.

        If you want to create/update more than 50,000 products or your CSV file is larger than 50 megabytes, you must have a separate CSV file and import each CSV file one at a time.

        See [**Characteristics of CSV Files**](/docs/api/pxm/products/product-import-bulk-update#characteristics-of-csv-import-files).
      operationId: importProducts
      tags:
        - Product Import/Bulk Update
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  description: The file you want to upload. Ensure that the file format is Comma Separated Values (CSV).
                  type: string
                  format: binary
                  example: UploadFile
            examples:
              upload_image:
                summary: Upload Image
                value:
                  file: '@path/to/file'
      responses:
        '201':
          description: Import started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single'
              examples:
                pending:
                  summary: Successful Job
                  $ref: '#/components/examples/import'
        '400':
          $ref: '#/components/responses/bad_request'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
  /pcm/products/export:
    post:
      summary: Export Products
      description: |

        The Export API is available to make bulk updates to products in Product Experience Manager. You might also export products for your personal requirements. 
        
        The Export API builds a CSV file containing the product entries. A CSV file can contain up to 50,000 product entries. If you have more than 50,000 product entries, then another CSV file is created and so on, until all your products are exported.

        The Job endpoint response specifies the location where the CSV file is stored. See [Characteristics of CSV Files](/docs/api/pxm/products/product-export#characteristics-of-exporting-products).
        
        ### Filtering
        
        The following attributes and operators are supported.

        | Operator          | Attribute                                                                                                                                               | Description                                                                                                                                                                                                                                             | Example                                      |
        | :---------------- | :------------------------------------------------------------------------------------------------------------------------------------------------------ | :------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ | :------------------------------------------- |
        | `eq`              | `id`, `sku`, `slug`, `upc_ean`, `manufacturer_part_num`, `name`, `templates`, `commodity_type`, `owner`, `product_types`, `parent_id`, `tags`, `status`, `has_nodes (false only)`, `created_at`, `updated_at`, `external_ref`, `description` | Equals. Checks if the values of two operands are equal. If they are, the condition is true. For `product_types`, you can only specify one product type. **Note:** `has_nodes` can only be filtered as `false`.                           | `?filter=eq(name,some-name)`                 |
        | `like`            | `sku`, `slug`, `upc_ean`, `manufacturer_part_num`, `name`, `tags`, `description`, `external_ref`                                                           | Like. Checks if the operand contains the specified string. Wildcards are supported.                                                                                                                                                                   | `?filter=like(name,*some-name*)`              |
        | `in`              | `id`, `name`, `sku`, `slug`, `upc_ean`, `manufacturer_part_num`, `product_types`, `parent_id`, `tags`, `external_ref`                                        | Checks if the values are included in the specified list. If they are, the condition is true. For `product_types`, you can specify more than one product type.                                                                                        | `?filter=in(id,some-id)`                     |
        | `gt`              | `id`, `created_at`, `updated_at`, `external_ref`                                                                                                          | Greater than. Checks if the value of the field is greater than the given value.                                                                                                                                                                         | `?filter=gt(updated_at,2024-01-01T00:00:00Z)`  |
        | `ge`              | `id`, `created_at`, `updated_at`, `external_ref`                                                                                                          | Greater than or equal to. Checks if the value of the field is greater than or equal to the given value.                                                                                                                                                 | `?filter=ge(created_at,2023-01-01T00:00:00Z)`  |
        | `lt`              | `id`, `created_at`, `updated_at`, `external_ref`                                                                                                          | Less than. Checks if the value of the field is less than the given value.                                                                                                                                                                               | `?filter=lt(updated_at,2025-01-01T00:00:00Z)`  |
        | `le`              | `id`, `created_at`, `updated_at`, `external_ref`                                                                                                          | Less than or equal to. Checks if the value of the field is less than or equal to the given value.                                                                                                                                                       | `?filter=le(created_at,2022-01-01T00:00:00Z)`  |
        | `eq` (extensions) | `extensions.book.isbn`                                                                                                                                    | Filters using a nested extension field.                                                                                                                                                                                                               | `?filter=eq(extensions.book.isbn,1765426)`     |
      operationId: exportProducts
      tags:
        - Product Export
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Export started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single'
              examples:
                pending:
                  summary: Successful Job
                  $ref: '#/components/examples/export'
        '400':
          $ref: '#/components/responses/bad_request'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
      parameters:
        - $ref: '#/components/parameters/useTemplateSlugs'
        - $ref: '#/components/parameters/filterexport'
  /pcm/products/{productID}:
    get:
      summary: Get a product
      description: |
        Returns a product by its identifier. 

        You can also use `include=component_products` to retrieve top-level resources, such as files or images, and key attribute data, such as SKU or slug for component products in a product bundle. With this option, you can get more information about the products in a product bundle in your store front, improving the buying experience for your shoppers.
      operationId: getProduct
      parameters:
        - $ref: '#/components/parameters/product_id'
        - $ref: '#/components/parameters/include'
      tags:
        - Products
      responses:
        '200':
          description: Returns a product by its identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_product_response'
              examples:
                get-product:
                  summary: Product
                  $ref: '#/components/examples/get_single_product_response'
                get-product-bundle:
                  summary: Bundle
                  $ref: '#/components/examples/get_bundle_response'
                get-product-component-parent:
                  summary: Parent Product
                  $ref: '#/components/examples/get_parent_product_response'
                get-product-component-child:
                  summary: Child Product
                  $ref: '#/components/examples/get_child_product_response'
                get-product-component-products:
                  summary: Component Product
                  $ref: '#/components/examples/get_component_product_response'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/internal'
    put:
      summary: Update a product or bundle
      description: Specify whichever attributes you want to change. The values of the other attributes remain the same. If the attributes section is empty, the product or bundle is not updated.
      operationId: updateProduct
      parameters:
        - $ref: '#/components/parameters/product_id'
      tags:
        - Products
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_product_request'
            examples:
              update-product:
                summary: Update a base product
                $ref: '#/components/examples/update_product_request'
              update-product-build-rules:
                summary: Update a base product and build rules
                $ref: '#/components/examples/update_build_rules_request'
              update-product-custom-inputs:
                summary: Update using custom_inputs
                description: You can allow your shoppers to add custom text to a product when checking out their carts. This is useful, for example, if you have a product like a T-shirt that can be personalized. You can do this using the custom_inputs attribute when creating your products.
                $ref: '#/components/examples/update_custom_inputs_request'
              update-product-bundle:
                summary: Update a bundle
                $ref: '#/components/examples/update_bundle_request'
      responses:
        '200':
          description: Updates a product with the following attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_product_response'
              examples:
                updated-product:
                  summary: Update a base product
                  $ref: '#/components/examples/update_single_product_response'
                build-rules:
                  summary: Update a base product, configure build rules
                  $ref: '#/components/examples/update_build_rules_response'
                update-product-custom-inputs:
                  summary: Update using custom_inputs
                  $ref: '#/components/examples/update_custom_inputs_response'
                update-product-bundle:
                  summary: Update a bundle
                  $ref: '#/components/examples/update_bundle_response'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/write_conflict'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
    delete:
      summary: Delete a product
      description: |
        Deletes the specified product.

        You cannot delete a product if it is part of a bundle. You must first delete the bundle before you delete the product.
      operationId: deleteProduct
      parameters:
        - $ref: '#/components/parameters/product_id'
      tags:
        - Products
      responses:
        '204':
          description: Deletes the specified product.
        '403':
          $ref: '#/components/responses/forbidden'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
  /pcm/products/attach_nodes:
    post:
      summary: Attach multiple nodes
      description: |
        Assigns products to multiple hierarchies and their children nodes. You can apply a filter to search for the appropriate products to attach to a node. For general filtering syntax, see [**Filtering**](/guides/Getting-Started/filtering).
        
         The following attributes and operators are supported.
        
         | Operator          | Attribute                                                                                                                                               | Description                                                                                                                                                                                                                                             | Example                                      |
         | :---------------- | :------------------------------------------------------------------------------------------------------------------------------------------------------ | :------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ | :------------------------------------------- |
         | `eq`              | `id`, `sku`, `slug`, `upc_ean`, `manufacturer_part_num`, `name`, `templates`, `commodity_type`, `owner`, `product_types`, `parent_id`, `tags`, `status`, `has_nodes (false only)`, `created_at`, `updated_at`, `external_ref`, `description` | Equals. Checks if the values of two operands are equal. If they are, the condition is true. For `product_types`, you can only specify one product type. **Note:** `has_nodes` can only be filtered as `false`.                           | `?filter=eq(name,some-name)`                 |
         | `like`            | `sku`, `slug`, `upc_ean`, `manufacturer_part_num`, `name`, `tags`, `description`, `external_ref`                                                           | Like. Checks if the operand contains the specified string. Wildcards are supported.                                                                                                                                                                   | `?filter=like(name,*some-name*)`              |
         | `in`              | `id`, `name`, `sku`, `slug`, `upc_ean`, `manufacturer_part_num`, `product_types`, `parent_id`, `tags`, `external_ref`                                        | Checks if the values are included in the specified list. If they are, the condition is true. For `product_types`, you can specify more than one product type.                                                                                        | `?filter=in(id,some-id)`                     |
         | `gt`              | `id`, `created_at`, `updated_at`, `external_ref`                                                                                                          | Greater than. Checks if the value of the field is greater than the given value.                                                                                                                                                                         | `?filter=gt(updated_at,2024-01-01T00:00:00Z)`  |
         | `ge`              | `id`, `created_at`, `updated_at`, `external_ref`                                                                                                          | Greater than or equal to. Checks if the value of the field is greater than or equal to the given value.                                                                                                                                                 | `?filter=ge(created_at,2023-01-01T00:00:00Z)`  |
         | `lt`              | `id`, `created_at`, `updated_at`, `external_ref`                                                                                                          | Less than. Checks if the value of the field is less than the given value.                                                                                                                                                                               | `?filter=lt(updated_at,2025-01-01T00:00:00Z)`  |
         | `le`              | `id`, `created_at`, `updated_at`, `external_ref`                                                                                                          | Less than or equal to. Checks if the value of the field is less than or equal to the given value.                                                                                                                                                       | `?filter=le(created_at,2022-01-01T00:00:00Z)`  |
         | `eq` (extensions) | `extensions.book.isbn`                                                                                                                                    | Filters using a nested extension field.                                                                                                                                                                                                               | `?filter=eq(extensions.book.isbn,1765426)`     |
      operationId: attachNodes
      tags:
        - Products
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: object
                  required:
                    - filter
                    - node_ids
                  properties:
                    filter:
                      type: string
                      description: |
                        Filters applied to search for appropriate products to attach to a node. See [Attach multiple nodes](/docs/api/pxm/products/attach-nodes).
                      example: eq(sku,book)
                    node_ids:
                      type: array
                      description: A list of node unique identifiers that you want to assign to the products.
                      example:
                        - '123'
                      items:
                        type: string
            examples:
              product-attach-nodes:
                summary: Attach multiple nodes
                value:
                  data:
                    filter: eq(sku,book)
                    node_ids:
                      - '123'
      responses:
        '200':
          description: This request assigns the products that you have selected to multiple hierarchies and their children nodes and returns the following.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      nodes_attached:
                        description: Number of nodes assigned to the products.
                        type: integer
                      nodes_not_found:
                        type: array
                        description: A list of node unique identifiers that could not be identified.
                        example:
                          - '123'
                        items:
                          type: string
              examples:
                created-product:
                  summary: Attach multiple nodes
                  value:
                    meta:
                      nodes_attached: 3
                      nodes_not_found: []
        '400':
          $ref: '#/components/responses/bad_request'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
  /pcm/products/detach_nodes:
    post:
      summary: Detach multiple nodes
      description: |
        Dissociates products from multiple hierarchies and their children nodes. You can apply filters to search for the appropriate products to detach. For general filtering syntax, see [**Filtering**](/guides/Getting-Started/filtering).
        
        The following attributes and operators are supported.
        
         | Operator          | Attribute                                                                                                                                               | Description                                                                                                                                                                                                                                             | Example                                      |
         | :---------------- | :------------------------------------------------------------------------------------------------------------------------------------------------------ | :------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ | :------------------------------------------- |
         | `eq`              | `id`, `sku`, `slug`, `upc_ean`, `manufacturer_part_num`, `name`, `templates`, `commodity_type`, `owner`, `product_types`, `parent_id`, `tags`, `status`, `has_nodes (false only)`, `created_at`, `updated_at`, `external_ref`, `description` | Equals. Checks if the values of two operands are equal. If they are, the condition is true. For `product_types`, you can only specify one product type. **Note:** `has_nodes` can only be filtered as `false`.                           | `?filter=eq(name,some-name)`                 |
         | `like`            | `sku`, `slug`, `upc_ean`, `manufacturer_part_num`, `name`, `tags`, `description`, `external_ref`                                                           | Like. Checks if the operand contains the specified string. Wildcards are supported.                                                                                                                                                                   | `?filter=like(name,*some-name*)`              |
         | `in`              | `id`, `name`, `sku`, `slug`, `upc_ean`, `manufacturer_part_num`, `product_types`, `parent_id`, `tags`, `external_ref`                                        | Checks if the values are included in the specified list. If they are, the condition is true. For `product_types`, you can specify more than one product type.                                                                                        | `?filter=in(id,some-id)`                     |
         | `gt`              | `id`, `created_at`, `updated_at`, `external_ref`                                                                                                          | Greater than. Checks if the value of the field is greater than the given value.                                                                                                                                                                         | `?filter=gt(updated_at,2024-01-01T00:00:00Z)`  |
         | `ge`              | `id`, `created_at`, `updated_at`, `external_ref`                                                                                                          | Greater than or equal to. Checks if the value of the field is greater than or equal to the given value.                                                                                                                                                 | `?filter=ge(created_at,2023-01-01T00:00:00Z)`  |
         | `lt`              | `id`, `created_at`, `updated_at`, `external_ref`                                                                                                          | Less than. Checks if the value of the field is less than the given value.                                                                                                                                                                               | `?filter=lt(updated_at,2025-01-01T00:00:00Z)`  |
         | `le`              | `id`, `created_at`, `updated_at`, `external_ref`                                                                                                          | Less than or equal to. Checks if the value of the field is less than or equal to the given value.                                                                                                                                                       | `?filter=le(created_at,2022-01-01T00:00:00Z)`  |
         | `eq` (extensions) | `extensions.book.isbn`                                                                                                                                    | Filters using a nested extension field.                                                                                                                                                                                                               | `?filter=eq(extensions.book.isbn,1765426)`     |
      operationId: detachNodes
      tags:
        - Products
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: object
                  required:
                    - filter
                    - node_ids
                  properties:
                    filter:
                      type: string
                      description: |
                        You can apply filters to search for the appropriate products to detach. See [Detach multiple nodes](/docs/api/pxm/products/detach-nodes).
                      example: eq(sku,book)
                    node_ids:
                      type: array
                      description: A list of node unique identifiers that you want to assign to the products.
                      example:
                        - '123'
                      items:
                        type: string
            examples:
              product-attach-nodes:
                summary: Attach multiple nodes
                value:
                  data:
                    filter: eq(sku,book)
                    node_ids:
                      - '123'
      responses:
        '200':
          description: The request dissociates the products that you have selected from multiple hierarchies and their children and returns the following.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      nodes_detached:
                        description: Number of nodes dissociated from the products.
                        type: integer
                      nodes_not_found:
                        type: array
                        description: A list of node unique identifiers that could not be identified.
                        example:
                          - '123'
                        items:
                          type: string
              examples:
                created-product:
                  summary: Detach multiple nodes
                  value:
                    meta:
                      nodes_detached: 1
                      nodes_not_found: []
        '400':
          $ref: '#/components/responses/bad_request'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
  /pcm/products/{productID}/nodes:
    get:
      summary: Get a product's nodes
      description: Returns the nodes associated with the product. Products must be in a `live` status.
      operationId: getProductsNodes
      tags:
        - Products
      responses:
        '200':
          description: Successfully returns the product's nodes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/multi_nodes'
              examples:
                get-product-nodes:
                  $ref: '#/components/examples/resp_multi_nodes'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/internal'
      parameters:
        - $ref: '#/components/parameters/page_offset'
        - $ref: '#/components/parameters/page_limit'
        - $ref: '#/components/parameters/product_id'
  /pcm/products/{productID}/build:
    post:
      summary: Build child products
      description: |
        With product variations in Product Experience Manager, you can create product variations and different options for each variation and use both to create child products for a product. Each child product is a unique combination of options associated with the product.  

        Child products inherit attributes from their parent products. When you make changes to the attributes of the parent products, you can rebuild your child products, ensuring that changes to the parent products are propagated to the child products.

        Alternatively, you can modify a child product independently, without impacting its parent product. For example, you may prefer the status of your child product to be `live`, while keeping the parent product's status as `draft`. When you directly update a child product, it becomes independent of its parent product. In other words, any subsequent changes made to the parent product are not automatically reflected in the child product when you rebuild the parent product and its child products. Once a child product is independent of its parent, you cannot recreate the association between the child product and its parent. You must delete the child product and rebuild the parent to recreate the child product.

        Following on from that, if you add the same flow to both a parent and child product, the child flow values are not affected by changes to the parent flow values in a rebuild.

        ### Using Build Rules

        When building your child products, you can build all products related to a product. 

        Alternatively, you can build a combination of child products associated with a product, based on build rules that you specify. This is useful, for example, if you have a variation option that you do not sell. This makes managing and building your child products quick and easy. You can do this using `build_rules`. `build_rules` are combinations of variation option IDs that you wish to include or exclude when building your child products.

        :::note

        You do not need to configure any `build_rules` in the following scenarios:

        - Child products must be built with all variation options. Simply, use the `Create a product` or `Update a product` endpoints with no `build_rules` specified.
        - Child products must be built apart from all options for a specific variation. In this case, you must remove the variation and use the `Create a product` or `Update a product` endpoints with no `build_rules` specified. In other words, using our example, if none of the `size` options should be included, then remove the `size` variation.

        :::

        The `build_rules` contain:

        - (Required) `default`: specifies the default behavior.
        - (Optional) `include`: specifies the option IDs to include when the child products are built. Each combination consists of a nested array of option IDs from one or more variations. Combinations of option IDs in the nested arrays must come from different variations. See [**Invalid Build Rules**](#invalid-build-rules).
        - (Optional) `exclude`: specifies the option IDs to exclude when the child products are built. Each combination consists of a nested array of option IDs from one or more variations. Combinations of option IDs in the nested arrays must come from different variations. See [**Invalid build rules**](#invalid-build-rules).

        When building child products, Commerce compares each combination of option IDs to these rules to determine how your child products should be built, depending on how you have configured the `build_rules`. It depends on your requirements how you configure your `build_rules`.

        #### Invalid Build Rules

        The `build_rules` are invalid if both the option IDs come from the same variation. Combinations of option IDs in the nested arrays must come from different variations.

        If Commerce cannot resolve the `build_rules` a `could not determine whether to include or exclude a child product due to ambiguous rules` error is returned. This error can occur, for example, if you have the same number of variation option IDs in both the `include` and `exclude` arrays and the variation option IDs match.

        ### Building Child Products

        Building child products is an asynchronous operation. When you build child products, a job is created. The jobId of the job is displayed in the response. When the job is complete, the build child products operation is also complete. You can use the jobId to see the status of your job using the `Get a Job` endpoint.

        Jobs are processed one at a time. You can continue to send build child product requests, but those jobs are queued. In other words, Commerce looks for any jobs that have a status of PENDING and starts the job with the earliest created date. This process is repeated until all jobs are processed. See Jobs.

        Re-building child products after adding or removing a new variation changes the total number of child products that you can generate from a parent product. When you rebuild the child products after updating variations associated with the parent product, all existing child products that belong to a parent product are deleted. New child products are created with new product IDs.

        If you have any bundles that reference child products directly, then you must update the bundles with the new child product IDs.

        However, re-building child products after adding or removing an option does not change the existing product IDs.
      operationId: buildChildProducts
      tags:
        - Variations
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Successfully started building child products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single'
              examples:
                build-child-products:
                  $ref: '#/components/examples/build-child-products_created'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
      parameters:
        - $ref: '#/components/parameters/product_id'
  /pcm/products/{productID}/children:
    get:
      summary: Get child products
      operationId: getChildProducts
      tags:
        - Variations
      responses:
        '200':
          description: Returns a list of child products for the specified parent product ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/multi_product_response'
              examples:
                list-products:
                  $ref: '#/components/examples/multi_get_child_response'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/internal'
      parameters:
        - $ref: '#/components/parameters/product_id'
  /pcm/products/{productID}/relationships/templates:
    post:
      summary: Create a product template relationship
      description: Retrieves all the templates that are associated with the specified product.
      operationId: createProductTemplateRelationship
      parameters:
        - $ref: '#/components/parameters/product_id'
      tags:
        - Extending Products with Templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/product_templates_request'
            examples:
              create-product-template-relationship:
                $ref: '#/components/examples/templates_relationship_request'
      responses:
        '201':
          description: Returns a created product template relationship.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template_response'
              examples:
                product-templates:
                  $ref: '#/components/examples/template_response'
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/write_conflict'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
    get:
      summary: Get all product template relationships
      operationId: getProductTemplateRelationships
      parameters:
        - $ref: '#/components/parameters/product_id'
      tags:
        - Extending Products with Templates
      responses:
        '200':
          description: Returns all product template relationships.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template_response'
              examples:
                product-template-relationships:
                  $ref: '#/components/examples/template_response'
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/write_conflict'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
    delete:
      summary: Delete a product template relationship
      operationId: deleteProductTemplateRelationship
      parameters:
        - $ref: '#/components/parameters/product_id'
      tags:
        - Extending Products with Templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/product_templates_request'
            examples:
              delete-product-template-relationship:
                $ref: '#/components/examples/templates_relationship_request'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/write_conflict'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
  /pcm/products/{productID}/relationships/component_products:
    get:
      summary: Get Bundle Component Product Relationships
      description: Retrieves all the products included in the specified bundle product.
      operationId: getProductComponentProductsRelationships
      tags:
        - Bundle Component Products Relationships
      responses:
        '200':
          description: Returns all Component Products relationships.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/component_products_response'
              examples:
                product-template-relationships:
                  $ref: '#/components/examples/component_products_relationship_response'
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/write_conflict'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
      parameters:
        - $ref: '#/components/parameters/product_id'
  /pcm/products/{productID}/relationships/files:
    get:
      summary: Get all product file relationships
      description: Retrieves all files that are associated with the specified product.
      operationId: getProductFileRelationships
      tags:
        - Product File Relationships
      parameters:
        - $ref: '#/components/parameters/product_id'
      responses:
        '200':
          description: Returns all product file relationships.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/file_response'
              examples:
                product-file-relationships:
                  $ref: '#/components/examples/file_relationship_response'
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/write_conflict'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
    post:
      summary: Create a product file relationship
      operationId: createProductFileRelationships
      tags:
        - Product File Relationships
      parameters:
        - $ref: '#/components/parameters/product_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/product_files_request'
            examples:
              create-product-file-relationship:
                $ref: '#/components/examples/file_relationship_request'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/write_conflict'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
    put:
      summary: Replace a product file relationship
      operationId: updateProductFileRelationships
      tags:
        - Product File Relationships
      parameters:
        - $ref: '#/components/parameters/product_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/product_files_request'
            examples:
              replace-product-file-relationship:
                $ref: '#/components/examples/file_relationship_request'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/write_conflict'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
    delete:
      summary: Delete a product file relationships
      operationId: deleteProductFileRelationships
      tags:
        - Product File Relationships
      parameters:
        - $ref: '#/components/parameters/product_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/product_files_request'
            examples:
              delete-product-file-relationships:
                $ref: '#/components/examples/file_relationship_request'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/write_conflict'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
  /pcm/products/{productID}/relationships/variations:
    post:
      summary: Create a product variation relationship
      operationId: createProductVariationRelationships
      tags:
        - Variations
      parameters:
        - $ref: '#/components/parameters/product_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/product_variations_request'
            examples:
              create-product-variation-relationship:
                $ref: '#/components/examples/product_variations_relationship_request'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/write_conflict'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
    get:
      summary: Get all product variation relationships
      operationId: getProductVariationRelationships
      tags:
        - Variations
      parameters:
        - $ref: '#/components/parameters/product_id'
      responses:
        '200':
          description: Returns all product variation relationships.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/variations_response'
              examples:
                product-variation-relationships:
                  $ref: '#/components/examples/variations_response'
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/write_conflict'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
    put:
      summary: Replace a product variation relationship
      operationId: updateProductVariationRelationships
      tags:
        - Variations
      parameters:
        - $ref: '#/components/parameters/product_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/product_variations_request'
            examples:
              replace-product-variation-relationship:
                $ref: '#/components/examples/product_variations_relationship_request'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/write_conflict'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
    delete:
      summary: Delete a product variation relationships
      operationId: deleteProductVariationRelationships
      tags:
        - Variations
      parameters:
        - $ref: '#/components/parameters/product_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/product_variations_request'
            examples:
              delete-product-variation-relationships:
                $ref: '#/components/examples/product_variations_relationship_request'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/write_conflict'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
  /pcm/products/{productID}/relationships/main_image:
    post:
      summary: Create main image relationships
      description: Associates a main image with the specified product.
      operationId: createProductMainImageRelationships
      tags:
        - Product Image Relationships
      parameters:
        - $ref: '#/components/parameters/product_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/main_image_request'
            examples:
              create-product-main-image-relationship:
                value:
                  data:
                    type: file
                    id: 3ab3deca-1f11-47b7-a409-24ea3234d72c
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/write_conflict'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
    get:
      summary: Get Main Image Relationships
      operationId: getProductMainImageRelationships
      tags:
        - Product Image Relationships
      parameters:
        - $ref: '#/components/parameters/product_id'
      responses:
        '200':
          description: Returns all product variation relationships
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/main_image_response'
              examples:
                product-main-image-relationships:
                  value:
                    data:
                      - type: file
                        id: file-1
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/write_conflict'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
    put:
      summary: Replace Main Image Relationships
      operationId: updateProductMainImageRelationships
      tags:
        - Product Image Relationships
      parameters:
        - $ref: '#/components/parameters/product_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/replace_main_image_request'
            examples:
              replace-main-image-relationship:
                value:
                  data:
                    type: file
                    id: 3ab3deca-1f11-47b7-a409-24ea3234d72c
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/write_conflict'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
[...]
