# GENERATED FILE - DO NOT EDIT 
openapi: 3.0.3
info:
  title: Product Experience Manager Introduction
  description: |

    Product Experience Manager uses the PIM service to manage product information, hierarchies, and price books. Ideally, Product Experience Manager becomes the single source of truth for product data across your organization.

    In Commerce, the product data is stored separately from pricing, catalogs, and inventory. This separation means that you retrieve all product data only when you are managing product data and assets. Otherwise, when setting prices or managing inventory, you retrieve a reference to the product rather than the entire product, which makes the response times very fast.

    You also have the flexibility to create catalogs for different scenarios by combining hierarchies of products with a price book. Scenarios might include:

    - **Multiple geographical regions**. Display different catalogs in different regions with suitable pricing or combine product hierarchies from two different regions to display in a third region.
    - **Multiple channels**. Display different catalogs based on how a shopper accesses your store, such as through a mobile app or a web storefront.
    - **Direct to business versus direct to customers**. Offer different products and prices for business customers versus retail customers.
    - **Preferred customers**. Offer special pricing to preferred customers while displaying a standard price catalog to all other shoppers.
    - **Reward programs**. Enable reward programs where catalog prices drop after a certain spending level is reached.
    - **Product sales**. Offer sale items for a limited time.

    Scenarios are created by defining the context within which a catalog is displays. Contexts can be a customer ID, a channel, or any other user-defined tag that can be passed to the APIs from the front-end shopper experiences.
  version: 1.0.0
servers:
  - url: https://euwest.api.elasticpath.com
    description: EU West Production Server
  - url: https://useast.api.elasticpath.com
    description: US East Production Server
security:
  - bearerAuth: []
tags:
  - name: Products
    description: |
      Products are the items or services that you might want to sell in your store. In Product Experience Manager, a product has a name, description, ID, and SKU. Products can also have additional attributes and associated rich media assets, such as product images or a file containing additional product details. If your store supports multiple languages, you can localize product names and descriptions.

      Product data is stored in a database. After you add products, you can update product information, add images and other assets, and associate products with one or more hierarchy nodes. You can export the updated product information back to other business systems so that your organization sees a consistent view of products.

      While defining products, the products are in a draft state. Your organization can develop the criteria and business processes to help determine when a product is ready to go live and appear in a catalog.

      To appear in a catalog, a product must meet the following criteria:

      - The product is live.
      - The product is associated with at least one hierarchy.
      - The catalog references a hierarchy that includes the product.

      ### Product Types

      Commerce automatically assigns types to the products you create. In Commerce Manager, you can see at a glance the product types in a list of a products. In addition, you can filter on product types in both the API and Commerce Manager. 

      Product types can also be used in catalogs. For example, in your catalog, you can filter on `parent` so that only your parent products are displayed in your storefront. 

      Products have one of the following types:

      * `standard` - Standard products are a standalone products.  
      * `parent` - A parent product is a product that has child products that have been built using the [**Build Child Products**](/docs/api/pxm/products/build-child-products) endpoint. 
      * `child` -  When you configure product variations and variation options for parent products, the child products derived from the parent products are automatically created in Commerce.
      * `bundle` - A bundle is a purchasable product, comprising one or more standalone products (in other words, `components`) to be sold together. See [**Bundle Components and Options**](#bundle-components-and-options).

      :::note
      In Commerce Manager, `standard` products are called **Product**.
      :::

      ### Product Tags

      You can use product tags to store or assign a key word against a product or service that you sell in your store. The product tag can then be used to describe or label that product. Product tags represent similarities between products who do not share the same attributes. Using product tags means that you can group your products together, for example, by brand, category, subcategory, colors, types, industries, and so on.

      See [**Product Tags**](/docs/api/pxm/products/product-tags).
       
      ### Personalizing Products
       
      You can allow your shoppers to add custom text to a product when adding product items to their carts. This is useful, for example, if you have a product like a T-shirt that can be personalized or you sell greetings cards that can be printed with your shoppers personalized messages. You can do this by configuring the the `custom_inputs` attribute. See [**Create a product**](/docs/api/pxm/products/create-product).
       
      ### Bundles
       
      With Product Experience Manager, you can use the products API to create and manage bundles. A bundle is a purchasable product, comprising of one or more products that you want to sell together. 

      You can use bundles in different ways. For example, a consumer electronics and video game company, *Playtend Games* can sell a *Playtend* video game console as a bundle that includes the console, controller, and game. The price of the bundle might be different from the total of the individual products.
       
      Alternatively, you may have a fixed, marketable banner product featuring only one item, such as a 'product of the week.' In this use case, the banner bundle description remains constant, while the product within the bundle can be easily swapped in and out.
       
      You must not assign a product to a bundle if the product is in draft status as this invalidates the bundle.
       
      You can have:
       
       - Dynamic bundles. Dynamic bundles allow your shoppers to choose their own options in a bundle. See [**Dynamic Bundles**](#dynamic-bundles).
       - Bundles of bundles. Your bundle consists of child bundles. See [**Bundles of Bundles**](#bundles-of-bundles).
       
      #### Bundle Components and Options
       
      You can create multiple components within a bundle. Each component must have at least one or more options. Each option is a product and a quantity.
       
      :::caution
       
      You cannot have more than 1500 options in a bundle.
       
      :::
       
      For example, *Playtend Games* can create a bundle where the total bundle price is calculated based on the options that the buyers choose. Shoppers can select a base console option, two games options, and a controller option as in the following example:
       
       1. Select one of the following options in the gaming console component.
       
          - Gaming Console 512 MB Storage. Regular price is $500, selling for $475.
          - Gaming Console 1 GB Storage. Regular price is $750, selling for $725.
       
       1. From each component, select an option:

          - Component 1:
       
             - Playtend Roboselect Game, selling for $50
             - Playtend Burndown Game, selling for $45
             - Playtend Invaders Game, selling for $50
       
          - Component 2:
       
             - Playtend Doomsday Game, selling for $35
             - Playtend Happyday Game, selling for $35
             - Playtend Birthday Game, selling for $40
       
       1. Select one of the following options in the controllers component:

          - Red Controller, selling for $40
          - Blue Controller, selling for $40
          - Green Controller, selling for $40
          - Invaders Controller, selling for $75

          If the shopper chooses the following options for their bundle, the total is $885:
       
          - Gaming Console 1 GB Storage ($725)
          - Playtend Burndown Game ($45)
          - Playtend Birthday Game ($40)
          - Invaders Controller ($75)
       
      #### Bundle Pricing
       
      Bundles can have:
       
       - Fixed pricing - enables you to assign a fixed price for all products in a bundle.
       - Automatic/cumulative pricing - the price of a bundle is generated automatically based on the sum of the component products.
       
      The following table describes the capabilities and pricing that bundles can have.

      | Pricing  | Requires SKU? | Price Book Entry | Capabilities |
      |:----|:----- |:---- |:------ |
      | **Fixed** - enables you to assign a fixed price for all the products in a bundle. The bundle can contain items that are available for individual purchase, however, when purchased in a fixed-price bundle, are offered at a discounted price.                                                                     | Yes           | Mandatory                         | **[Sale Pricing](#sale-pricing)** - defines reduced pricing for the total price of the bundle. **[Volume Pricing](#volume-pricing)** - offers promotional prices for products bought in bulk. [**Bundle Inventory Management**](#bundle-inventory) - bundle inventory can be tracked based on the availability of individual items in the bundle. In this case, the maximum number of bundles you can sell is equal to the number of the option that is least available. |
      | **Automatic/cumulative** - the price of a bundle can be generated automatically based on the sum of the component products. Ensure that you set a price for each product within the bundle. If a component product does not have a price, the bundle price cannot be set and customers cannot purchase the bundle. | Optional      | Not available when SKU is present | **[Sale Pricing](#sale-pricing)** - define reduced pricing for the total price of the bundle. |
       
      #### Examples of Bundles

      The following table describes some examples of bundles.
       
      | Bundle Type               | Pricing                     | Description        |
      |:--------------------------|:----------------------------|:-------------------|
      | **Pure bundles**          | Fixed                       | Products are available only as a bundle. |
      | **Joint bundles**         | Fixed, Automatic/cumulative | A bundled price offered for two or more products. |
      | **Gift sets**             | Fixed, Automatic/cumulative | A bundle created from a set of predefined items. |
      | **Leader bundle**         | Automatic/cumulative        | A popular product is offered for a discount if you buy it with another less popular product. |
      | **Mix and Match bundles** | Automatic/cumulative        | Bundle products are selected from a predetermined list of items that you can bundle together. |
      | **Upsell bundles**        | Automatic/cumulative        | Discounted price for the current product when bought together with an accessory as a related item. |
       
      For example, *Playtend Games* has a bundle that consists of a game console, the Playtend Invaders Game, and the Invaders Controller, and the bundle is available for purchase at $500. The individual price of the products in the bundle are $500 for the game console, $50 for the Playtend Invaders Game, and $75 for the Invaders Controller. This makes the total of the products $625 when bought individually. The price of the bundle is defined in the price books associated with the bundle SKU and the sale price depends on the pricing configuration for the SKU.
       
      #### Sale Pricing

      You can set a sale price for an item within a bundle so that the product is sold at the sale price when sold as a part of the bundle. For example, if you have a bundle consisting of four items, you can apply a discounted price to an item within the bundle to get a bundle sales price. Both list and sale price (or was/is prices) are available in the catalog response, enabling you to display slash pricing on your storefront, depending on your requirements.
       
      | Product   | Regular product price | Bundle sales price |
      |:----------|:----------------------|:-------------------|
      | Product A | $100                  | $80                |
      | Product B | $50                   | $50                |
      | Product C | $30                   | $30                |
      | Product D | $130                  | $130               |
      | **Total** | **$310**              | **$290**           |
       
      #### Volume Pricing

      You can configure volume pricing for minimum quantities of products. When a customer adds sufficient quantity of an item and meets the minimum required quantity for different pricing, all products with that item SKU are discounted in the cart. You can define the price range for different quantities of different items, as explained in the following example.
       
      | Quantity | Price/Each |
      |:---------|:-----------|
      | 1-5      | $10.50     |
      | 6-10     | $10.00     |
      | 11-20    | $9.50      |
      | 21-50    | $8.50      |
      | 51+      | $7.90      |
       
      #### Dynamic Bundles
       
      A dynamic bundle allows you to create a bundle where shoppers can choose products from a list of options. For example, a shopper can select 0 or more products from a list of 10. You can also configure some products as default options. A shopper can either select the bundle with the default products or choose products from all the components. Shoppers must either select products for all components or use the default options for all components; they cannot choose products for only one component and leave the others with default options.
       
      For example, a shopper can select 0 or more product options from a list of 10. When purchasing a monitor, you might want to offer additional optional items that a shopper can select like monitor lamps, extendable arms, or screen wipes.
       
      You can do this by configuring minimum and/or maximum values for the product options in a component. For example, to sell 4 books for a fixed price from a list of 10, set both minimum and maximum selections to 4.
       
       When minimum is 0, it means that component product lists are optional for your shoppers.
       
      If you do not specify any minimum or maximum values for the product options in your components, your shoppers can select any combination of product options.
       
      To configure default product options, add `"default": true` to all the product options in the bundle that you want to be the defaults. Each component in the bundle must have a default product option. For example, you may have some products in a bundle that are performing better than others. For the products that are not performing as well, you can promote them above the rest by configuring a default product option. Moreover, you may have a default set of products that make sense for a given context. For example, when adding a new fragrance to a fragrance bundle, you may want the new addition to appear as the default option.

      :::caution
       
      Your shoppers cannot change the quantities of a product. They must purchase the quantity of products that you have specified when you created your components and options.
       
      :::
       
      #### Bundle configuration
       
      Dynamic bundles have a `bundle_configuration` which describe the options selected. 
       
      1. Once your bundles are [published in a catalog](/docs/api/pxm/catalog/publish-release), a shopper can select the products they want. 
      1. Use [Get a product in a catalog release](/docs/api/pxm/catalog/get-by-context-all-products) to check a `bundle_configuration`. 
      1. Use the [configure a shopper bundle](/docs/api/pxm/catalog/configure-by-context-product) endpoint to store a shopper's selections. The response from the [configure a shopper bundle](/docs/api/pxm/catalog/configure-by-context-product) endpoint updates the `bundle_configuration` with the product options a shopper selects. In your storefront, you can display this as a summary of the product options a shopper has selected.
       
      #### Creating Dynamic Bundles: An Overview
       
      The following steps are an overview of how to use dynamic bundles.
       
      1. Create your products using [**create a product**](/docs/api/pxm/products/create-product).
      1. Create a bundle using [**create a bundle**](/docs/api/pxm/products/create-product).
          1. Specify minimum and/or maximum values for the number of product options that can be selected within the bundle. For example, if you want the shopper to select exactly 4 out of 10 options, set both the minimum and maximum values to 4 for each of the 10 product options.
          1. For each product option in the bundle, specify if it is a default option by adding `"default": true` to the product options that you want to be pre-selected for the shopper.
      1. Publish the bundle to your catalog using the [Publish a catalog](/docs/api/pxm/catalog/publish-release) endpoint so you can display the products to your shoppers in your storefront.
      1. When a shopper interacts with the bundle on your storefront, they can select the products they want from the list of options. Use the [configure a shopper bundle](/docs/api/pxm/catalog/configure-by-context-product) endpoint to capture the shoppers selections. This updates the `bundle_configuration` with the product options chosen by a shopper.
      1. Once a shopper has configured their bundle, use the add a product to a cart endpoint to add the selected bundle to the shopper’s cart.
      1. When the shopper proceeds to checkout, the selected product options from the bundle are included in the order.
       
      #### Bundles of Bundles
       
      Your bundle can consist of child bundles. This is useful if you have a base product that is made-up of child products and the pricing of the base product changes, depending on the child products a customer chooses. This can be represented by creating a parent bundle that is made-up of other child bundles.
       
      ![Bundle of bundles](/assets/bundle-of-bundles.png)
       
      For example, you may sell sofas. For each sofa that you sell, your customers can choose a fabric, a sofa size, and a leg color. The sofas are the parent bundle. The sofa size, fabric, and leg color are the child bundles. If a customer chooses a large sofa, then the cost of the fabric increases.
       
      ![sofa bundle](/assets/sofa-bundle.png)
       
      You create a bundle of bundles by adding a child bundle as an option of a component of another bundle.
       
      - You cannot have more than one level of child bundles. In other words, a child bundle cannot have a child bundle as a component.
      - A parent bundle can contain both bundle and product components.
      - Both parent and child bundles can be either [**fixed**](#bundles) or [**dynamic**](#dynamic-bundles) in a bundle of bundles.
       
      #### Adding Products From Bundles of Bundles to Carts
       
      When using bundles of bundles, only products from child bundles should be added to a cart. This is because if you add a parent bundle to a cart and call the cart, the cart returns information about the parent bundle and the name of the child bundle, but no child bundle components are returned.
       
      When designing your storefront, you must only allow child bundles to be added to carts.
       
      #### Creating bundles of bundles: an overview
       
      To create a bundle of bundles, simply add a bundle as a component to another bundle. 
       
      1. Create your products using [**create a product**](/docs/api/pxm/products/create-product).
      1. Create all your child bundles using [**create a bundle**](/docs/api/pxm/products/create-product).
      1. [**Create a parent bundle**](/docs/api/pxm/products/create-product) and specify the product ID of your child bundle as an option of a component in your bundle. You cannot have more than 1500 options in a bundle.
       
      #### Bundle inventory
       
      The Inventory service allows you and your business to keep track of inventory, including a transaction-historic log.
       
      You can track the number of bundles by SKU, if you set the number of bundles available in store. Bundle inventory can be tracked based on the availability of individual items in the bundle. In this case, the maximum number of bundles you can sell is equal to the number of the option that is least available.
       
      You cannot track the inventory of a bundle without a SKU. However, you can track the inventory based on the availability of individual items.
       
      Whether your bundle has a SKU or is SKU-less depends on your bundle's pricing. See [**Bundle Pricing**](#bundle-pricing).
  - name: Product Tags
    description: |
      You can use product tags to store or assign a key word against a product or service that you sell in your store. The product tag can then be used to describe or label that product. Product tags represent similarities between products who do not share the same attributes. Using product tags means that you can group your products together, for example, by brand, category, subcategory, colors, types, industries, and so on. For example, a 3rd party manufacturer may sell cases for Apple iPads whose products would not be returned when filtering on the **Apple** brand. However, merchandizers can tag the cases with **Apple** so that the cases are returned along with other **Apple** products.

      - As a merchandizer, you can enhance your product list using tags, enabling you to refine your product list and run targeted promotions. Using the example above, you can have a clearance sale of **Apple** accessories, by tagging your products accordingly.
      - As developers, you can use tags to enrich your search solution, reducing the amount of time and effort needed to keep your search solution up to date.

      A typical use case for product tags is to categorize your products based on color. For example, you could tag the products that you sell in your storefront with a color. Your shoppers can then search your products by color, enabling shoppers to quickly find what they are looking for, increasing the likelihood of a purchase, and boosting conversion rates.

      ### Characteristics of Product Tags

      Product tags have the following characteristics:

      - A product can have up to 20 tags.
      - A product tag can be up to 255 characters.
      - Product tags must not contain any spaces or commas.
  - name: Extending Products with Templates
    description: |
      With extension templates, you can attach a specific set of custom fields to your products in Product Experience Manager. You can create templates for your products at both the organization and store level.

      ### Product Templates

      Templates are a collection of attributes. Attributes are grouped together to match a particular product type or to provide an input for other purposes, such as Search Engine Optimization (SEO) or product specification. For example, a *Book* template might contain the attributes, such as *ISBN*, *Author*, *Number of pages*, *Year Published*, or *Condition (New/Used)*.

      You can create product templates for both organization and store. However, stores can use organization templates for store level products.

      ### Product Attributes

      Use attributes to define the characteristics of products in a store. For example, you can assign attributes such as, *care instructions* or *fabric*, to a shirt. When a shopper searches for a specific item, attributes help stores to return the products that match the search criteria. For example, when a shopper searches for a large blue shirt, all shirts that are large and blue are returned as the search result.
  - name: Bundle Component Products Relationships
    description: |
      With Product Experience Manager, you can create and manage bundles. A bundle is a purchasable product, comprising of one or more products that you want to sell together.

      You can create multiple components within a bundle. Each component must have at least one or more options. Each option is a product and a quantity.
  - name: Variations
    description: |
      Product variations are the product options available for a base product that your shoppers can choose. As a merchandiser, you want to be able to present all the options you have available for your products to make it easier for your shoppers to visualize them and influence a potential sale. Product Variations allow you to create and manage up to 10,000 unique combinations of options for variations of a product. You can then use PXM Catalogs to build different catalogs for different users, giving you greater flexibility with your product data and making it easier for your shoppers to interact with your products. 

      For example, a product has two variations size and color. The size variation has three options, such as small, medium, and large and the color variation has three options, such as green, red, and blue. This creates a variation matrix with nine possible unique combinations or child products as shown in the following example:

      ![The sizes are across the top row and the colors are in the first column.](/assets/product-variations-1.png)

      You can create additional variations or options and attach them to a product to increase the number of combinations. Using the previous example, if you add a third variation with three options, you can build child products with 27 unique combinations of variations and options.

      ### Reusability

      Variations are reusable, and you can attach the same variation to any number of products. You can also create a link between the existing variation and a new product. The following scenario provides an example:

      1. Create a variation `shoe size` and add five options in the variation.
      1. Create a product `shoe 1` and link the variation `shoe size` to the product.
      1. Create second product, `shoe 2` and link the variation `shoe size` to this product as well.
      1. Create a third product `shoe 3` and do not link any variation to this product.

      `shoe 1` and `shoe 2` inherit the properties of `shoe size` variation, and you can build the child products with the options. However, you cannot build child products for `shoe 3` unless you assign a variation with at-least one option to the product.

      ### Child Products

      Child products inherit attributes from their parent products. When you make changes to the attributes of the parent products, you can rebuild your child products, ensuring that changes to the parent products are propagated to the child products.

      Alternatively, you can modify a child product independently, without impacting its parent product. For example, you may prefer the status of your child product to be `live`, while keeping the parent product's status as `draft`. When you directly update a child product, it becomes independent of its parent product. In other words, any subsequent changes made to the parent product are not automatically reflected in the child product when you rebuild the parent product and its child products. Once a child product is independent of its parent, you cannot recreate the association between the child product and its parent. You must delete the child product and rebuild the parent to recreate the child product.

      Following on from that, if you add the same flow to both a parent and child product, the child flow values are not affected by changes to the parent flow values in a rebuild.

      In addition, when building your child products, you can choose to exclude or include certain combinations of variation options. This is useful, for example, if you have a variation option that you do not sell. This makes managing and building your child products quick and easy. See [**Build child products**](/docs/api/pxm/products/build-child-products).

      Re-building child products after adding or removing a new variation changes the total number of child products that you can generate from a base product. When you rebuild the child products after updating variations associated with the base product, all existing child products that belong to a base product are deleted. New child products are created with new product IDs. 

      If you have any bundles that reference child products directly, then you must update the bundles with the new child product IDs.

      However, re-building child products after adding or removing an option does not change the existing product IDs.

      ### Sorting the Order of Variations and Options

      The `variation_matrix` object lists the variation IDs and variation option IDs and their corresponding product IDs that are generated when the variation and variation options are built with a product. The `variation_matrix` can then be added to your catalogs.

      The order of the variations in the `variation_matrix` is the order of the variations in the array when the variations were linked to the product. For example, the first variation in the `variation_matrix` corresponds to the first variation in the array, and so on. You can use the `sort_order`attribute to sort the order of your variation and variation options in the `variation_matrix` object. The sort order value is visible when you add the variations and variation options to your catalogs. You can then use the `sort_order` value to program your storefront to display the variations and variation options in the order that you want.

      Add the `sort_order` attribute to the body of your request and specify a `sort_order` value. A `sort_order` value must be a number. You can specify any numbers that you want.

      - 1, 2, 3, or 100, 90, 80, and so on.
      - Zero or negative numbers.

      You can set `sort_order` to either `null` or omit it entirely from the request if you wish to remove an existing `sort_order` attribute.

      :::caution

      - Commerce does not sort variations and variation options. You must program your storefront to sort the variations and variation options in the order that you want.
      - You must rebuild your products for the sort order changes to take effect. See [**Build Child Products**](#build-child-products).

      :::

      ### Product Modifiers

      Use modifiers to change the properties of child products that are inherited from a base product. With modifiers, you only need to have one base product with a variation attached to the product.

      Modifiers attached to a variation option are applied to a base product to create child products. For example, instead of creating three base products for three different shirt colors, you can do the following:

      1. [**Create a parent product**](/docs/api/pxm/products/create-product), *shirt*, with the variation, *color*, attached to it.
      1. Create three options for the *color* variation. See [**Create a variation option**](/docs/api/pxm/products/create-variation-option).
      1. [**Create a modifier**](/docs/api/pxm/products/create-modifier) for each option to change the properties of each child product. For example, attach a *description append* modifier to each option so that each child product has different description based on the color of the child product.
      1. [**Build the child products**](/docs/api/pxm/products/build-child-products).

      This screenshot provides an example of a child product of *shirt* which has a specific description associated with it because of the *description append* modifier setting for the option *yellow*:

      ![Child products with different descriptions](/assets/modifier-description-append.png)

      ### Price Modifiers

      You can use price modifiers to change the price property of child products. By default, child products inherit the same price as their base products. Using price modifiers, you can enable child products to inherit a different price. This enables you to configure the price of child products, for example, to be lower than its base product, without having to individually update the price of your child products. There are three types of price modifier.

      Modifier | Data Type | Effect |
      | :--- | :--- | :--- |
      | `price_increment` | `string` | Increases the price of a product. |
      | `price_decrement` | `string` | Decreases the price of a product. |
      | `price_equals` | `string` | Sets the price of a product to the amount you specify. |

      The following is an overview of the steps you need to follow to use price modifiers.

      1. Create a price modifier. You must give the price modifier a unique name, for example, tax_modifier. 
      1. Create a product modifier that uses the same name as the price modifier. 
      1. [**Build your child products**](/docs/api/pxm/products/build-child-products) with the new product modifier.
  - name: Product File Relationships
    description: |
      Products are the items or services that you might want to sell in your store. In Product Experience Manager, products can also have associated rich media assets, such as product images or a file containing additional product details.

      You can do this using [Files API](/docs/api/pxm/files).

      Once you have created your files, you associate files with your products using the [Create Product-File Relationships API](/docs/api/pxm/products/create-product-file-relationships).
  - name: Product Image Relationships
    description: |
      Products are the items or services that you might want to sell in your store. In Product Experience Manager, products can also have associated rich media assets, such as product images or a file containing additional product details.

      You can do this using [Files API](/docs/api/pxm/files).

      Once you have created your files, you associate files with your products using the [Create Product Main Image Relationships API](/docs/api/pxm/products/create-product-main-image-relationships).
  - name: Product Import/Bulk Update
    description: |
      You can use the Product Import API to:

      - Add new products.
      - Add new:

          - main image files. See [**Importing Main Image Files**](#using-imported-main-image-files).
          - custom data. See [**Importing custom data**](#importing-custom-data-flows).
      - Make bulk updates to existing products, main image files, and custom data.

      You cannot use product import to:

      - Delete existing products.
      - Import product bundles.

      The Product Import API uses a [**Comma Separated Values (CSV)**](#characteristics-of-csv-import-files) file to import/update products, main image files, and custom extension data. 

      When you send a product import request, a job is created. Jobs are processed one at a time. You can continue to send product import requests, but those jobs are queued. In other words, Commerce looks for any jobs that have a status of PENDING and starts the job with the earliest created date. This process is repeated until all jobs are processed. See [**Jobs**](/docs/api/pxm/products/jobs).

      We recommend that you include the maximum allowed number of products in each `csv`file (for example, up to 50,000 rows or a file size of 50 megabytes, see [**Characteristics of CSV Import File**](#characteristics-of-csv-import-files)) to minimize the number of files you submit. This helps prevent extended waiting times for processing jobs. 

      #### Using Imported Main Image Files

      You can use the main images that you have previously uploaded to Commerce and assign them to your products when importing products to Commerce. You can do this by adding a `main_image_id` header to your `.csv` file. The ID you provide in `main_image_id` is the ID of a file that has already been uploaded to Commerce using create a file.

      #### Importing Custom Data (Flows)

      You can also create/update custom extension data in a `.csv` file by creating a header that includes the flow `ID` and the field `slug` in the following format: 

      template:*flowID*:*fieldSlug*.

      where:

      - `template` must be `template`.
      - `flowID` is the ID of the flow that contains the field whose data you want to create/update.
      - `fieldSlug` is the slug of the field whose data you want to create/update.

      In the following example, for a flow with ID `82c10a02-1851-4992-8ecb-d44f2782d09b` and a field with the slug `condition`:

      - the header is `template:82c10a02-1851-4992-8ecb-d44f2782d09b:condition`.
      - the updated custom data is `as-new`.

          | name | slug | sku | status | template:82c10a02-1851-4992-8ecb-d44f2782d09b:condition |
          | :--- | :--- | :--- | :--- | :--- |
          | BestEver Range | bestever-range-1a1a-30 | BE-Range-1a1a-30 | draft | as-new |

      #### Characteristics of CSV Import Files

      Product Import uses a [**Comma Separated Values (CSV)**](#characteristics-of-csv-import-files) file to import/update products, main image files, and custom extension data. 

      - Each row in a `.csv` file represents a product you want to create/update. 
      - Each file:
          - must not be larger than 50 megabytes. If a `.csv` file is larger than 50 megabytes, a `503 client read error` is displayed.
          - must not have more than 50,000 rows, including the header. If a CSV file exceeds 50,000 rows, an error is displayed, and the products are not imported.
          In other words, if you have a file with 50,000 rows that is larger than 50 megabytes, an error is displayed, and the products are not imported.
      - If you want to create/update more than 50,000 products or your `.csv` file is larger than 50 megabytes, you must have a separate `.csv` file and import each `.csv` file one at a time.
      - You can update existing products, including images, templates/flow fields, and entries. The entry in the `.csv` file must have a unique `id` and/or `external_ref` that matches the `id` and `external_ref` of the existing product you want to update. You may have both a unique `id` and `external_ref`, but you must have at least one.
      - You can add new products. For new products that you want to add, the entry in the `.csv` file must have an `external_ref` that does not match any existing products.

      The following table describes the headers that are supported.

      | Header | Required | Description  |
      |:---- |:---------|:--|
      | id                              | Optional | A unique product ID that is generated when you create the product. The `id` is used to look up products in the `.csv` file and matches them to the products in your storefront that you want to update.                                                                                                                                                                                                       |
      | external_ref                    | Optional | A unique attribute associated with a product. This could be an external reference from a separate company system, for example. The maximum length is 2048 characters.                                                                                                                                                                                                                                         |
      | name                            | Required | The name of a product.                                                                                                                                                                                                                                                                                                                                                                                        |
      | description                     | Required | A description for a product. You can include quotes in your product description, if you want to emphasize a word, for example. To do this, put quotes around the product description. For example, "This product description describes my "product" and the product "version"."                                                                                                                               |
      | slug                            | Required | A label for the product that is used in the URL paths. A slug can contain any combination of letters, numbers, periods, hyphens, and underscores. NO spaces or other characters are allowed. By default, the product name is used as the slug.                                                                                                                                                                |
      | status                          | Required | The status of a product, either `Draft` or `Live`.                                                                                                                                                                                                                                                                                                                                                            |
      | commodity_type                  | Required | The commodity type, either `physical` or `digital`.                                                                                                                                                                                                                                                                                                                                                           |
      | upc_ean                         | Optional | The universal product code or european article number of the product.                                                                                                                                                                                                                                                                                                                                         |
      | mpn                             | Optional | The manufacturer part number of a product.                                                                                                                                                                                                                                                                                                                                                                    |
      | sku                             | Optional | The unique stock keeping unit of the product.                                                                                                                                                                                                                                                                                                                                                                 |
      | tags                             | Optional | The product tags used to store or assign a key word against a product. A product can have up to 20 product tags. A product tag can be up to 255 characters. See [**Product Tags**](/docs/api/pxm/products/product-tags).
      | main_image_id                   | Optional | Specifies a unique ID of a main image file for a product. You can include a `main_image_id` for your products for images that are already uploaded to Commerce. See [**Using Main Image Files**](#importing-custom-data-flows).                                                                                                                                                                                        |
      | `template:<flowID>:<fieldSlug>` | Optional | You can also specify custom extension data in the CSV by specifying the flow `ID` or `slug` and the field `name`. For example, `template:<flowSlug>:<fieldName>` format. See [**Importing Custom Data (Flows)**](#importing-custom-data-flows). |
  - name: Product Export
    description: |
      The Export API allows you to import/update products, main image files, and custom extension data. 

      Using the Export API builds a `.csv` file containing the product entries. A `.csv` file can contain up to 10,000 product entries. If you have more than 10,000 product entries, then another `.csv` file is created and so on, until all your products are exported. 

      You might have specified custom extension data in a `.csv` file when you imported the products. These modifications are all exported. So, when you send a request to the Export API, the `.csv` file, included in the Job endpoint response, reflects any changes that you have made. For more information, see [Importing Custom Data (Flows)](/docs/pxm/products/importing-products/product-importer-csv#importing-custom-data-flows).

      After the files are exported, you get a link to the location where the `.csv` files are stored. You can then make any changes to the product fields (modify product information, add main image files, and custom extension data) in your exported `.csv` files. See [**Product Export CSV File**](/docs/api/pxm/products/product-export#product-export-csv-file).

      Once you are happy with your changes, you can import the updated `.csv` files using product import. See [**Product Import/Bulk Update**](/docs/api/pxm/products/product-import-bulk-update).

      ### Characteristics of Exporting Products

      - Product exports are an asynchronous operation. When you send a request to the Export API, it triggers an asynchronous job to build the `.csv` file containing the product entries.
      - Jobs are processed one at a time. You can continue to send product export requests, but those jobs are queued. In other words, Commerce looks for any jobs that have a status of PENDING and starts the job with the earliest created date. This process is repeated until all jobs are processed. See [**Jobs**](/docs/api/pxm/products/jobs).
      - The Export API response includes a job resource. In the response, you can verify the job status; if the status is successful, the response includes a link to the location where the `.csv` file is stored. See [**Product Export CSV File**](#product-export-csv-file). A single CSV file contains 10,000 rows, excluding the header. If you are exporting 50,000 products, the job endpoint response contains links to five `.csv` files; each `.csv` file including 10,000 products.
      - You might have specified custom extension data in a `.csv` file when you imported the products. These modifications are all exported. So, when you send a request to the Export API, the `.csv` file, included in the Job endpoint response, reflects any changes that you have made.
      - You cannot export product bundles.

      ### Product Export CSV File

      The Product Export API generates a Comma Separated Values (CSV) file that you can use to import/update products, main image files, and custom extension data. 

      The `.csv` file is:

       - Comma-separated.
       - Header-based.
         - Header attributes must be the same as the product attributes.
         - Header names can be in any order.
       - Each row after the first line represents a single product.

      The following table describes the headers that are supported.

      | Header                           | Required | Description |                                                             
      |:---------------------------------|:---------|:-----------------------------------------------------|
      | id                               | Optional | A unique product ID that is generated when you create the product. The `id` is used to look up products in the `.csv` file and matches them to the products in your storefront that you want to update.                                                    |
      | external_ref                     | Optional | A unique attribute associated with a product. This could be an external reference from a separate company system, for example. The maximum length is 2048 characters.  |                                                                                          
      | name                             | Required | The name of a product.     |                                                                              
      | description                      | Required | A description for a product. You can include quotes in your product description, if you want to emphasize a word, for example. To do this, put quotes around the product description. For example, "This product description describes my "product" and the product "version"." |
      | slug                             | Required | A label for the product that is used in the URL paths. A slug can contain any combination of letters, numbers, periods, hyphens, and underscores. NO spaces or other characters are allowed. By default, the product name is used as the slug.                |
      | status                           | Required | The status of a product, either `Draft` or `Live`.    |                                                  
      | commodity_type                   | Required | The commodity type, either `physical` or `digital`.    |                                                 
      | upc_ean                          | Optional | The universal product code or european article number of the product.     |                               
      | mpn                              | Optional | The manufacturer part number of a product.       |                                                        
      | sku                              | Optional | The unique stock keeping unit of the product.   |   
      | tags                             | Optional | The product tags used to store or assign a key word against a product. A product can have up to 20 product tags. A product tag can be up to 255 characters. See [**Product Tags**](/docs/api/pxm/products/product-tags
      ).                                                   |
      | main_image_id                    | Optional | Specifies a unique ID of a main image file for a product. See [Exporting Main Image Files](#exporting-main-image-files).  |                                                                                                                       
      | `_created_at`                      | Optional| The date and time a product was created. **Note**: This field does not populate any data; it is provided solely for informational purposes.      |                                                                                                               
      | `_updated_at`                      | Optional | The date and time a product was updated. **Note**: This field does not populate any data; it is provided solely for informational purposes.        |                                                                                                             
      | `template:<templateID>:created_at` | Optional | The date and time a template was created. **Note**: This field does not populate any data; it is provided solely for informational purposes.         |                                                                                                           
      | `template:<templateID>:updated_at` | Optional | The date and time a template was updated. **Note**: This field does not populate any data; it is provided solely for informational purposes.      |                                                                                                              
      | `template:<flowID>:<fieldName>`  | Optional | Custom extension data includes the flow `ID` or `slug` and the field `name`. See [Exporting Custom Data (Flows)](#exporting-custom-data-flows).   |                                                                                                              

      ### Exporting Main Image Files

      The main images that you have previously uploaded Commerce are exported. A `main_image_id` header is added to your `.csv` file. The ID in `main_image_id` is the ID of a file that has already been uploaded to Commerce using [create a file](/docs/pxm/products/product-assets/create-a-file).

      ### Exporting Custom Data (Flows)

      Custom extension data is exported in a `.csv` file by creating a header that includes the flow `ID` or `slug` and the field `name` as shown below:

      - `template:<flowSlug>:<fieldName>`
      - `template:<flowID>:<fieldName>`

      where:

      - `template` must be `template`.
      - one of the following for the template that contains the field whose data you want to export:
        - `flowID` is the ID of the flow.
        - `flowSlug` is the flow slug.
      - `fieldName` is the name of the field whose data you want to export.

      In the following example, for a flow with ID `82c10a02-1851-4992-8ecb-d44f2782d09b` and a field with the name `condition`:

      - the header is `template:82c10a02-1851-4992-8ecb-d44f2782d09b:condition`.
      - the updated custom data is `as-new`.

      | name | slug | sku | status | template:82c10a02-1851-4992-8ecb-d44f2782d09b:condition |
      | :--- | :--- | :--- | :--- | :--- |
      | BestEver Range | bestever-range-1a1a-30 | BE-Range-1a1a-30 | draft | as-new |
  - name: Hierarchies
    description: |
      Use hierarchies to organize your products into categories and sub-categories. Define hierarchies that work for the products in your store.

      A hierarchy is a tree structure that consists of a root node with 1 or more parent nodes. Each parent node can also have one or more children nodes, and so on, creating a parent-child relationship between nodes.

      A product can belong to multiple nodes in multiple hierarchies.

      ![Hierarchy Nodes](/assets/heirarchynodes.png)

      - Sibling nodes are nodes with the same parent. Sibling nodes must have unique names and unique slugs.
      - Nodes that are in different locations in a hierarchy, or across multiple hierarchies, do not need unique names and slugs.

      ![Hierarchy Example](/assets/hierarchexample.png)

      - If you move the **Electric Ranges** node to the **Built-in** node, all the children of the **Electric Ranges** node also move to the **Built-in** node.
      - The nodes **Electric Ranges** and **Gas Ranges** are siblings. They must have unique names and slugs.
      - The **Double Oven** nodes can have the same name because they have different parents.

      You can create the **Major Appliances** hierarchy by performing the following steps.

      1. Using [**Create a Hierarchy**](/docs/api/pxm/products/create-hierarchy), create a hierarchy whose name is **Major Appliances**. Each hierarchy has a hierarchy ID. In other words, the hierarchy ID is the ID of the root node.
      1. Using [**Create a Node in a hierarchy**](/docs/api/pxm/products/create-node), create the following child nodes. When you create a node in a hierarchy, by default, the node is a child of the root node. Specify `sort_order` to configure the order of the nodes.
         - **Ranges**
         - **Refrigerators**
         - **Dishwashers**
      1. Using [**Create a Node in a hierarchy**](/docs/api/pxm/products/create-node), create the **Electric Ranges** node, specifying **Ranges** as the parent node.
      1. Using [**Create a Node in a hierarchy**](/docs/api/pxm/products/create-node), create the following nodes, specifying **Electric Ranges** as the parent node.
         - **Electric Ranges 24ˮ**
         - **Electric Ranges 30ˮ**
         - **Double Oven**
      1. Using [**Create a Node in a hierarchy**](/docs/api/pxm/products/create-node), create the **Gas Ranges** node, specifying **Ranges** as the parent node.
      1. Using [**Create a Node in a hierarchy**](/docs/api/pxm/products/create-node), create the following nodes, specifying **Gas Ranges** as the parent node.
         - **Gas Ranges 24ˮ**
         - **Gas Ranges 30ˮ**
         - **Gas Ranges 32"**
         - **Double Oven**
      1. Using [**Create a Node in a hierarchy**](/docs/api/pxm/products/create-node), create the following nodes, specifying **Dishwashers** as the parent node.
          - **Built-in**
          - **Standalone**

      Once you have created your products, (for more information, see [**Products API**](/docs/api/pxm/products/create-product)), you can use the Hierarchies API to organize your products. 

      - You can associate products with nodes. You cannot associate a product with the root node. For more information, see [**Create Node Product Relationships**](/docs/api/pxm/products/create-node-product-relationship).
      - You can duplicate an existing hierarchy. This is useful because it enables you to quickly and easily create multiple hierarchies with the same node structure. Any nodes in the existing hierarchy are also created in the duplicated hierarchy. In addition, you can optionally specify whether you want products associated with the nodes in an existing hierarchy to be associated with the nodes in the duplicated hierarchy. See [**Duplicate a Hierarchy**](/docs/api/pxm/products/duplicate-hierarchy).
      - You can move an existing node to a different location within the same hierarchy by changing its parent node. If the node has child nodes, they retain their relationship with the moved node. In other words, the node and all its children move to the new location in the hierarchy. For more information, see [**Create a Node in a hierarchy**](/docs/api/pxm/products/create-node).
      - If your store supports multiple languages, you can localize new and existing hierarchies and nodes.

      #### Hierarchies and Catalogs

      The hierarchies determine which products appear in the catalog. When you create a catalog, you specify one or more hierarchies. Only the products that are associated with the selected hierarchies are included in the catalog. Your Front-end developers use the hierarchies to create and populate navigation menus in your storefront. You can improve how your customers search your store using the Catalog View API.

      You can also specify the order you want your hierarchies to display in a published catalog. You can order your hierarchies on a catalog-by-catalog basis.

      ![Hierarchy_sorting](/assets/hierarchy_sorting.png)

      For more information, see Update a Catalog.
  - name: Jobs
    description: |
      Several Product Experience Manager endpoints function as jobs. When any of these endpoints are run, a job is automatically created.

      - product [**import**](/docs/api/pxm/products/import-products).
      - product [**export**](/docs/api/pxm/products/export-products).
      - price book import
      - [**duplicating hierarchies**](/docs/api/pxm/products/duplicate-hierarchy).
      - [**building child products**](/docs/api/pxm/products/build-child-products).

      #### Characteristics of Jobs

      Jobs have the following characteristics.

      - Jobs are asynchronous.
      - Jobs have a different status, depending on where a job is in its lifecycle. See [**Job Lifecycle**](#job-lifecycle).
      - Jobs include the data used when an endpoint is run.
      - Jobs are processed one at a time. You can continue to send requests using endpoints that function as jobs, but those jobs are queued. In other words, Commerce looks for any jobs that have a status of PENDING and starts the job with the earliest created date. This process is repeated until all jobs are processed.
      - Jobs report messages and/or errors to help you understand:

         - what changes a job implemented in Commerce.
         - the reasons for any failed jobs.

      #### Job Lifecycle

      A job has the following lifecycle.

      ![job lifecycle](/assets/job-lifecycle.png)

      - **PENDING** - Commerce has received the request but is currently busy processing other requests.
      - **STARTED** - Commerce has started processing the job.
      - **SUCCESS** - The job has successfully completed.
      - **FAILED** - The job has failed. See [**Get job errors**](/docs/api/pxm/products/get-all-jobs).
paths:
  /pcm/jobs:
    get:
      summary: Get All Jobs
      description: The jobs endpoints displays the status of a number of endpoints that function as jobs, for example, product import and export, price book import, building child products, and duplicating hierarchies.
      operationId: getAllJobs
      tags:
        - Jobs
      responses:
        '200':
          description: Returns all the jobs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/multi'
              examples:
                completed:
                  summary: Get all jobs
                  $ref: '#/components/examples/multi'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
  /pcm/jobs/{jobID}:
    get:
      summary: Get a Job
      operationId: getJob
      tags:
        - Jobs
      parameters:
        - $ref: '#/components/parameters/job_id'
      responses:
        '200':
          description: Returns a job with the following attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single'
              examples:
                started:
                  summary: Started Job
                  $ref: '#/components/examples/started'
                successful:
                  summary: Product Import Job
                  $ref: '#/components/examples/successful'
                product-export:
                  summary: Product Export Job
                  $ref: '#/components/examples/product-export'
                hierarchy-duplicate:
                  summary: Hierarchy Duplicate Job
                  $ref: '#/components/examples/hierarchy-duplicate'
                build-child-products:
                  summary: Build Child Products Job
                  $ref: '#/components/examples/build-child-products'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
  /pcm/jobs/{jobID}/cancel:
    post:
      summary: Cancel a Job
      description: |
        The jobs endpoints display the status of a number of endpoints that function as jobs, for example, product import and export, and duplicating hierarchies.

        Jobs are processed one at a time. You can continue to send job requests, but those jobs are queued. In other words, Commerce looks for any jobs that have a status of PENDING and starts the job with the earliest created date. If you decide that a specific job needs to be prioritized over another, you can cancel the less critical job using the `Cancel a job` endpoint. You can only cancel jobs whose status is PENDING.
      operationId: cancelJob
      tags:
        - Jobs
      requestBody:
        content:
          application/json:
            schema:
              type: object
      parameters:
        - $ref: '#/components/parameters/job_id'
      responses:
        '200':
          description: Successfully cancelled job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single'
              examples:
                cancelled:
                  summary: Cancelled Job
                  $ref: '#/components/examples/cancelled'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
  /pcm/jobs/{jobID}/errors:
    get:
      summary: Get Job Errors
      operationId: getJobErrors
      tags:
        - Jobs
      parameters:
        - $ref: '#/components/parameters/job_id'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors'
              examples:
                errors:
                  summary: Errors Returned
                  $ref: '#/components/examples/errors'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
  /pcm/products:
    post:
      summary: Create a product or bundle
      description: |
        Creates a product or bundle with the attributes that are defined in the body.

        #### Product Types

        Commerce automatically assigns types to the products you create. In Commerce Manager, you can see at a glance the product types in a list of a products. In addition, you can filter on product types in both the API and Commerce Manager. 

        Product types can also be used in catalogs. For example, in your catalog, you can filter on `parent` so that only your parent products are displayed in your storefront. 

        See [**Product Types**](/docs/api/pxm/products/products#product-types).

        #### Product Tags

        You can use product tags to store or assign a key word against a product or service that you sell in your store. The product tag can then be used to describe or label that product. Product tags represent similarities between products who do not share the same attributes. Using product tags means that you can group your products together, for example, by brand, category, subcategory, colors, types, industries, and so on. 

        See [**Product Tags**](/docs/api/pxm/products/product-tags).

        #### Personalizing products

        You can allow your shoppers to add custom text to a product when adding product items to their carts. This is useful, for example, if you have a product like a T-shirt that can be personalized or you sell greetings cards that can be printed with your shoppers personalized messages. You can do this by configuring the the `custom_inputs` attribute.

        When configuring the `custom_inputs` attribute:

        - You can rename `input` to something more representative of the input that shoppers are adding, for example, `message` or `front`.
        - `name` is the name that is displayed in your storefront.
        - You can add validation rules. For example, the input field must be a `string` and/or up to 255 characters in length. The limit is 255 characters.
        - You can specify if the input field is required.

        #### Curating Products

        You can curate the products in a node. Product curation allows you to promote specific products within each node of your hierarchies, enabling you to create unique product collections in your storefront. For example, you may find you have an abundance of cotton T-Shirts and you want to promote these products to the top of the product list. When a shopper navigates to T-shirts, the cotton T-Shirts are displayed first. See [**Update a node**](/docs/api/pxm/products/update-node).

        #### Bundles

        With Product Experience Manager, you can use the products API to create and manage bundles. A bundle is a purchasable product, comprising of one or more products that you want to sell together. 

        See [**Bundles**](/docs/api/pxm/products/products#bundles).
      operationId: createProduct
      tags:
        - Products
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_product_request'
            examples:
              create-product:
                summary: Create a base product
                $ref: '#/components/examples/product_request'
              build-rules:
                summary: Create a base product, associate variations, configure build rules
                $ref: '#/components/examples/build_rules_request'
              sku-bundles:
                summary: SKU-based bundles
                $ref: '#/components/examples/bundle_sku_based_request'
              sku-less-bundles:
                summary: SKU-less bundles
                $ref: '#/components/examples/bundle_sku_less_request'
      responses:
        '201':
          description: Creates a product with the following attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_product_response'
              examples:
                created-product:
                  summary: Create a base product
                  $ref: '#/components/examples/create_single_product_response'
                build-rules:
                  summary: Create a base product, associate variations, configure build rules
                  $ref: '#/components/examples/create_build_rules_response'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
    get:
      summary: Get all products
      description: |
        Retrieves a list of all your products in the Product Experience Manager system.

        You can also use `include` to retrieve top-level resources, such as files or images, and key attribute data, such as SKU or slug for component products in a product bundle. With this option, you can get more information about the products in a product bundle in your store front, improving the buying experience for your shoppers.

        #### Filtering

         Many Commerce API endpoints support filtering. The general syntax is described in [**Filtering**](/docs/commerce-cloud/api-overview/filtering).

         The following attributes and operators are supported.

         | Operator | Attribute                                                                                       | Description                                                                                                                                                                                                           | Example                         |
         | :--- |:------------------------------------------------------------------------------------------------|:----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|:--------------------------------|
         | `eq` | `sku`, `slug`,`upc_ean`, `mpn`, `name`, `templates`, `commodity_type`, `owner`, `product_types`, `tags` | Equals. Checks if the values of two operands are equal. If they are, the condition is true. For `product_types`, you can only specify one product type. For example, `filter=eq(product_types,child)`                 | `filter=eq(name,some-name)`     |
         | `like` | `sku`, `slug`,`upc_ean`, `mpn`, `name`, `tags`                                                          | Like. Checks if the operand contains the specified string. Wildcards are supported.                                                                                                                                   | `filter=like(name,*some-name*)` |
         | `In` | `id`, `name`, `SKU`, `slug`, `upc_ean`, `mpn`, `product_types`, `tags`                                | Checks if the values are included in the specified string. If they are, the condition is true. For `product_types`, you can specify more than one product type. For example, `filter=in(product_types,child,bundle)`. | `filter=in(id,some-id)`         |
      operationId: getAllProducts
      tags:
        - Products
      parameters:
        - $ref: '#/components/parameters/page_offset'
        - $ref: '#/components/parameters/page_limit'
        - $ref: '#/components/parameters/filterproduct'
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          description: Returns a list of all products.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/multi_product_response'
              examples:
                list-products:
                  $ref: '#/components/examples/multi_product_response'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/internal'
  /pcm/products/import:
    post:
      summary: Import Products
      description: |

        You can use the Product Import API to:

        - Add new products, including:

            - main image files. See [Importing Main Image Files](/docs/api/pxm/products/product-import-bulk-update#using-imported-main-image-files).
            - custom data. See [Importing custom data](/docs/api/pxm/products/product-import-bulk-update#importing-custom-data-flows).
            - Make bulk updates to existing products.

        You cannot use product import to:

        - Delete existing products.
        - Import product bundles.

        The Product Import API uses a Comma Separated Values (CSV) file to import products, main image files and custom extension data. Each row in a .csv file represents a product you want to create/update.

        Each file can have 50,000 rows, including the header. If a CSV file exceeds 50,000 rows, an error is displayed, and the products are not imported. A CSV file must not be larger than 50 megabytes. If a CSV file is larger than 50 megabytes, a `503 client read` error is displayed.

        If you want to create/update more than 50,000 products or your CSV file is larger than 50 megabytes, you must have a separate CSV file and import each CSV file one at a time.

        See [**Characteristics of CSV Files**](/docs/api/pxm/products/product-import-bulk-update#characteristics-of-csv-import-files).
      operationId: importProducts
      tags:
        - Product Import/Bulk Update
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  description: The file you want to upload. Ensure that the file format is Comma Separated Values (CSV).
                  type: string
                  format: binary
                  example: UploadFile
            examples:
              upload_image:
                summary: Upload Image
                value:
                  file: '@path/to/file'
      responses:
        '201':
          description: Import started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single'
              examples:
                pending:
                  summary: Successful Job
                  $ref: '#/components/examples/import'
        '400':
          $ref: '#/components/responses/bad_request'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
  /pcm/products/export:
    post:
      summary: Export Products
      description: |

        The Export API is available to make bulk updates to products in Product Experience Manager. You might also export products for your personal requirements. 
         
        The Export API builds a CSV file containing the product entries. A CSV file can contain up to 50,000 product entries. If you have more than 50,000 product entries, then another CSV file is created and so on, until all your products are exported.

        The Job endpoint response specifies the location where the CSV file is stored. See [Characteristics of CSV Files](/docs/api/pxm/products/product-export#characteristics-of-exporting-products).
         
        ### Filtering
         
        The following attributes and operators are supported.

        | Operator | Attribute                                              | Description                                                                                                                                                    | Example |
        | :--- |:-------------------------------------------------------|:---------------------------------------------------------------------------------------------------------------------------------------------------------------| :--- |
        | `eq` | `sku`, `slug`, `upc_ean`, `mpn`, `name`, `description`, `tags`  | Equals. Checks if the values of two operands are equal. If they are, the condition is true. When filtering on tags, you can only specify one product tag.      | `filter=eq(name,some-name)` |
        | `In` | `sku`, `tags`                                                | Checks if the values are included in the specified string. If they are, the condition is true. When filtering on tags, you can specify a list of product tags. | `filter=in(id,some-id)` |
        | `like` | `sku`, `slug`, `upc_ean`, `mpn`, `name`, `description` | Like. Checks if the operand contains the specified string. Wildcards are supported.  | `filter=like(name,some-name)` |
      operationId: exportProducts
      tags:
        - Product Export
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Export started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single'
              examples:
                pending:
                  summary: Successful Job
                  $ref: '#/components/examples/export'
        '400':
          $ref: '#/components/responses/bad_request'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
      parameters:
        - $ref: '#/components/parameters/useTemplateSlugs'
        - $ref: '#/components/parameters/filterexport'
  /pcm/products/{productID}:
    get:
      summary: Get a product
      description: |
        Returns a product by its identifier. 

        You can also use `include=component_products` to retrieve top-level resources, such as files or images, and key attribute data, such as SKU or slug for component products in a product bundle. With this option, you can get more information about the products in a product bundle in your store front, improving the buying experience for your shoppers.
      operationId: getProduct
      parameters:
        - $ref: '#/components/parameters/product_id'
        - $ref: '#/components/parameters/include'
      tags:
        - Products
      responses:
        '200':
          description: Returns a product by its identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_product_response'
              examples:
                get-product:
                  summary: Product
                  $ref: '#/components/examples/get_single_product_response'
                get-product-bundle:
                  summary: Bundle
                  $ref: '#/components/examples/get_bundle_response'
                get-product-component-parent:
                  summary: Parent Product
                  $ref: '#/components/examples/get_parent_product_response'
                get-product-component-child:
                  summary: Child Product
                  $ref: '#/components/examples/get_child_product_response'
                get-product-component-products:
                  summary: Component Product
                  $ref: '#/components/examples/get_component_product_response'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/internal'
    put:
      summary: Update a product or bundle
      description: Specify whichever attributes you want to change. The values of the other attributes remain the same. If the attributes section is empty, the product or bundle is not updated.
      operationId: updateProduct
      parameters:
        - $ref: '#/components/parameters/product_id'
      tags:
        - Products
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_product_request'
            examples:
              update-product:
                summary: Update a base product
                $ref: '#/components/examples/update_product_request'
              update-product-build-rules:
                summary: Update a base product and build rules
                $ref: '#/components/examples/update_build_rules_request'
              update-product-custom-inputs:
                summary: Update using custom_inputs
                description: You can allow your shoppers to add custom text to a product when checking out their carts. This is useful, for example, if you have a product like a T-shirt that can be personalized. You can do this using the custom_inputs attribute when creating your products.
                $ref: '#/components/examples/update_custom_inputs_request'
              update-product-bundle:
                summary: Update a bundle
                $ref: '#/components/examples/update_bundle_request'
      responses:
        '200':
          description: Updates a product with the following attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_product_response'
              examples:
                updated-product:
                  summary: Update a base product
                  $ref: '#/components/examples/update_single_product_response'
                build-rules:
                  summary: Update a base product, configure build rules
                  $ref: '#/components/examples/update_build_rules_response'
                update-product-custom-inputs:
                  summary: Update using custom_inputs
                  $ref: '#/components/examples/update_custom_inputs_response'
                update-product-bundle:
                  summary: Update a bundle
                  $ref: '#/components/examples/update_bundle_response'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/write_conflict'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
    delete:
      summary: Delete a product
      description: |
        Deletes the specified product.

        You cannot delete a product if it is part of a bundle. You must first delete the bundle before you delete the product.
      operationId: deleteProduct
      parameters:
        - $ref: '#/components/parameters/product_id'
      tags:
        - Products
      responses:
        '204':
          description: Deletes the specified product.
        '403':
          $ref: '#/components/responses/forbidden'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
  /pcm/products/attach_nodes:
    post:
      summary: Attach multiple nodes
      description: |
        Assigns products to multiple hierarchies and their children nodes. You can apply a filter to search for the appropriate products to attach to a node. For general filtering syntax, see [**Filtering**](/docs/commerce-cloud/api-overview/filtering).
         
         The following attributes and operators are supported.
         
          | Operator | Attribute                                                                                       | Description                                                                                                                                                                                                           | Example                         |
          | :--- |:------------------------------------------------------------------------------------------------|:----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|:--------------------------------|
          | `eq` | `sku`, `slug`,`upc_ean`, `mpn`, `name`, `templates`, `commodity_type`, `owner`, `product_types` | Equals. Checks if the values of two operands are equal. If they are, the condition is true. For `product_types`, you can only specify one product type. For example, `filter=eq(product_types,child)`                 | `filter=eq(name,some-name)`     |
          | `like` | `sku`, `slug`,`upc_ean`, `mpn`, `name`                                                          | Like. Checks if the operand contains the specified string. Wildcards are supported.                                                                                                                                   | `filter=like(name,*some-name*)` |
          | `In` | `id`, `name`, `SKU`, `slug`, `upc_ean`, `mpn`, `product_types`                                  | Checks if the values are included in the specified string. If they are, the condition is true. For `product_types`, you can specify more than one product type. For example, `filter=in(product_types,child,bundle)`. | `filter=in(id,some-id)`         |
         
      operationId: attachNodes
      tags:
        - Products
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: object
                  required:
                    - filter
                    - node_ids
                  properties:
                    filter:
                      type: string
                      description: |
                        Filters applied to search for appropriate products to attach to a node. See [Attach multiple nodes](/docs/api/pxm/products/attach-nodes).
                      example: eq(sku,book)
                    node_ids:
                      type: array
                      description: A list of node unique identifiers that you want to assign to the products.
                      example:
                        - '123'
                      items:
                        type: string
            examples:
              product-attach-nodes:
                summary: Attach multiple nodes
                value:
                  data:
                    filter: eq(sku,book)
                    node_ids:
                      - '123'
      responses:
        '200':
          description: This request assigns the products that you have selected to multiple hierarchies and their children nodes and returns the following.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      nodes_attached:
                        description: Number of nodes assigned to the products.
                        type: integer
                      nodes_not_found:
                        type: array
                        description: A list of node unique identifiers that could not be identified.
                        example:
                          - '123'
                        items:
                          type: string
              examples:
                created-product:
                  summary: Attach multiple nodes
                  value:
                    meta:
                      nodes_attached: 3
                      nodes_not_found: []
        '400':
          $ref: '#/components/responses/bad_request'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
  /pcm/products/detach_nodes:
    post:
      summary: Detach multiple nodes
      description: |
        Dissociates products from multiple hierarchies and their children nodes. You can apply filters to search for the appropriate products to detach. For general filtering syntax, see [**Filtering**](/docs/commerce-cloud/api-overview/filtering).
         
        The following attributes and operators are supported.
         
        | Operator | Attribute                                                                                       | Description                                                                                                                                                                                                           | Example                         |
        | :--- |:------------------------------------------------------------------------------------------------|:----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|:--------------------------------|
        | `eq` | `sku`, `slug`,`upc_ean`, `mpn`, `name`, `templates`, `commodity_type`, `owner`, `product_types` | Equals. Checks if the values of two operands are equal. If they are, the condition is true. For `product_types`, you can only specify one product type. For example, `filter=eq(product_types,child)`                 | `filter=eq(name,some-name)`     |
        | `like` | `sku`, `slug`,`upc_ean`, `mpn`, `name`                                                          | Like. Checks if the operand contains the specified string. Wildcards are supported.                                                                                                                                   | `filter=like(name,*some-name*)` |
        | `In` | `id`, `name`, `SKU`, `slug`, `upc_ean`, `mpn`, `product_types`                                  | Checks if the values are included in the specified string. If they are, the condition is true. For `product_types`, you can specify more than one product type. For example, `filter=in(product_types,child,bundle)`. | `filter=in(id,some-id)`         |
      operationId: detachNodes
      tags:
        - Products
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: object
                  required:
                    - filter
                    - node_ids
                  properties:
                    filter:
                      type: string
                      description: |
                        You can apply filters to search for the appropriate products to detach. See [Detach multiple nodes](/docs/api/pxm/products/detach-nodes).
                      example: eq(sku,book)
                    node_ids:
                      type: array
                      description: A list of node unique identifiers that you want to assign to the products.
                      example:
                        - '123'
                      items:
                        type: string
            examples:
              product-attach-nodes:
                summary: Attach multiple nodes
                value:
                  data:
                    filter: eq(sku,book)
                    node_ids:
                      - '123'
      responses:
        '200':
          description: The request dissociates the products that you have selected from multiple hierarchies and their children and returns the following.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      nodes_detached:
                        description: Number of nodes dissociated from the products.
                        type: integer
                      nodes_not_found:
                        type: array
                        description: A list of node unique identifiers that could not be identified.
                        example:
                          - '123'
                        items:
                          type: string
              examples:
                created-product:
                  summary: Detach multiple nodes
                  value:
                    meta:
                      nodes_detached: 1
                      nodes_not_found: []
        '400':
          $ref: '#/components/responses/bad_request'
        '422':
          $ref: '#/components/responses/unprocessable_entity'
        '500':
          $ref: '#/components/responses/internal'
  /pcm/products/{productID}/nodes:
    get:
      summary: Get a product's nodes
      description: Returns the nodes associated with the product. Products must be in a `live` status.
      operationId: getProductsNodes
      tags:
        - Products
      responses:
        '200':
          description: Successfully returns the product's nodes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/multi_nodes'
              examples:
                get-product-nodes:
                  $ref: '#/components/examples/resp_multi_nodes'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/internal'
      parameters:
        - $ref: '#/components/parameters/page_offset'
        - $ref: '#/components/parameters/page_limit'
        - $ref: '#/components/parameters/product_id'
  /pcm/products/{productID}/build:
    post:
      summary: Build child products
      description: |
        With product variations in Product Experience Manager, you can create product variations and different options for each variation and use both to create child products for a product. Each child product is a unique combination of options associated with the product.  

        Child products inherit attributes from their parent products. When you make changes to the attributes of the parent products, you can rebuild your child products, ensuring that changes to the parent products are propagated to the child products.

        Alternatively, you can modify a child product independently, without impacting its parent product. For example, you may prefer the status of your child product to be `live`, while keeping the parent product's status as `draft`. When you directly update a child product, it becomes independent of its parent product. In other words, any subsequent changes made to the parent product are not automatically reflected in the child product when you rebuild the parent product and its child products. Once a child product is independent of its parent, you cannot recreate the association between the child product and its parent. You must delete the child product and rebuild the parent to recreate the child product.

        Following on from that, if you add the same flow to both a parent and child product, the child flow values are not affected by changes to the parent flow values in a rebuild.

        ### Using Build Rules

        When building your child products, you can build all products related to a product. 

        Alternatively, you can build a combination of child products associated with a product, based on build rules that you specify. This is useful, for example, if you have a variation option that you do not sell. This makes managing and building your child products quick and easy. You can do this using `build_rules`. `build_rules` are combinations of variation option IDs that you wish to include or exclude when building your child products.

        :::note

        You do not need to configure any `build_rules` in the following scenarios:

        - Child products must be built with all variation options. Simply, use the `Create a product` or `Update a product` endpoints with no `build_rules` specified.
        - Child products must be built apart from all options for a specific variation. In this case, you must remove the variation and use the `Create a product` or `Update a product` endpoints with no `build_rules` specified. In other words, using our example, if none of the `size` options should be included, then remove the `size` variation.

        :::

        The `build_rules` contain:

        - (Required) `default`: specifies the default behavior.
        - (Optional) `include`: specifies the option IDs to include when the child products are built. Each combination consists of a nested array of option IDs from one or more variations. Combinations of option IDs in the nested arrays must come from different variations. See [**Invalid Build Rules**](#invalid-build-rules).
        - (Optional) `exclude`: specifies the option IDs to exclude when the child products are built. Each combination consists of a nested array of option IDs from one or more variations. Combinations of option IDs in the nested arrays must come from different variations. See [**Invalid build rules**](#invalid-build-rules).

        When building child products, Commerce compares each combination of option IDs to these rules to determine how your child products should be built, depending on how you have configured the `build_rules`. It depends on your requirements how you configure your `build_rules`.

        #### Invalid Build Rules

        The `build_rules` are invalid if both the option IDs come from the same variation. Combinations of option IDs in the nested arrays must come from different variations.

        If Commerce cannot resolve the `build_rules` a `could not determine whether to include or exclude a child product due to ambiguous rules` error is returned. This error can occur, for example, if you have the same number of variation option IDs in both the `include` and `exclude` arrays and the variation option IDs match.

        ### Building Child Products

[...]
