openapi: 3.1.0
info:
  title: Catalogs Introduction
  description: >
    Use the catalog-view Service API to create your catalogs.
                  
    You also have the flexibility to create catalogs for different scenarios by
    combining hierarchies of products with a price book. Scenarios might
    include:


    - Multiple geographical regions. Display different catalogs in different
    regions with suitable pricing or combine product hierarchies from two
    different regions to display in a third region.

    - Multiple channels. Display different catalogs based on how a shopper
    accesses your store, such as through a mobile app or a web storefront.

    - Direct to business versus direct to customers. Offer different products
    and prices for business customers versus retail customers.

    - Preferred customers. Offer special pricing to preferred customers while
    displaying a standard price catalog to all other shoppers.

    - Reward programs. Enable reward programs where catalog prices drop after a
    certain spending level is reached.

    - Product sales. Offer sale items for a limited time.
     
    Scenarios are created by defining the context within which a catalog is
    displays. Contexts can be a customer ID, a channel, or any other
    user-defined tag that can be passed to the APIs from the front-end shopper
    experiences.
  version: 1.0.0
servers:
  - url: https://euwest.api.elasticpath.com
    description: EU West Production Server
  - url: https://useast.api.elasticpath.com
    description: US East Production Server
tags:
  - name: Catalogs
    description: >
      A catalog contains the products available for sale either in your
      organization or store. A catalog also contains information about how to
      organize those products for navigation menus and search facets in a
      shopper experience.


      Before you create a catalog you must define the following resources:


      - Hierarchies: hierarchies and nodes to categorize the products. See
      [**Hierarchies**](/docs/api/pxm/products/hierarchies).

      - Products: product information, associated assets, and links to hierarchy
      nodes. See [**Products**](/docs/api/pxm/products/products).

      - Price Books: prices for the products associated with the hierarchies.
      See [**Price Books**](/docs/api/pxm/pricebooks).


      A catalog is a combination of hierarchies and a price book.
       
      ### Products
       
      Commerce automatically assigns types to the products you create. Product
      types can be used in catalogs. For example, in your catalog, you can
      filter on `parent` so that only your parent products are displayed in your
      storefront.
       
      You can use product tags to store or assign a key word against a product
      or service that you sell in your store. The product tag can then be used
      to describe or label that product. Product tags represent similarities
      between products who do not share the same attributes. Using product tags
      means that you can group your products together, for example, by brand,
      category, subcategory, colors, types, industries, and so on. Product tags
      can be used in catalogs. For example, you can categorize your products
      based on color. Your shoppers can then search your products by color,
      enabling shoppers to quickly find what they are looking for, increasing
      the likelihood of a purchase, and boosting conversion rates.
       
      ### Hierarchies
       
      The hierarchies determine which products appear in the catalog, that is,
      only the products that are associated with the selected hierarchies are
      included in the catalog. You can also specify the order you want your
      hierarchies to display in a published catalog. You can order your
      hierarchies on a catalog-by-catalog basis.
       
      ![Hierarchy_sorting](/assets/hierarchy_sorting.png)
       
      For more information, see [**create a
      Catalog**](/docs/api/pxm/catalog/create-catalog).
       
      #### Understanding How Products And Nodes Are Associated
       
      You can use `breadcrumb` metadata to understand how products and nodes are
      associated. it explains how products are associated with parent nodes and
      the relationship among the array of nodes. This is useful if you want to
      improve how your shoppers search within your store.
       
      The `breadcrumb` information that you get in an endpoint response depends
      on whether the endpoint is retrieving product or node details.
       
      |  Object |  Product/Node |  Description |

      | --- | --- | --- |

      | `breadcrumb` | Node | A list of nodes that a product is associated with.
      Up to 10 levels of nodes are displayed, depending on the number of levels
      of nodes you have. |

      | `bread_crumbs` | Product | The relationship among the array of nodes a
      product is associated with, demonstrating the linking of the children
      nodes with the parent nodes. Up to 10 levels of nodes are displayed,
      depending on the number of levels of nodes you have. |

      | `bread_crumb_nodes` | Product | An array of parent node IDs that a
      product is associated with. The `bread_crumb_node` metadata lists up to 10
      levels of parent nodes, depending on the number of levels of parent nodes
      you have. |
       
      #### Understanding `bread_crumbs` Metadata
       
      The following diagram illustrates a parent and child nodes.
       
      ![Breadcrumbs](/assets/breadcrumbs.PNG)
       
      1. The product is in **Node 2**. The ID for **Node 2** is shown first in
      the first set of breadcrumbs.

      1. **Node 2** is part of **Hierarchy 1**. The ID for **Hierarchy 1** is
      shown second.

      1. **Node 1** is the parent node of **Node 2**. The ID for **Node 1** is
      shown last.

      1. The product is also in **Node 3**. The ID for **Node 3** is shown first
      in the second set of breadcrumbs.

      1. **Node 3** is in the root of **Hierarchy 1**. The ID for **Hierarchy
      1** is shown last.
       
      In the `bread_crumb_nodes` metadata, you can see a list of parent nodes a
      product is associated with.
       
      If you subsequently add a product to a new node, then the
      `bread_crumb_nodes` metadata appends the new node to the top of the list.
      Using the example above, if we add the product to **Node 1**:
       
      1. The `bread_crumb_nodes` metadata is generated to show the new node
      appended to the top of the list.

      1. The `bread_crumbs` metadata is updated with the new node.
       
      #### Understanding Breadcrumb Metadata for Child Products
       
      When a catalog is published, the breadcrumb information for a child
      product includes the metadata mentioned for the parent product, in
      addition to the information specific to the child product. For example,
      **Product A** is the parent product, associated with **Node 1** and **Node
      2**. The metadata for child **Product B** includes **Node 1** and **Node
      2**, in addition to its own metadata information.
       
      ### Nodes
       
      The nodes determine which products appear under this in the catalog, that
      is, only the products that are associated with the selected node are shown
      under this node.
       
      ### Price books


      A price book contains the prices for each of the products in the catalog.
      You can create multiple price books for different scenarios, such as
      seasonal sales, business versus retail customer pricing, and reward
      programs. When creating a catalog, you can specify up to five price books.
      You must set a priority for your price books. Product prices are displayed
      in the catalog according to the priority of the price books. See [Create a
      catalog](/docs/api/pxm/catalog/create-catalog).
    x-displayName: Catalogs
  - name: Releases
    description: >
      When a catalog is published, a catalog release is created. A catalog
      release provides a snapshot of the product information taken at the time
      of publication. You can have one or more catalog releases available in
      your organization or in your store. If you publish a catalog for your
      organization, the catalog is available when the store is launched.


      If you have more than one catalog published for your store, use catalog
      rules to specify when to display each catalog. For example, you can use
      [**catalog rules**](/docs/api/pxm/catalog/rules) to schedule a catalog to
      appear during a particular date and time, such as a seasonal catalog. The
      catalog may have different pricing than the other catalogs.


      When a catalog is ready to be used in a store, you publish it. You can
      create and publish catalogs for different contexts and channels.


      Here are some pointers to understand a catalogs' lifecycle.


      - The default catalog is always the oldest published catalog and must have
      have at least one release.

      - At any time, the most recent three catalog releases are maintained.
      Hence, if there is a fourth catalog release, the first catalog release is
      automatically removed.

      - Until the catalog is published again, the previously created three
      catalog releases stay permanently.

      - If you want any other catalog to become the default catalog, you must
      create a catalog rule.

      - If you want the oldest published catalog to become the default catalog,
      you must remove the catalog rule.

      - Use the `sort_order` value in the `variations` to program your
      storefront to display the variation options in the order that you want.


      Here is a diagram that describes a catalogs' lifecycle:


      ![Catalogs' Lifecycle](/assets/catalog-lifecycle.png)
       
      ### Publishing catalogs
       
      When you publish a catalog, the `live` products in the hierarchies appear
      in a catalog release. A catalog release provides a snapshot of product
      information taken at the time of publication. You can have one or more
      catalog releases available in your organization or in your store. If you
      publish a catalog for your organization, the catalog is available when the
      store is launched.
       
      If you have more than one catalog published for your store, use catalog
      rules to specify when to display each catalog. For example, you can use
      [catalog rules](/docs/api/pxm/catalog/rules) to schedule a catalog to
      appear during a particular date and time, such as a seasonal catalog. The
      catalog may have different pricing than the other catalogs. You can have
      multiple published catalogs.
       
      When a catalog is ready to be used in a store, you publish it. You can
      create and publish catalogs for different contexts and channels. You can
      see the differences between the last two consecutive catalog releases. See
      [Publish a catalog](/docs/api/pxm/catalog/publish-release).
       
      You retrieve catalogs for your shopper experience by using the [Catalog
      View API](/docs/api/pxm/catalog/releases).
    x-displayName: Releases
  - name: Rules
    description: >
      If your store requires multiple catalogs, add catalog rules to control
      when a catalog is displayed. A catalog rule contains a catalog plus the
      criteria under which to display the catalog.


      :::caution


      You cannot create catalog rules for organization catalogs.


      :::


      You can use catalog rules to schedule a catalog to appear during a
      particular period, such as on a specific date or during summer. The
      catalog might offer different pricing during this period. The pricing
      depends on the associated price book.


      The following scenarios provides a few examples for using catalog rules.


      - **Multiple geographical regions**. Display different catalogs in
      different regions with suitable pricing or combine product hierarchies
      from two different regions to display in a third region.

      - **Multiple channels**. Display different catalogs based on how a shopper
      accesses your store, such as through a mobile app or a web storefront.

      - **Direct to business versus direct to customers**. Offer different
      products and prices for business customers versus retail customers.

      - **Preferred accounts**. Offer special pricing to a group of users while
      displaying a standard price catalog to other users.

      - **Preferred customers**. Offer special pricing to preferred customers
      while displaying a standard price catalog to all other shoppers.

      - **Reward programs**. Enable reward programs where catalog prices drop
      after a certain spending level is reached.

      - **Product sales**. Offer sale items for a limited time.

      - **Standard pricing**. Display a default catalog to the shoppers who do
      not meet the criteria of the other catalog rules.


      You can define a catalog rule with any of the following criteria.


      - **Accounts**. List the accounts that should see a catalog. When a user
      has logged in with the account, they see the configured catalog.

      - **Customers**. List the customers that should see a catalog. When the
      customer is logged in, they see the configured catalog.

      - **Channel**. Specify a shopper experience, such as web storefront or
      mobile app. Set up the channel to retrieve the catalog from the catalog
      rule that matches that channel.

      - **Other tags**. Create your own user-defined tags. For example, you
      might want to tag by regions or you might want to distinguish between
      business and consumer customers.


      If a catalog rule has no criteria defined, it is the default catalog rule.


      ### Resolving catalog rules


      When there is a request for a catalog, the store displays the catalog with
      the rule that matches the most attributes of the shoppers context.


      The request triggers the following steps:


      1. Compares the shoppers context against the defined catalog rules.

      1. Determines the best match.

      1. Retrieves the catalog associated with the matching catalog rule.


      The follow examples show how the best match might be resolved:


      - A shopper matches one of the `customer_ids` in one catalog rule only.
      The catalog for that catalog rule is displayed.

      - A shopper matches one of the `customer_ids` in one catalog rule only,
      but doesnʼt match any of the `tags` specified in that catalog rule.
      Because there are no other catalog rules for this `customer_id`, the
      catalog for the catalog rule is displayed because it is the best match.

      - A shopper is browsing a store using the stores mobile app, which matches
      `channel=mobile` in two catalog rules. The catalog displayed depends on
      matches with the `tags` or `customer_ids` attributes. If there is no other
      matching attribute, the first catalog rule found by the store is used. The
      best practice is to create catalog rules that cover all cases so that you
      avoid this situation.

      - An unknown shopper is browsing the only channel offered by the seller.
      The store displays the base catalog.
    x-displayName: Rules
  - name: Administrator Latest Releases Catalog API
    description: >
      Use the Administrator Latest Releases Catalog View API to retrieve
      product, hierarchy and node information.


      :::danger


      The Administrator Latest Releases Catalog View API is for Administrator
      use only. Do not use these endpoints on your customer-facing frontends.


      :::


      Publishing a catalog creates a release of that catalog that you can use in
      an organization or in a specific store or other shopper experience. You
      can retrieve the hierarchies, nodes, and the `live` products associated
      with a catalog release. You can see which parent nodes a product is
      associated with. This is useful if want to improve how your shoppers
      search your store, for example.


      Currently, published catalogs are limited to the current release and two
      releases prior to the current release.
    x-displayName: Administrator Latest Releases Catalog API
  - name: Shopper Catalog API
    description: >
      Use the Shopper Catalog View API to retrieve hierarchy, node and product
      information for a catalog release. When you publish a catalog for a store,
      you can define catalog rules so that you can show catalogs with different
      pricing or different products to preferred customers or channels. These
      endpoints can be used in your customer-facing frontends.


      A catalog is a combination of one or more hierarchies, products, and a
      price book. Use the Products API and Hierarchies API to create a hierarchy
      of products that can be included in a catalog. Use the Price Book API to
      associate prices with products.


      ### Characteristics of Shopper Catalogs


      Shopper catalogs can have the following characteristics.


      - Use catalog rules to schedule a catalog to appear during a particular
      date and time, such as a seasonal catalog. The catalog may have different
      pricing than the other catalogs. You can have multiple published catalogs.

      - If you have defined catalog rules and you want to retrieve a published
      catalog for a particular channel or a user-defined tag, you must set the
      appropriate headers in the request:
        - `EP-Channel` - The channel, such as website or mobile app. See [**Create a Catalog Rule**](/docs/api/pxm/catalog/create-rule).
        - `EP-Context-Tag` - A tag defined in the store, such as `clearance`. See [**Create a Catalog Rule**](/docs/api/pxm/catalog/create-rule).
      * When a catalog is ready to be used in a store, you publish it. See
      [**Publish a Catalog**](/docs/api/pxm/catalog/publish-release).

      * You can create and publish catalogs for different contexts and channels.
      You can see the differences between the last 2 consecutive catalog
      releases. See [**Publish a
      Catalog**](/docs/api/pxm/catalog/publish-release).

      * You retrieve catalogs for your shopper experience by using the Shopper
      Catalog View API. For more information on how you can retrieve a catalog
      as a shopper using the Catalog API.

      * When a catalog is published for a store, the corresponding events
      contain `store_id` and `org_id`. 

      * When a catalog is published for an organization, the corresponding
      events contain `org_id`. 

      * Use the `sort_order` value in `variations` to program your storefront to
      display the variation options in the order that you want.


      ### Shopper Catalog Caching


      When conducting a `GET` on `catalog` endpoints, all data returned,
      including catalog releases, products, nodes and hierarchies, are cached
      for 5 minutes. This means, if you call the same endpoint again, the
      catalog data is retrieved from the cached objects pool, optimizing the
      performance and efficiency of your store front.


      If you use any of the `catalog` endpoints with a `filter` or `include`
      query parameter, these are cached separately. 


      The cached entries disappear from the cached objects pool after 5 minutes.
    x-displayName: Shopper Catalog API
  - name: Cart Management
    description: >
      A Cart contains the product and custom cart items that a user intends to
      purchase. After a Cart is ready for Checkout, you can use the [Checkout
      endpoint](/docs/api/carts/checkout) to convert the cart to an order.


      :::note


      - Adding, modifying, or removing any cart items, custom items, or
      promotions always returns the cart meta, calculated using the calculation
      method. This is useful to update the client with up-to-date totals.

      - We will automatically delete carts 7 days after they were last updated.

      - If you do not pass a `X-MOLTIN-CURRENCY` header specifying what currency
      you would like the cart to use, the products in the cart are converted to
      your default currency.


      :::
    x-displayName: Cart Management
  - name: Account Cart Associations
    description: >
      You can create associations between an account and one or more carts.
      After cart associations exist for an account, those carts are accessible
      across any device. You can delete associations as required.


      There are two ways to access the cart: with an [Account Management
      Authentication Tokens](/docs/api/accounts/post-v-2-account-members-tokens)
      and without one.


      ### With an `Account Management Authentication` token


      These endpoints are for users who authenticated implicitly and require an
      Account Management Authentication token in the header to access the
      account cart associations APIs. For more information, see the [Account
      Token](/docs/api/accounts/post-v-2-account-members-tokens) documentation.


      #### Cart creation


      Shoppers create carts and can use any of the carts that they created to
      check out an order.


      :::note


      You can create a cart id, name, and description for the cart. The cart
      requires a name. Ensure that the string length is greater than or equal to
      one. Use any symbol in the name and description. For cart id, ensure that
      you follow the guidelines for safe characters. For more information about
      cart id naming requirements, see [Safe
      Characters](/guides/Getting-Started/safe-characters).


      :::


      ### Without an `Account Management Authentication` token


      These endpoints are for users who use the Client Credentials Token and do
      not require an account management authentication token in the header to
      access the account cart associations APIs. For more information, see the
      [Authentication](/docs/authentication/security) documentation.


      This user acts as a system administrator and can call any account cart
      association operations for any account and cart.


      ### Error Codes


      You might encounter the following response codes, depending on the
      scenario:


      * `400` - `The type does not exist or is not listed as account` - Ensure
      that the type is `account` and is present.


      * `403` - `Cannot associate more than one account`.


      * `403` - `Account does not have the required permissions to fulfill this
      request`.


      * `403` - `Invalid json payload` - Check JSON input. The request body must
      be an array `[]`. If the request body is an object, the error is
      generated.
    x-displayName: Account Cart Associations
  - name: Customer Cart Associations
    description: >
      You can create associations between a customer and one or more carts.
      After cart associations exist for a customer, those carts are accessible
      across any device. You can delete associations as required.


      There are two ways to access the cart: with a customer token and without
      one.


      ### With a `customer` token


      These endpoints are for users who authenticated implicitly and require a
      customer token in the header to access the customer cart associations
      APIs. For more information, see the [Customer
      Token](/docs/customer-management/customer-management-api/customer-tokens)
      documentation.


      #### Cart creation


      Shoppers create carts and can use any of the carts that they created to
      check out an order.


      :::note


      You can create a cart id, name, and description for the cart. The cart
      requires a name. Ensure that the string length is greater than or equal to
      one. Use any symbol in the name and description. For cart id, ensure that
      you follow the guidelines for safe characters. For more information about
      cart id naming requirements, see [Safe
      Characters](/guides/Getting-Started/safe-characters).


      :::


      ### Without a `customer` token


      These endpoints are for users who use the Client Credentials Token and do
      not require a Customer token in the header to access the customer cart
      associations APIs. For more information, see the
      [Authentication](/docs/authentication/security) documentation.


      This user acts as a system administrator and can call any customer cart
      association operations for any customer and cart.


      ### Error Codes


      You might encounter the following response codes, depending on the
      scenario:


      * `400` - `The type does not exist or is not listed as customer` - Ensure
      that the type is `customer` and is present.


      * `403` - `Cannot associate more than one customer`.


      * `403` - `Customer does not have the required permissions to fulfill this
      request`.


      * `403` - `Invalid json payload` - Check JSON input. The request body must
      be an array `[]`. If the request body is an object, the error is
      generated.
    x-displayName: Customer Cart Associations
  - name: Cart Items
    description: Products added to a cart are referred to as a `cart_item`.
    x-displayName: Cart Items
  - name: Checkout
    description: >

      The checkout workflow ties together many of the key concepts covered in
      this section. When a customer initiates the checkout process, an order is
      created from the cart. The order is incomplete until after a successful
      payment is made. A complete order can be shipped and the product deducted
      from inventory counts.


      ![Checkout workflow](/assets/checkout-flow.png)


      ### Summary of the checkout workflow


      1. Add a product to a cart. A cart and its reference number is generated.

      2. Manage the cart items. For example, you might add items, remove items,
      and change quantities.

      3. Check out the cart. An incomplete order is created.

      4. Pay for an order: provide billing and shipping details, if you are a
      new customer. The order is now in the processing status.

      5. If using a manual gateway, after you authorize and capture it,
      Composable Commerce considers the order complete. If you use a third-party
      integration supported by Composable Commerce (such as Stripe), after the
      third-party gateway authorizes and captures the payment, the order becomes
      complete. Usually capture does not occur at the same time as
      authorization. For more information, see the Capture section.

      6. After the order is shipped, you can manually flag it as fulfilled.


      ### Carts


      When a product is added to a cart, a cart is generated together with its
      unique reference ID that on checkout becomes a part of the order ID. If
      you are using our JavaScript software development kit, generating a cart
      reference ID is done for you; otherwise, add a cart reference generator to
      your functionality.


      ### Promotions and custom items


      Optionally, apply a promotion code on a cart, or add custom_items to
      modify the product price (typically to handle taxes, customs, or
      shipping).


      ### Checkout


      You can checkout a cart with an associated customer name and email
      (customer object). Typically, this would be used for new customers or ones
      that prefer to shop as guests. Use the customer.id checkout option to
      checkout for an existing customer. After a successful checkout is
      completed, the response contains an order.


      Email addresses that either begin or end with a period, or contain
      consecutive periods, are considered invalid, resulting in the following
      error:

      ```json

      "errors": [
        {
            "status": 400,
            "source": "data.customer.email",
            "title": "format",
            "detail": "Does not match format 'email'"
        }
      ]
        ```

      ### Payments


      On checkout, an incomplete order is created. You can then use a
      third-party integration to handle your payment gateway. If the payment
      gateway is supported by Composable Commerce, such as Stripe, the payment
      is processed externally but handled internally. When a successful
      validation is returned, Composable Commerce flags the order as complete.


      If you are using a payment method not officially supported by Composable
      Commerce, the gateway needs to be implemented and handled manually. After
      the payment has been authorized and captured either through Commerce
      Manager or API, the status of an order becomes complete.


      ### Shipping


      The status of an order and the status of shipping are handled separately,
      and so an order can be complete but not shipped. Orders that have not been
      shipped yet have a status of unfulfilled. This flag is generated
      automatically by Composable Commerce when an order is created. Currently,
      you can only update the shipping status manually, through the API. After
      the order is shipped, flag its shipping status as fulfilled.


      ### Inventory


      If enabled, you can manage your stock. As such, your stock is
      automatically updated as soon as a product is checked out.
    x-displayName: Checkout
  - name: Orders
    description: >
      An Order is created through the [checkout](/docs/api/carts/checkout)
      endpoint within the Carts API.


      An order is created after a customer checks out their cart. On creation,
      the order is marked unpaid. The customer is prompted for a shipping
      address, a billing address, and a payment method. After the order is
      successfully paid, you can trigger an inventory process and a shipping
      process.


      You can keep a history of orders associated with the customer account.


      ### Reorder


      A re-order is when a shopper copies items from a previous order from their
      order history into a cart of their choice. If a shopper re-orders to an
      empty cart, the same quantities as the past order are applied. If the
      shopper re-orders to an existing cart, and orders the same item, the
      quantity increases. If an item is out of stock, the item is not added to
      the cart, and the shopper sees an insufficient stock error. The tax for
      the items in a re-order is not applied. For more information, see [Tax
      Items](/docs/api/carts/tax-items).
    x-displayName: Orders
  - name: Payments
    description: >
      When you [checkout](/docs/api/carts/checkout) a
      [cart](/docs/api/carts/cart-management), an unpaid
      [order](/docs/api/carts/orders) is returned. You can process the payment
      for the order though a payment gateway.


      :::note


      - You need to configure and enable a payment gateway before you can accept
      payments for orders.

      - Configure your store to use [Manual
      Gateway](/docs/api/payments/update-manual-gateway) to process payments if
      the order total is zero or the payment is through non-supported payment
      providers.

      - There are a number of actions that happen to your inventory when
      checking out and paying for an order. For more information, see
      [Inventory](/docs/api/pxm/inventory/inventories-introduction).

      - We recommend to wait until the payment confirmation process is fully
      completed before proceeding with any additional updates to the order.
      Making simultaneous updates to the same entity immediately after payment
      confirmation can lead to a race condition. To learn more information on
      handling parallel calls to API objects, see [Parallel Calls to API
      Objects](/guides/Getting-Started/api-contract#parallel-calls-to-api-objects).


      :::


      ### Payment Methods


      Depending on the chosen gateway, you may or may not have access to capture
      funds immediately or authorize for later payment. For more information,
      see [Transactions](/docs/api/carts/transactions).


      To make a partial payment in Postman through any payment gateway, specify
      the desired payment amount in the amount field within the request body. To
      learn about Split Payments, see the [Split
      Payments](/docs/api/payments/payment-gateways-introduction#split-payments)
      section.


      #### Purchase


      The simplest method is purchase. The gateway attempts to charge the
      customer immediately, and the result of the attempt is returned.


      You can partially pay funds using purchase method. The gateway attempts to
      charge the customer immediately, and the payment status for an order shows
      `partially_paid`.


      When you Get an order, you can see the following fields in the meta
      object:


      - `balance_owing`: Specifies the outstanding funds required to complete an
      order. It considers all complete or pending transactions, including
      authorized, paid, and captured transactions. (`balance_owing` = order
      total - `authorized` amount - `paid` amount).

      - `paid`: Specifies the total amount of purchased or captured
      transactions.

      - `authorized`: Specifies the total amount of completed or pending
      authorized transactions for an order.


      #### Authorize


      You can `authorize` a payment so funds can later be captured when an item
      is dispatched or restocked.


      You can partially pay for an order using `authorize` payment method so
      that the order is `partially_authorized`. The transaction must be complete
      for the order status to be `partially_authorized`.


      For more information about order and payment statuses for split payments,
      see [Split
      Payments](/docs/api/payments/payment-gateways-introduction#split-payments).


      #### Capture


      After authorizing a transaction, you have to capture the authorized funds.


      :::note


      We recommend capturing payments several hours to days after the
      authorization to mitigate risks of fraud and chargebacks. When you sell
      digital goods that are delivered immediately, we recommend using a single
      purchase call instead of separate authorize and capture calls.


      :::


      After the payment is `partially_authorized`, you must `capture` the
      authorized transaction later. Once you capture the authorized
      transactions, the order payment status will change to `partially_paid`.


      #### Refunds


      You can use either the Refund through Composable Commerce or use the Mark
      as Refunded capability, or a combination of both capabilities.


      For more information about refund for split payments, see [Refund a
      Payment](/docs/api/carts/refund-a-transaction).


      #### Refund through Composable Commerce


      You can start a full or partial refund to a supported payment provider
      directly from Commerce Manager or the API. When you start the refund
      process, the refund request is sent to the payment gateway. You no longer
      have to log on to your payment gateway’s console to process the refund.


      When you process a refund, use the refund endpoint to pass the refund
      amount. If you don’t pass an amount, the refund is processed as Mark as
      refunded. For more information, see the Mark as Refunded section.


      Each time a partial refund is triggered, the transaction.updated event is
      generated and updated with refunded.amount. The `order.updated` event is
      also triggered. The `order.refunded` event generates when the full amount
      is refunded.



      #### Mark as Refunded


      You can use your payment gateway’s console to process a refund. Process
      the refund first in the payment gateway and then use the **Mark as
      Refunded** capability in Composable Commerce to complete the process.


      When an order is **Marked as refunded**, the payment status
      `order.payment.status` is set to refunded. In this case, the
      `order.updated`, `transaction.updated` and `order.refunded` events are
      generated.
    x-displayName: Payments
  - name: Transactions
    x-displayName: Transactions
  - name: Custom Discounts
    description: >
      With custom discounts, you can allow your shoppers to apply discounts from
      external services to their purchases. To apply custom discounts to carts
      and cart items, you need to set `custom_discounts_enabled` field to `true`
      in your [Cart Settings](/docs/api/settings/put-v-2-settings-cart).


      You cannot add custom discounts to an empty cart.


      :::caution


      - You can apply up to five custom discounts to cart and cart item.

      - The stores that use [simple calculation
      method](/guides/How-To/Carts/calculate-totals) do not support custom
      discounts.


      :::
    x-displayName: Custom Discounts
  - name: Tax Items
    description: >
      Taxes differ by country and can differ within the country by region,
      state, or province. Each jurisdiction has a unique tax code and rate. If
      your store serves many jurisdictions, integrate a third-party tax
      generator to manage taxes. If your store serves a few jurisdictions, you
      can use the API to define the tax codes and rates in Composable Commerce.


      Taxes are calculated after all promotional discounts have been applied.
      When calculating taxes on a cart or order, you can choose from the
      following methods for calculating taxes:

        - Simple calculation method: Taxes are calculated at the unit level and are rounded to the nearest penny for the unit.
        - Line calculation method: Default. Taxes are calculated at the line level and are rounded to the nearest penny for the line.
          For more information about calculation methods, see [Calculate cart and order totals](/guides/How-To/Carts/calculate-totals).

      :::note

      Tax items can be added and removed using [client_credentials access
      tokens](/docs/api/authentication/create-an-access-token). Only
      administrators with `client-credentials` access tokens are able to manage
      tax items.

      :::
    x-displayName: Tax Items
  - name: Products
    description: >
      Create the products and services that you want to offer in a subscription.
      For example, an online streaming service organization might have different
      services available for subscription, such as Standard Definition
      Streaming, High-Definition Streaming, and 4K Streaming; each service
      provides a specific level of video quality. 

      Products can have additional attributes, such as price, and rich media
      assets, such as images or files containing additional product details.

       In addition, you can build offerings with products created in Product Experience Manager. Product Experience Manager manages product information, hierarchies, and price books. Ideally, Product Experience Manager becomes the single source of truth for product data across your organization. See [**Create a Product**](/docs/api/pxm/products/create-product).

      You combine your products and plans into offerings. Offerings can contain
      any combination of products and plans. See [**Building an
      Offering**](/docs/api/subscriptions/build-offering).


      Product data is stored in a database. After you have added your products,
      you can update your product information at any time, and include those
      products in your subscription offerings.


      ### Product Media

      Images and files are linked to repeat products using a hypertext reference
      (HREF). You can either upload your images to Commerce using the Commerce
      Files API or you can use your own content delivery network. If you are
      using the Commerce Files API, use [**Create a
      File**](/docs/api/pxm/files/create-a-file) to upload your file and return
      an HREF link in the response.

      An extensive range of [**media and file
      extensions**](/docs/api/pxm/files/files) are supported.


      ### Product Pricing

      You can assign prices for your products and services. You can display
      prices to your customers in their local currency. You can configure up to
      10 currencies per subscription. Use the Commerce Currencies API to
      [**create a currency**](/docs/api/pxm/currencies/create-a-currency). You
      must select one currency to be the default currency. If a default currency
      is not selected, the store uses the United States Dollar (USD). 


      In addition, you can specify a unit price for a product. A unit price is
      the timeframe during which the product price is applicable, either days or
      months. For example, for a streaming service, the price is $12.99 and the
      unit price is months. In other words, the streaming service is available
      for $12.99 a month. You may want to specify a unit price if you have many
      products that all have different prices. Rather than having to create
      separate plans for each product, you can specify the timeframe during
      which the product price is applicable and then create one plan that
      determines the billing frequency for those products.


      Alternatively, when creating a plan, you can configure a total price for
      all the products in an offering. This is useful, as it allows you to
      provide a fixed price for all products in an offering, enabling those
      products to be offered at a discounted price. The prices you specify for a
      plan override the individual product prices you specified when creating a
      product. See [**Plan
      Pricing**](/docs/api/subscriptions/plans#plan-pricing).
    x-displayName: Products
  - name: Plans
    description: >
      You can use plans to model your subscription. Plans are a set of rules and
      conditions that manage the provision of repeat products in an offering. 


      - **Billing Cycles** - Plans specify the frequency at which your customer
      is billed – yearly, monthly, or weekly. See [**Billing
      Cycles**](#billing-cycles).

      - **Trial Periods** - Plans specify any trial periods. See [**Trial
      Periods**](#trial-periods).

      - **Recurring Payments** - Plans specify if the subscription is rolling,
      (customers pay regularly and repeatedly), or closed (customers split
      purchases into a few payments). See [**Recurring
      Payments**](#recurring-payments).

      - **Pricing** - Plans may also specify whether a discount is offered and
      specify the timeframe during which the discount is available to your
      customers. See [**Plan Pricing**](#plan-pricing). 


      You create plans based on your business requirements. Once the plans are
      available, you can associate the repeat products and plans in an offering.
      You can combine and reuse plans in your offerings. Offerings can contain
      any combination of products and plans. For example, your company provides
      customized meal boxes; you can create different subscription plans, like
      weekly or monthly meal boxes at specific prices.


      ### Trial Periods


      You can configure a trial period when creating a plan by providing a value
      in `trial_period`. `trial_period` works with `billing_interval_type`. For
      example, if `billing_interval_type` is months, and `trial_period` is `1`
      then the trial period is 1 month. The trial period becomes active as soon
      as a subscription becomes active. When creating a subscription with a
      trial period, no payment method is required for the customer. An immediate
      invoice is still created, but for a price of zero.


      When a trial period ends, Subscriptions automatically generates an
      invoice. 


      ### Billing Cycles


      You can configure the billing cycle when creating a plan. A plan's billing
      cycle is determined by `billing_interval_type` and `billing_frequency`.
      For example, a customer with a monthly subscription set to cycle on the
      2nd of the month is always billed on the second. The plan is cycled from
      the date a subscription becomes active. 


      You can also combine `billing_interval_type` with `trial_period` to create
      a [**trial period**](#trial-period). 


      ### Plan Pricing

      You can provide a price for the total cost of a plan, or, provide a
      discount on the total cost of all products within an offering. For
      example, you can configure a percentage discount on the total cost of any
      products within an offering.  


      You can configure a total price for all the products in an offering. This
      is useful, as it allows you to provide a fixed price for all products in
      an offering, enabling these products to be offered at a discounted price.
      You can enter a price for all the currencies you have configured for your
      store. See [**Create a
      Currency**](/docs/api/pxm/currencies/create-a-currency).


      Alternatively, when creating your products, you can configure individual
      prices for a product. The prices you specify for a plan override the
      individual product prices you specified when creating a product. See
      [**Repeat Products**](/docs/api/subscriptions/products#product-pricing).


      ### Recurring Payments

      There are two types of recurring payments:

      - customers pay regularly and repeatedly

      - customers split purchases into a few payments


      You can configure this using `end_behavior`. If `end_behaviour` is
      `rolling`, the customers pay regularly and repeatedly. If `end_behavior`
      is `closed`, it allows you to create instalment plans where the customer's
      pay a total amount in a limited number of partial payments.
    x-displayName: Plans
  - name: Features
    description: >
      A feature indicates some benefit that is received as a result of having an
      active subscription. This translates to tags being applied to the
      subscriber's account allowing access to some resource to be controlled.


      There are three types of feature - `access`, `promotion`, and `usage`.


      The `access` feature is designed to simply give access to some resource,
      for example a streaming service. If its tag is present on the subscriber's
      account then access to that resource should be provided.


      The `promotion` feature coupled with the [promotions
      service](/docs/promotions-builder/overview) allows subscribers to get
      access to a specific promotion. This is achieved using a tag which is used
      as a constraint on the promotion. A promotion feature may have multiple
      promotions associated with it, but just one must be selected when
      configuring the feature for an offering's product.

       The `usage` feature is designed to measure some sort of usage of a resource. This currently relies on [commerce extensions](/docs/api/commerce-extensions/commerce-extensions-introduction) to manage usage.

       Once defined a feature may be attached to an offering, making it available for use with any of that offering's products. Once attached it must be configured for each of the offering's products it is applicable to. For the `promotion` feature this involves specifying which of that feature's tags, and hence which promotion, should be applied when subscribed to that offering. Similarly, for the `promotion` feature the default value for the usage metric must be supplied.
    x-displayName: Features
  - name: Offerings
    description: >
      An offering is a combination of products and plans; products are combined
      with one or more plans to form an offering. 


      For example, your company provides online
       streaming of movies, web-series, and music. Your customers can purchase these services through either a weekly or monthly plan.

      Offering products can be either:


      - a subscription product, see [**Create a
      product**](/docs/api/subscriptions/create-product).

      - a Product Experience Manager product, see [**Create a
      product**](/docs/api/pxm/products/create-product)


      ### Offering Examples


      Offerings can have any combination of products and plans. The pricing of
      an offering is determined by the pricing you have configured for your
      products and plans.


      | Example | Product | Plans | Offering |

      | --- | --- | --- | --- |

      | Single product and plan | One product with a product price of $50 | A
      monthly plan with a 5% discount | An offering with a monthly plan for
      $47.50 a month |

      | Single product with multiple plans | One product with a product price of
      $50 | <ul><li>A monthly plan with a 5% discount</li><li>A yearly plan with
      a 10% discount</li></ul> | An offering with two plans: <ul><li>A monthly
      plan for $47.50 a month</li><li>A yearly plan for $45 a month</li></ul> |

      | Multiple products and plan | Two products: <ul><li>One product with a
      product price of $50.</li><li>One product with a product price of
      $75.</li></ul> | A monthly plan with a 5% discount. | An offering with a
      monthly plan for $118.75 a month. | 

      | Multiple products with multiple plans | Two products: <ul><li>One
      product with a product price of $50.</li><li>One product with a product
      price of $75.</li></ul> | <ul><li>A monthly plan with a 5%
      discount</li><li>A yearly plan with a 10% discount</li></ul> | An offering
      with two plans: <ul><li>A monthly plan for $118.75 a month</li><li>A
      yearly plan for $112.50 a month</li></ul> | 


      ### Building an Offering


      Offerings represent a snapshot of their products and plans. If you make
      updates to products or plans within an offering, the original products and
      plans are not updated. Only the products and plans within the offering are
      updated. Alternatively, you can create new products or plans and attach
      them to a new offering.


      When you are building an offering:


      - you can create new plans and products.

      - you can modify existing products and plans. For example, you can modify
      the product price or any attributes of a plan included in the offering.


      Here's how you build an offering:


      1. Create your repeat products. Products can either be subscription
      products or Product Experience Manager products. 

           - to create a subscription product, see [**Create a product**](/docs/api/subscriptions/create-product).
           - to create a Product Experience Manager product, see [**Create a product**](/docs/api/pxm/products/create-product)
      2. Create your plans. 
           - Plans are the rules that govern your subscription, for example, any discount. 
           - You can combine and reuse plans for as many products as you want, making it quick and easy to create your subscription offerings. 
           - An offering must have at least one plan. See [**Create a plan**](/docs/api/subscriptions/create-product).
      3. [**Build your offerings**](/docs/api/subscriptions/build-offering).
      Offerings are the products and plans that a customer can choose. An
      offering can consist of many combinations of a product or plans, depending
      on the products and services you offer.

           - When a [**customer**](/docs/api/subscriptions/subscribers) chooses a plan, a subscription is created. See [**Subscriptions**](/docs/api/subscriptions/subscriptions).
           - Elastic Path Subscriptions manages the billing and recurring payments associated with the subscription. See [**Invoicing and Billing**](/docs/api/subscriptions/jobs).

      ### Editing Offerings


      After saving an offering, you can, at any time:


      - update an offering's details, for example, name or description. See
      [**Update an Offering**](/docs/api/subscriptions/update-offering).

      - update the existing product and plans. 

      - replace an existing product in an offering with a new one. See
      [**Replace a Product**](/docs/api/subscriptions/replace-offering-product)

      - attach a new plan to an offering. See [**Attach a
      Plan**](/docs/api/subscriptions/attach-offering-plan).

      - remove plans. See [**Removing a plan from an
      offering**](/docs/api/subscriptions/delete-offering-plan).


      Any modifications that you make to offerings, and products or plans in an
      offering, does not affect any active subscriptions. The changes take
      effect on all new subscriptions that are created.
    x-displayName: Offerings
  - name: Subscriptions
    description: >
      Elastic Path Subscriptions enables you to manage your subscriptions
      products and plans, using offerings. Offerings can contain any combination
      of plans and a product. When a customer chooses a plan, a subscription is
      created.  


      ### Managing the Subscription Lifecycle


      The subscription lifecycle is the states that a subscription can go
      through when a customer subscribes to a service or a product. 


      A subscription can have the following states:


      - `pending`

      - `canceled`

      - `paused`

      - `resumed`


      #### Creating a pending subscription 


      A subscription can be created in a `pending` state. This is useful for
      several reasons.


      - If there are subscriptions that require user setup or onboarding, for
      example, installing software or setting up preferences. This helps reduce
      shopper frustration during the onboarding process, as the shopper is not
      paying for a service that they cannot use yet.

      - When offering a free trial or promotion, keeping the subscription in a
      pending state until the trial or promotion starts or ends allows you to
      manage transitions more smoothly. 

      - Before a subscription becomes active, you may need to verify the payment
      method or authorize the first payment. Keeping the subscription in a
      pending state allows time to complete these steps without activating the
      subscription.


      For a subscription with a `pending` state, you can also configure a
      `go_live_after` date. The subscription starts from the `go_live_after`
      date. This is useful as it ensures both the subscription provider and
      subscriber are clear about when a subscription officially begins. Once the
      `go_live_after` date is passed, the subscription becomes `active`,
      initiating the billing and payment runs. If a subscription is activated
      this way, you can see this in the `timestamp` meta.   


      You can configure a `go_live_after` date to be a past date. This is
      useful, for example, for backdating a subscription or managing a delay in
      activating a subscription. Setting the `go_live_after` date in the past
      ensures the subscriptions timeline correctly aligns with the agreed-upon
      service start date. 


      :::caution


      Although, billing runs generate one invoice per subscription, if a
      `go_live_date` is set far in the past, multiple invoices could be
      generated over the course of several billing runs, which could be
      frustrating and confusing to your subscribers. 


      :::


      See [create a subscription](/docs/api/subscriptions/create-subscription).


      #### Cancelling or pausing and resuming subscriptions


      A subscriber can decide to cancel or pause and/or resume a subscription.
      The following example describes pausing or canceling and resuming a
      subscription.


      1. The subscriber pauses or cancels the subscription. 
         - The subscription status is `active`. 
         - either `paused` or `cancelled` is set to `true`.
         - either the `paused_at` or `cancelled_at` timestamp is populated with the date and time the subscription is paused or cancelled.
      2. When the next billing run is due, the billing run checks the
      subscription state. If the subscription state is paused or cancelled then
      no invoice is created and the subscription status is updated to
      `inactive`.

      3. Subsequent billing runs skip that subscription completely as the
      subscription status is `inactive`.

      4. If the subscriber resumes the subscription:
         - either `paused` or `cancelled` is set to `false`.
         - the `resumed_at` timestamp is populated with the date and time the subscription is resumed.
      5. When the next billing run is due, the billing run checks the
      subscription state. If the `paused` or `cancelled` is set to `false` then
      the billing run creates an invoice.

      6. The payment run processes the invoice. Once the payment succeeds then
      the payment run updates the status of the subscription to `active`.


      ### Orders


      When a customer chooses a subscription, they need to add the subscription
      to a cart, checkout the cart and then pay for the order. 


      1. When a customer adds a subscription to cart, this is handled using the
      `Add subscription to cart` endpoint. 

      2. Once a subscription has been added to a cart, the [**Checkout
      API**](/docs/carts-orders/checkout-account-management-authentication-token)
      converts the cart to an order. 

      3. Once the order is created, payment needs to be taken. This is handled
      by Elastic Path Payments Powered by Stripe. See
      [**Payments**](/docs/api/subscriptions/invoices#payments).
    x-displayName: Subscriptions
  - name: Jobs
    description: >
      Jobs are an asynchronous process that can be triggered manually or
      scheduled. 


      There are three types of job:


      - a billing run. Subscriptions generates an
      [**invoice**](/docs/api/subscriptions/invoices) when a billing run occurs.
      Billing runs generate invoices for the remaining billing cycles for each
      subscription. The invoice dates come from your plans. Billing runs are
      independent of payment runs.

      - a tax run. Invoices where `tax_required` is `true` will not have payment
      taken until a tax run has added the required tax to the invoice.

      - a payment run. The payment run identifies invoices that are outstanding
      and attempts to take payment for them. If the payment succeeds the the
      invoice is no longer outstanding. If the payment fails for any reason,
      then the invoice remains outstanding and is picked up by the next payment
      run to retry the payment.


      By scheduling billing and payment runs, you automate the process, reducing
      manual intervention and ensuring the jobs are run in a timely manner. See
      [**Schedules**](/docs/api/subscriptions/schedules).


      ### Characteristics of Billing, Tax & Payments Jobs


      Billing and payment jobs have the following characteristics.


      - Jobs are asynchronous.

      - Jobs have a different status, depending on where a job is in its
      lifecycle.

      - Jobs report any errors to help you understand the reason for any failed
      jobs.

      - Only one billing run and payment run is allowed per store at a time.
      Although billing and payments are constantly generated, the jobs are
      queued. Subscriptions looks for any jobs that have a status of PENDING and
      starts the job with the earliest created date. This process is repeated
      until all jobs are processed.


      ### Billing, Tax & Payments Jobs Lifecycle


      A job can have the following status types:


      - PENDING - Subscriptions has received the request but is currently busy
      processing other requests.

      - STARTED - Subscriptions has started processing the job.

      - SUCCESS - The job has successfully completed.

      - FAILED - The job has failed.


      ### Billing, Tax & Payment Reports


      You can track your Subscriptions billing, payment and tax operations using
      reports. There are three types of report:


      - `BillingRunReport` - This report provides invoice summaries such as
      invoices ready for payment, invoices that require tax, and invoice
      failures.

      - `TaxRunReport` - This report provides invoice summaries such as invoices
      to which tax was successfully or unsuccessfully added.

      - `PaymentRunReport` - This report provides invoice summaries such as
      invoices for which payment was attempted, failed payment attempts and
      totals collected by a payment run. 


      See [Get a job](/docs/api/subscriptions/get-job) and [List
      jobs](/docs/api/subscriptions/list-jobs).
    x-displayName: Jobs
  - name: Imports
    description: >
      You can import subscription products, plans and subscribers using
      Subscriptions Import. This is useful if you want to import subscriptions
      from an external system into Elastic Path Subscriptions. 


      The API uses a [**JSONL**](https://jsonlines.org/) file. Here is an
      [**example of a JSONL file**](/assets/subscriptions_import.jsonl).


      When you send an import request, an import job is created. Jobs are
      processed one at a time. You can continue to send import requests, but
      those jobs are queued. In other words, Subscriptions looks for any jobs
      that have a status of PENDING and starts the job with the earliest created
      date. This process is repeated until all jobs are processed. Use [List
      import jobs](/docs/api/subscriptions/list-import-jobs) to see a list of
      all import jobs.


      A file can include up to 50,000 objects. If you have more than 50,000
      objects, then you must create a separate file, and import each file, one
      at a time.


      ### Characteristics of Subscriptions Import


      The Subscriptions Import API has the following characteristics:


      - The Subscriptions Import API reads the entire file and then creates the
      subscription objects. This means the subscription objects can be in any
      order in the file.


      - Subscriptions imports are asynchronous and are processed one at a time.
      You can continue to send import requests, but these are queued. 


      - The API works on a "best endeavours" approach. In other words, the API
      does its best to create the subscription objects based on the file that
      you provide. 


      ### Subscriptions Import File


      The following table describes the subscriptions objects, and their
      attributes, that the import file can include.


      | Object | Attributes |

      | --- | --- |

      | A product object | The attributes you specify for a product object are
      the attributes you specify when [creating a
      product](/docs/api/subscriptions/create-product). |

      | A plan object | The attributes you specify for a product object are the
      attributes you specify when [creating a
      plan](/docs/api/subscriptions/create-plan). | 

      | A subscriber object | The attributes you specify for a product object
      are the attributes you specify when [creating a
      subscriber](/docs/api/subscriptions/create-subscriber). |

      | An offering object | The attributes you specify for an offering object
      are the attributes you specify when [building an
      offering](/docs/api/subscriptions/build-offering). |
    x-displayName: Imports
  - name: Schedules
    description: >
      You can schedule your billing, tax, and payment runs. By scheduling
      billing, tax, and payment runs, you automate the process, reducing manual
      intervention and ensuring the jobs are run in a timely manner.  You can
      define a schedule in the format (`* * * * *`) which is a set of five
      fields in a line, indicating when a job should be executed. For example,
      you can define a schedule so that your job runs multiple times a day, or
      runs on specific days and months.


      Subscriptions runs on Coordinated Universal Time (UTC) time and conforms
      to [**RFC 3339**](https://www.rfc-editor.org/rfc/rfc3339). 


      ### Unrestricted fields


      Setting a field to an asterisk (`*`) is sometimes referred to as leaving a
      field unrestricted because it is not restricted to a specific value.


      You can use the asterisk (`*`) to indicate the range of all values for the
      field. When you use the asterisk, the first value in the range is: 0 for
      the minute, hour, and day of the week (Sunday) fields, and 1 for day of
      the month and the month fields.


      ### Configuring fields


      The time fields have the following format and possible values and must be
      specified in the following order:


      | Field | Format | Description 
      |                                                                                                    

      | --- | --- | -----|

      | Minute | 0-59 | Indicates how far past the top of the hour your job
      runs, in minutes. For example if a minute is set to 0, then the job runs
      at the top of the hour because it is 0 minutes after the hour. This means
      if the hour is 8.00 AM, the job runs at 8.00 AM. |

      | Hour | 0-23 | Indicates how far past midnight your job runs, in hours.
      This is rounded down to the nearest hours. This is because minutes are
      indicated by the minute field. |

      | Day of the month | 0-31 | Indicates the calendar date of the month. For
      example, 1 for the first day of the month. |

      | Month | 1-12 or JAN to DEC | Indicates the month. Specify the month
      number or the first three letters of the month name in uppercase. For
      example, 1 or JAN for January.  |

      | Day of the week | 0-6 (or SUN to SAT, or 7 for Sunday) | Indicates the
      day of the week. Monday is 1, Tuesday is 2, and so on. Either 0 or 7
      indicates Sunday. Alternatively, specify the day of the week using the
      first three letters of the weekday name in uppercase. For example SUN for
      Sunday. If you use this field with the day of the month field, then this
      field is evaluated as an inclusive OR. For example, if the day of the
      month is set to 1 and the day of the week is set to SAT, the job runs on
      the first day of the month and on every Saturday of the month, even if the
      first day of the month is not a Saturday. If the day of the week is marked
      by an asterisk (*) then the field is marked as unrestricted. This means
      the job only runs on the first day of the month. |


      ### Matching all values


      To match all values for a field, set the field to an asterisk (`*`). When
      a field is set to an asterisk, the field matches all valid values for that
      field whenever the other field conditions are satisfied. 

       Here are some examples.

       - `* 0 1 1 1`: the job runs every minute of the midnight hour on January 1st and Mondays.
       - `* * * * *`: the job runs every minute (of every hour, of every day of the month, of every month, every day of the week, because each of these is unrestricted).

       ### Matching a range

       To match a range of values, specify your start and stop values, separated by a hyphen (`-`). Do not include spaces in the range. Ranges are inclusive. The first number must be less than the second number. If you are using abbreviated names for the month or weekday (for example, JAN instead of 1 for the first month of the year), the first value must come earlier in the month or week than the second value.

      The following equivalent examples run at midnight on Mondays, Tuesdays,
      Wednesdays, Thursdays, and Fridays (for all months):

       - `0 0 * * 1-5`
       - `0 0 * * MON-FRI`

      ### Matching a list


      Lists can contain any valid value for the field, including ranges. Specify
      your values, separated by a comma (,). Do not include spaces in the list.


      Examples:


      - `0 0,12 * * *`: the job runs at midnight and noon.

      - `0-5,30-35 * * * *`: the job runs in each of the first five minutes of
      every half hour (at the top of the hour and at half past the hour).


      ### Skipping values in a range


      You can skip values in a range by specifying a rate at which to step
      through the range. To do this, specify the range, followed by the forward
      slash (`/`) and the rate at which you want to skip through the range.


      The step value cannot be larger than the largest possible value for the
      field. The default step is 1, so the step function `/1` is the same as not
      using a step function at all.


      Example ranges that use step functions:


      - `*/2`: this is a valid step function for any field. 
          - For the minute field, it matches 0, 2, 4, ... , 58. 
          - For the hour, it matches 0, 2, 4, ... , 22. 
          - For the day of the month, it matches 1, 3, 5, ... , 31 (for a month with 31 days). 
          - For the month, it matches 1, 3, 5, ... , 11. 
          - For the day of the week, it matches 0, 2, 4, 6.

      - `0-12/2`: this is a valid step function for the minute and hour fields.
      It matches 0, 2, 4, ... , 12.


      Example schedules using step functions:


      - `*/2 * * * *`: the job runs every two minutes.

      - `0 0-12/2 * * *`: the job runs every two hours, on the hour. The first
      run is at midnight. The last run is at noon.
    x-displayName: Schedules
  - name: Subscribers
    description: |
      A subscriber is a someone who subscribes to your product or service.
    x-displayName: Subscribers
  - name: Invoices
    description: >
      Invoices represent the amount a customer owes for a subscription. Elastic
      Path Subscriptions generates an invoice for every period in a subscription
      billing cycle. Invoices provide:


      - an itemized list of goods and services provided by a subscription.

      - the cost of a subscription.

      - if applicable, any taxes.


      The invoice lifecycle is described below.


      1. When a subscription is created, an invoice for the first billing period
      is created. When a subscription is created as part of an order, the
      payment for the order covers the first billing period.

      2. Subscription invoices are created by [**billing
      runs**](/docs/api/subscriptions/jobs). The billing run identifies
      subscriptions that require a new invoice for their next billing period and
      creates them. At this point, invoices are marked as outstanding.

      3. Invoices where `tax_required` is `true` will not have payment taken
      until a tax run has added the required tax to the invoice.  

      3. The [**payment run**](/docs/api/subscriptions/jobs) identifies invoices
      that are still outstanding and attempts to take payment for them. If the
      payment succeeds the the invoice is no longer outstanding. If the payment
      fails for any reason, then the invoice remains outstanding and is picked
      up by the next payment run to retry the payment. If an invoice has a
      failed payment, payment is only retried if the fixed interval has passed
      from the last payment attempt as defined in Settings.


      ### Payment Retries


      It is important to limit the number of times Subscriptions retries a
      failed payment request for many reasons, including: frequent payment
      retries can indicate fraudulent activities; multiple failed payment
      attempts can lead to customers accounts being locked out or flagged for
      suspicious activity resulting in poor customer experience; and excessive
      retries places an unnecessary load on your payment processing system.


      In Subscriptions, by default, the number of payment retries is 10. You can
      set this to a limit between 0 - 20, depending on your requirements. Each
      payment retry is made as a payment run. 


      Once the number of payment retries reaches the limit, the payment retries
      stop, resulting in status of the invoice being unpaid. See
      [Invoices](#invoices).


      When configuring payment retries, you have the following options.


      | Attribute | Required | Description |

      | --- | --- | --- |

      | `payment_retry_type` | Optional | One of the following options:
      <ul><li>`fixed` - use `fixed` if you want a fixed time interval between
      payment retries.</li><li>`backoff` - use `backoff` if you want the time
      between retry attempts to increase exponentially.</li><li>`tiered` - use
      `tiered` if you want to specify a list of time durations.</li></ul>  |

      | `payment_retry_interval` | Optional | Represents the retry interval. For
      example, if `payment_retry_unit` is `week` and `payment_retry_interval` is
      `1` then, the payment retry interval is 1 week.  |

      | `payment_retry_multiplier` | Optional | Use when `payment_retry_type` is
      `tiered` and represents the factor by which the time duration increases
      after each retry.   |

      | `payment_retry_unit` | Optional | Represents the unit of time, either
      `day` or `week`. |


      ### Rounding


      Subscriptions always rounds down to the penny. 


      ### Tax


      Subscriptions allows you to apply any number of tax rates to your invoices
      and subscriptions. When applying a tax rate, you must specify:


      - a name that appears on your customer's invoice that describes the
      specific type of tax.

      - the tax rate which is the percentage of the subscription amount that is
      required to be paid as tax.


      In addition, you can optionally specify the jurisdiction which is the
      geographic area or political entity that has authority to levey and
      collect taxes.


      You can apply more than one tax rate for all items in an invoice. You
      cannot apply a tax rate per line item.


      ### Payments


      When your customers add a subscription to a cart and the cart is checked
      out, an unpaid order is returned. You can process the payment for the
      order though a payment gateway. You can do this using:


      - Elastic Path Payments Powered by Stripe. The Elastic Path Payments
      Powered by Stripe gateway interacts with Stripe to allow your subscribers
      to pay for their subscriptions. 

      - Authorize.Net. 


      #### Using Elastic Path Payments Powered by Stripe


      To use Elastic Path Payments Powered by Stripe gateway, contact the
      [**Customer Success Team**](mailto:customersuccess@elasticpath.com). 


      Create your Stripe account in [**Stripe
      Dashboard**](https://dashboard.stripe.com/login) and complete an
      onboarding form to make payments using the gateway. For more information,
      see [**Onboarding**](/docs/payments/onboarding).


      Once you have signed up for Elastic Path Payments Powered by Stripe, you
      must configure the payment gateway so that your shoppers can make
      payments. See [**Configure Elastic Path Payments Powered by
      Stripe**](/docs/payments/onboarding).


      #### Using Authorize.Net


      To use Authorize.Net, you must have: 


      - an active merchant account with Authorize.Net

      - obtained API credentials. These include an **API Login ID** and a
      **Transaction Key**.

      - Enabled Authorize.Net in Commerce Manager. See [Enabling
      Authorize.net](/docs/commerce-manager/payments/configure-other-payment-gateways#enabling-authorizenet).


      #### Payment Requests


      Subscriptions only supports the `purchase` payment mechanism. The gateway
      attempts to charge the customer immediately, and the result of the attempt
      is returned. If a payment fails, the invoice is kept as outstanding and
      the payment information, with the reason for the failure is attached to
      the invoice. A new payment run is required to attempt another payment. 


      When sending a payment request to the Payments service, you must specify
      the following.


      | Attribute | Required | Description |

      | --- | --- | --- |

      | `gateway` | Required| Either `elastic_path_payments_stripe` or
      `authorize_net`. |

      | `method` | Required | Must be `purchase`.

      | `payment` | Required | The type of payment, for example,
      `pm_card_visa_debit`.

      | `options` | Required | These options must be set as they set up the card
      to be used in future without the customer being present. If these options
      are not set, future payments may fail. There are two options.
      <ul><li>`off_session`. Must be set to `true`. </li><li>`confirm`. Must be
      set to `true`.</li></ul> |


      #### External Payments


      External payments are payment methods not offered by Elastic Path
      Subscriptions (such as Elastic Path Payments powered by Stripe or
      Authorize.net), but they can still be integrated with Subscriptions. To do
      this, you must configure your subscriptions to use external payments by
      setting `manual_payments` to `true`. See [Create a
      Subscription](/docs/api/subscriptions/create-subscription).


      When a subscription is created with `manual_payments` set to `true`:


      1. When the payment run processes the generated invoice, it creates a
      pending payment. A `subscription-invoice-created` event is emitted that
      includes the `subscription_id`, `invoice_id` and `payment_id`. No payment
      is taken. 

      2. You can use the events generated by Elastic Path Subscriptions to
      configure your external payment system to respond to these events,
      ensuring that your external payment system knows when the payment schedule
      has run and it's time to process the payment.

      3. When the external payment system handles the payment (either takes the
      payment successfully or the payment fails) the [Update Invoice
      Payment](/docs/api/subscriptions/update-invoice-payment) endpoint, enables
      the update of the pending payment. 
          - If payment is successful, the invoice is updated to `paid` and the billing/payment cycle continues as normal.
          - If payment fails, the invoice continues to be marked as `outstanding`. The payment is not `pending` anymore. This is because a payment attempt has been made. Following on from this, the next payment run generates another manual pending payment. The external system is notified of this using the `subscription-invoice-payment-updated`.

      #### Card Declines


      Card payments can fail for a variety of reasons, including insufficient
      funds, incorrect card data or fraudulent activity. You can use the
      `card_id` and `customer_id` attributes to program your front-end
      implementation to allow your preferred payment service provider to update
      a subscription with new card details, enabling you to easily manage your
      subscription changes.
    x-displayName: Invoices
  - name: Dunning Rules
    description: >
      Dunning is the process of handling failed payment attempts. This is
      important for recovering revenue from failed payments, reduces customer
      churn and maintains cashflow. By implementing efficient dunning processes,
      you can enhance financial health and operational efficiency.


      Subscriptions enables you to create a dunning rule that allows you to
      configure payment retry schedules. Subscriptions retries failed payments
      automatically. You can customize the timing and frequency of the payment
      retries.


      Dunning is enabled by default. You can choose to disable dunning. If no
      dunning rule is configured, then payment is retried once a day for 10
      days, in total 11 payments. You can decide what action to take after the
      Subscriptions has stopped retrying the payments.


      - Do nothing - the subscription remains active and Subscriptions does not
      attempt to retry the payment. However, the subscription is still available
      for a subscriber to use.

      - Suspend the subscription. Subscriptions does not attempt to retry the
      payment. A subscriber can choose to pay the outstanding invoice. However,
      a subscriber cannot renew their subscription; a merchandizer must renew
      the subscription on behalf of the subscriber.

      - close a subscription. The subscription ends and it's status becomes
      `inactive`. However, a merchandizer can choose to resume the subscription
      if a subscriber pays the outstanding payment.
    x-displayName: Dunning Rules
  - name: Proration Policies
    description: >
      Proration is the adjustment of charges or credits on a subscriber's
      account based on the amount of time a service is used. Proration ensures
      that subscribers are only charged for the actual time they use the
      service, whether they upgrade, downgrade, start, or cancel their
      subscription partway through a billing cycle. This means fair billing for
      your subscribers and provides you with the flexibility to change your
      subscribers subscriptions at any time. 


      ::: note


      Subscriptions use client credentials to enable changes to subscriptions,
      so if you want your shoppers to have the ability to make changes, you can
      implement a BFF layer using this approach.


      :::


      Proration occurs for:


      - Plan upgrades/downgrades:  If a subscriber changes their plan in the
      middle of a billing cycle, proration adjusts the charges to reflect the
      time spent on each plan.

      - Service cancellation: If a subscriber cancels a subscription before the
      end of a billing cycle, they may receive a prorated invoice for the used
      portion of the subscription.

      - Mid-cycle subscription: If a subscriber starts a subscription in the
      middle of a billing cycle, they are charged a prorated amount for the
      remaining days in the billing cycle.


      There are several scenarios when implementing proration policies.


      1. You may want one policy for multiple offerings because only some
      subscriptions need prorating.

      2. You may want a default proration policy for your store.

      3. You may want several policies for different offerings. 


      In Subscriptions, charges only prorate by day. As soon as a subscriber
      changes their subscription, a manual billing run is triggered and an
      invoice is generated with the new price on the next billing run and the
      difference in price is prorated over days.  


      By default, proration is not enabled for Subscriptions. Once you have
      attached a proration policy to an offering, proration is enabled
      automatically.


      ### End dates when switching plans


      Subscriptions manages the subscription end date when shoppers switch from
      one plan to another. Whether or not an end date is configured depends on
      the end behavior of the plans you are switching between.


      | Current Subscription | New Subscription | Proration Behavior | End date
      |

      | --- | --- | --- | --- |

      | `close` | `roll` | The subscription switches from a plan with a fixed
      end date to a rolling plan so no end date is set after proration. | No end
      date is configured. |

      | `roll` | `close` | The subscription switches to a fixed plan, and the
      end date is configured based on the duration of the plan. | An end date is
      configured. |

      | `close` | `close` | The remaining time on the current plan is not
      carried over to the new plan. For example, if your current plan has 3
      months remaining and you switch to a new plan that has a fixed length of 6
      months, the new end date is calculated as 6 months from the day you switch
      plans, effectively resetting the subscription length to the new plan. |
      New end date calculated from the day you switched plan. |
    x-displayName: Proration Policies
  - name: Observable Events
    description: >
      You can integrate Subscriptions with external systems like enterprise
      resource planning, fulfilment and other systems. For example, when a
      subscriber updates their address, the Customer Relationship Management
      system is updated with the change. 


      Events are actions that occur in Subscriptions, such as a subscriber
      changing their address or a subscription changing from active to inactive.
      You can create custom functions that perform additional processing outside
      of Subscriptions, and create integrations so that when an event occurs in
      your store, the custom function is run.


      Events are processed concurrently. This means that events may not be
      delivered in the order they are created. For example, if a subscription is
      updated multiple times, the events may not be delivered in the same
      sequence they were updated. Events operate on an "at least once" delivery
      policy. We aim to deliver messages within 30 minutes or less. Ensure that
      you design your receiving code accordingly.


      For more information about integrating Subscriptions, see [**Integrations
      (Event
      Subscriptions/Notifications)**](/docs/api/integrations/integrations-event-subscriptions-notifications#integration-types).


      | Resource | Action | Observable Key | Availability |

      | --- | --- | --- | --- |

      | Product | <ul><li>Created</li><li>Updated</li><li>Deleted</li></ul> |
      <ul><li>`subscription-product.created`</li><li>`subscription-product.updated`</li><li>`subscription-product.deleted`</li></ul>
      | Store |

      | Plan |  <ul><li>Created</li><li>Updated</li><li>Deleted</li></ul> |
      <ul><li>`subscription-plan.created`</li><li>`subscription-plan.updated`</li><li>`subscription-plan.deleted`</li></ul>
      | Store |

      | Offering |  <ul><li>Created</li><li>Updated</li><li>Deleted</li></ul> |
      <ul><li>`subscription-offering.created`</li><li>`subscription-offering.updated`</li><li>`subscription-offering.deleted`</li></ul>
      | Store |

      | Subscription |
      <ul><li>Created</li><li>Create-failed</li><li>Paused</li><li>Canceled</li><li>Pending-cancel</li><li>Pending-pause</li><li>Resumed</li><li>Closed</li></ul>
      |
      <ul><li>`subscription.created`</li><li>`subscription.create-failed`</li><li>`subscription.canceled`</li><li>`subscription.paused`</li><li>`subscription.pending_cancel`</li><li>`subscription.pending_pause`</li><li>`subscription.resumed`</li><li>`subscription.closed`</li></ul>
      | Store |

      | Job | <ul><li>Created</li><li>Updated</li><li>Deleted</li></ul> |
      <ul><li>`subscription-job.created`</li><li>`subscription-job.updated`</li><li>`subscription-job.deleted`</li></ul>
      | Store |

      | Invoices | <ul><li>Created</li><li>Deleted</li></ul> |
      <ul><li>`subscription-invoice.created`</li><li>`subscription-invoice.deleted`</li></ul>
      | Store |

      | Schedule | <ul><li>Created</li><li>Updated</li><li>Deleted</li></ul> |
      <ul><li>`subscription-schedule.created`</li><li>`subscription-schedule.updated`</li><li>`subscription-schedule.deleted`</li></ul>
      | Store |

      | Subscriber | <ul><li>Created</li><li>Updated</li><li>Deleted</li></ul> |
      <ul><li>`subscription-subscriber.created`</li><li>`subscription-subscriber.updated`</li><li>`subscription-subscriber.deleted`</li></ul>
      | Store |
    x-displayName: Observable Events
  - name: Inventory
    description: >
      The Inventory API allows you to manage stock for products at both
      organization and store levels. Each product keeps a history of inventory
      transactions, enabling easier stock auditing.


      You can specify an initial stock level when you create a product. The
      stock is set to `0` by default.


      :::caution 


      You cannot create multiple inventories of the same organization-level
      product in different stores because no unique stock ID, specific to each
      store, is currently generated. Hence, when you try to manage inventory of
      the same product for different stores, you get an invalid product
      identifier error. 


      :::
    x-displayName: Inventory
  - name: InventoriesTransactions
    description: Methods to allow you to modify and view a products stock via transactions.
    x-displayName: InventoriesTransactions
  - name: Locations
    x-displayName: Locations
paths:
  /catalog:
    get:
      operationId: getByContextRelease
      summary: Get the catalog release as shoppers
      description: Returns a list of all published releases of the specified catalog.
      parameters:
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/tag'
      responses:
        '200':
          description: The catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/release-data'
        default:
          description: The unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
      tags:
        - Releases
      security:
        - bearerAuth: []
  /catalog/hierarchies:
    get:
      operationId: getByContextAllHierarchies
      summary: Get all Hierarchies
      description: >
        Returns all hierarchies from a catalog.


        If you have multiple catalog rules defined, the rule that best matches
        the shoppers context is used to determine which catalog is retrieved.
        For information about how rules are matched, see [Resolving Catalog
        Rules](/docs/api/pxm/catalog/rules#resolving-catalog-rules).


        ### Filtering


        This endpoint supports filtering. For general syntax, see
        [Filtering](/guides/Getting-Started/filtering).


        | Operator | Description | Supported Attributes | Example |

        |:--- |:--- |:--- |:--- |

        | `Eq` | Checks if the values of two operands are equal. If they are,
        the condition is true. | `name`, `slug`| `filter=eq(name,some-name)` |

        | `In` | Checks if the values are included in the specified string. If
        they are, the condition is true. | `id` | `filter=in(id,some-id)` |


        ### Building breadcrumbs in a storefront


        In a catalog, you can use a filter to return a list of nodes in a
        hierarchy structure that a product belongs to. You can use this to build
        breadcrumbs in your storefront. An example is shown below.


        `filter=in(id,c83bfe55-0d87-4302-a86d-ab19e7e323f1,6003d7ef-84f3-49bb-a8bd-4cbfa203dcbb)`


        - Specify the node Ids in the filter expression.

        - You can have as many node Ids as you want.

        - It does not matter what order you specify the node Ids. The nodes are
        returned in the order they were last updated.
      parameters:
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/filter-hierarchy'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: The hierarchies of the catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hierarchy-list-data'
        default:
          description: An unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
      tags:
        - Shopper Catalog API
      security:
        - bearerAuth: []
  /catalog/hierarchies/{hierarchy_id}:
    get:
      operationId: getByContextHierarchy
      summary: Get a Hierarchy
      description: >
        Returns a hierarchy from the catalog.


        If you have multiple catalog rules defined, the rule that best matches
        the shoppers context is used to determine which catalog to retrieve. For
        information about how catalog rules are matched, see [Resolving Catalog
        Rules](/docs/api/pxm/catalog/rules).
      parameters:
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/tag'
        - name: hierarchy_id
          in: path
          description: The catalog hierarchy ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The catalog hierarchy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hierarchy-data'
        default:
          description: The unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
      tags:
        - Shopper Catalog API
      security:
        - bearerAuth: []
  /catalog/hierarchies/{hierarchy_id}/nodes:
    get:
      operationId: getByContextHierarchyNodes
      summary: Get a Hierarchy's Nodes
      description: >
        Returns all the nodes for the specified hierarchy.


        If you have multiple catalog rules defined, the rule that best matches
        the shoppers context is used to determine which catalog is retrieved.
        For information about how rules are matched, see [Resolving Catalog
        Rules](/docs/api/pxm/catalog/rules#resolving-catalog-rules).


        In the `bread_crumb` metadata, you can identify the parent nodes that a
        node is associated with. This is useful if you want to improve how your
        shoppers search your store, for example. See [Product and Node
        Associations in Breadcrumb
        Metadata](/guides/How-To/Catalogs/breadcrumbs).
         
        ### Filtering


        This endpoint supports filtering. For general syntax, see
        [Filtering](/guides/Getting-Started/filtering).


        | Operator | Description | Supported Attributes | Example |

        |:--- |:--- |:--- |:--- |

        | `Eq` | Checks if the values of two operands are equal. If they are,
        the condition is true. | `name`, `slug`| `filter=eq(name,some-name)` |

        | `In` | Checks if the values are included in the specified string. If
        they are, the condition is true. | `id` | `filter=in(id,some-id)` |
         
        ### Building breadcrumbs in a storefront


        In a catalog, you can use a filter to return a list of nodes in a
        hierarchy structure that a product belongs to. You can use this to build
        breadcrumbs in your storefront. An example is shown below.


        `filter=in(id,c83bfe55-0d87-4302-a86d-ab19e7e323f1,6003d7ef-84f3-49bb-a8bd-4cbfa203dcbb)`


        - Specify the node Ids in the filter expression.

        - You can have as many node Ids as you want.

        - It does not matter what order you specify the node Ids. The nodes are
        returned in the order they were last updated.
      parameters:
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/filter-node'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - name: hierarchy_id
          in: path
          description: The catalog hierarchy ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The child nodes of a catalog hierarchy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/node-list-data'
        default:
          description: The unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
      tags:
        - Shopper Catalog API
      security:
        - bearerAuth: []
  /catalog/hierarchies/{hierarchy_id}/children:
    get:
      operationId: getByContextHierarchyChildNodes
      summary: Get a Hierarchy's Children
      description: >
        Returns the parent nodes for the specified hierarchy.
         
        ![Parent Nodes](/assets/rootnodes.PNG)
         
        If you have multiple catalog rules defined, the rule that best matches
        the shopperʼs context is used to determine which catalog is retrieved.
        For information about how rules are matched, see [Resolving Catalog
        Rules](/docs/api/pxm/catalog/rules#resolving-catalog-rules).


        In the `bread_crumb` metadata, you can identify the parent nodes that a
        node is associated with. This is useful if you want to improve how your
        shoppers search your store, for example. See [Product and Node
        Associations in Breadcrumb
        Metadata](/guides/How-To/Catalogs/breadcrumbs).
         
        ### Filtering


        The following operators and attributes are available when filtering on
        this endpoint.


        | Operator | Description | Supported Attributes | Example |

        |:--- |:--- |:--- |:--- |

        | `Eq` | Checks if the values of two operands are equal. If they are,
        the condition is true. | `name`, `slug`| `filter=eq(name,some-name)` |

        | `In` | Checks if the values are included in the specified string. If
        they are, the condition is true. | `id` | `filter=in(id,some-id)` |


        For more information, see
        [Filtering](/guides/Getting-Started/filtering).


        ### Building breadcrumbs in a storefront


        In a catalog, you can use a filter to return a list of nodes in a
        hierarchy structure that a product belongs to. You can use this to build
        breadcrumbs in your storefront. An example is shown below.


        `filter=in(id,c83bfe55-0d87-4302-a86d-ab19e7e323f1,6003d7ef-84f3-49bb-a8bd-4cbfa203dcbb)`


        - Specify the node Ids in the filter expression.

        - You can have as many node Ids as you want.

        - It does not matter what order you specify the node Ids. The nodes are
        returned in the order they were last updated.
      parameters:
        - $ref: '#/components/parameters/channel'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/filter-node'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - name: hierarchy_id
          in: path
          description: The catalog hierarchy ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The child nodes of a catalog hierarchy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/node-list-data'
        default:
          description: The unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
      tags:
        - Shopper Catalog API
      security:
        - bearerAuth: []
  /catalog/nodes:
    get:
      operationId: getByContextAllNodes
      summary: Get all Nodes
      description: >
        Returns all nodes in the catalog.


        If you have multiple catalog rules defined, the rule that best matches
[...]
