NEXT_PUBLIC_EPCC_CLIENT_ID=<required>
EPCC_CLIENT_SECRET=<required>
STRIPE_CLIENT_SECRET=<required>
REVALIDATE_SECRET_TOKEN<required>
NEXT_PUBLIC_DEFAULT_CURRENCY_CODE=
NEXT_PUBLIC_STRIPE_KEY=<required>
NEXT_PUBLIC_EPCC_ENDPOINT_URL=<required>
NEXT_PUBLIC_ALGOLIA_APP_ID=<required>
NEXT_PUBLIC_ALGOLIA_API_KEY=<required>
NEXT_PUBLIC_ALGOLIA_INDEX_NAME=<required>
NEXT_PUBLIC_COOKIE_PREFIX_KEY=<required>
NEXT_PUBLIC_BRAINTREE_KEY=<required>
NEXT_PUBLIC_CONTEXT_TAG=
NEXT_PUBLIC_CHANNEL=
NEXT_PUBLIC_DEMO_PROMO_ID=
NEXT_PUBLIC_DEMO_NODE_ID=
SITE_NAME=My Site