name: Generate Examples

on:
  push:
    branches-ignore:
      - main
      - changeset-release/main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Create latest examples
    runs-on: ubuntu-latest
    outputs:
      commit_sha: ${{ steps.commit_changes.outputs.commit_long_sha }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Install Dependencies
        run: yarn

      - name: Make .env.examples file
        run: |
          echo "${{ secrets.EXAMPLES_ENV_FILE }}" > .env.examples

      - name: Build Latest CLI and generate examples
        run: yarn examples

      - name: Commit changes
        id: commit_changes
        uses: EndBug/add-and-commit@v9
        with:
          message: 'chore: generate latest examples'
          committer_name: GitHub Actions
          committer_email: 41898282+github-actions[bot]@users.noreply.github.com
          default_author: github_actions
          add: '*'

  run-unit-basic:
    name: Run unit tests for examples
    needs: build
    defaults:
      run:
        working-directory: examples/basic
    runs-on: ubuntu-latest
    steps:
      - name: Checkout files
        uses: Bhacaz/checkout-files@v2
        with:
          files: examples/basic
          branch: ${{ needs.build.outputs.commit_sha || github.sha }}

      - name: Install Dependencies
        run: yarn --ignore-scripts

      - name: Run unit tests for latest examples
        run: yarn test
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: coverage
          path: examples/basic/coverage

      - name: "Create a check run"
        if: ${{ needs.build.outputs.commit_sha }}
        uses: actions/github-script@v6
        env:
          parameter_url: '${{ github.event.workflow_run.html_url }}'
        with:
          debug: ${{ secrets.ACTIONS_STEP_DEBUG || false }}
          script: |
            await github.rest.checks.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              head_sha: "${{ needs.build.outputs.commit_sha }}",
              name: "Unit Tests",
              status: "completed",
              conclusion: "success",
              output: {
                title: "Unit Tests",
                summary: "my *check* summary",
                text: "my text",
              },
            });

  run-e2e-basic:
    name: Run e2e tests for examples
    needs: build
    defaults:
      run:
        working-directory: examples/basic
    runs-on: ubuntu-latest
    steps:
      - name: Checkout files
        uses: Bhacaz/checkout-files@v2
        with:
          files: examples/basic
          branch: ${{ needs.build.outputs.commit_sha || github.sha }}

      - name: Make .env.test file
        run: |
          echo "${{ secrets.TEST_ENV_FILE }}" > .env.test

      - name: Install Dependencies
        run: yarn --ignore-scripts

      - name: Run e2e tests for latest examples
        run: yarn test:ci:e2e
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: test-results
          path: examples/basic/test-results

      - name: "Create a check run"
        if: ${{ needs.build.outputs.commit_sha }}
        uses: actions/github-script@v6
        env:
          parameter_url: '${{ github.event.workflow_run.html_url }}'
        with:
          debug: ${{ secrets.ACTIONS_STEP_DEBUG || false }}
          script: |
            await github.rest.checks.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              head_sha: "${{ needs.build.outputs.commit_sha }}",
              name: "Generate Examples",
              status: "completed",
              conclusion: "success",
              output: {
                title: "Generate Examples",
                summary: "my *check* summary",
                text: "my text",
              },
            });
