name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Fetch git tags
        run: git fetch origin 'refs/tags/*:refs/tags/*'

      - uses: pnpm/action-setup@v2
        with:
          version: 9

      - name: Setup Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: "pnpm"

      - name: Make .env file for composable-cli package
        run: |
          touch ./packages/composable-cli/.env
          echo POSTHOG_PUBLIC_API_KEY=${{ secrets.POSTHOG_PUBLIC_API_KEY }} >> ./packages/composable-cli/.env
          cat ./packages/composable-cli/.env

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Packages
        run: pnpm build:packages

      - name: Show Git status
        run: |
          git status

      - name: Revert README changes
        run: |
          # Revert tracked (staged + unstaged) changes
          git restore --staged --worktree ':(icase,glob)**/readme.md'
          # Remove untracked README files, if any were created during build
          git ls-files -o --exclude-standard -z ':(icase,glob)**/readme.md' | xargs -0r rm -f

      - name: Show Git diff
        run: |
          git diff

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          version: pnpm ci:version
          publish: pnpm ci:publish
          commit: "chore: release packages"
          title: "chore: release packages"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
